[2019-04-15 05:55] hongquan commented on #481
@norbusan
Could you explain why

About using `_` prefix to avoid collision, I feel it looks weird and ugly. Many softwares like PostgreSQL, MySQL, Redis come with dedicated username without that underscore. But yes, because we want to support normal desktop user, we should think about this. How about `susiai`?

[2019-04-15 12:44] norbusan commented on #481
On current desktop, the pulseaudio deamon is often started in the user session, that is, when a user logs in, Other users, in our case the `susi` user will most probably not have access to the microphone or loudspeaker (access denied).

That is true. The underscore is not a required option. It is one option to make sure that we don't create a username that might be taken at the moment or in the fu

[2019-04-15 19:33] stealthanthrax commented on #479
Alright @norbusan . Got it 👍

[2019-04-16 02:53] hongquan opened #482 "Clean code to match Python coding style"
### Describe the bug
Currently, many parts of our code don't follow Python coding style. Now, please clean it.
Please also group and arrange the `import` lines.

### Objective
- Follow PEP8 as much as possible. For line length, it can be 120 chars (PEP8 suggests 79, but I think that number is only relevant for old display device, while all of us now use wide screen monitor).
- Don't leave unused "

[2019-04-17 17:26] VishalSharma0309 opened #484 "Duplicate import of flask module"
#### Describe the bug
Different packages have been imported from the same package in two different lines making the code inefficient

#### To Reproduce
Steps to reproduce the behavior:
1. Go to 'https://github.com/fossasia/susi_linux/blob/development/access_point/server/server.py'
2. Scroll down to 'line 10 and 11'
4. See the duplicate import

#### Expected behavior
Both the imports should be made

[2019-04-20 19:49] #484 closed

[2019-04-20 19:55] VishalSharma0309 commented on #244
I would like to work on this. @stealthanthrax

[2019-04-20 19:56] VishalSharma0309 commented on #171
I would like to work on this one. @stealthanthrax

[2019-04-20 20:14] stealthanthrax commented on #244
Sure @VishalSharma0309 . Go ahead :+1:

[2019-04-26 14:04] norbusan opened #493 "Keep configuration file in default place below $HOME/.config"
Currently, all the `susi_linux` utilities (config_generator, configure, authenticate, ...) are expecting the configuration file `config.json` in the CWD. This is not really a good solution:
- installation into system directories requires wrapper scripts
- relocation will mean loss of configuration
- the freedesktop standard https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.ht

[2019-04-26 14:37] norbusan commented on #479
Installation on Ubuntu should now work using https://raw.githubusercontent.com/fossasia/susi_installer/development/install.sh
It allows installation on RPi, Ubuntu, and Debian.

I have only tested Debian and RPi, so experiences with Ubuntu would be appreciated.

[2019-04-26 14:38] norbusan commented on #451
See https://raw.githubusercontent.com/fossasia/susi_installer/development/install.sh for a working version

[2019-05-12 23:58] stealthanthrax opened #495 "All the images/gif in Readme are broken"
#### Describe the bug
After the folder architecture change of the project, links to all the demo images/gifs have been broken.

#### Expected behavior
To fix the links and updated the README

#### Additional context
Add any other context about the problem here.

[2019-05-13 00:26] norbusan commented on #495
@stealthanthrax Where are these demos? Where can I check them?

[2019-05-13 19:38] stealthanthrax commented on #495
@norbusan , I believe they were removed when the folder architecture was changed but I can add them from the history

[2019-05-14 01:40] norbusan commented on #495
I think the documents should be updated to point to `susi_installer`, where the images are better placed, IMHO.

[2019-05-15 06:30] stealthanthrax commented on #495
Okay @norbusan . That makes sense. I'll just remove the broken links from here.

[2019-05-17 05:51] norbusan commented on #479
Ubuntu install is working on 18.04 and 19.04, automatically tested on travis. Closing this issue

[2019-05-17 05:51] #479 closed

[2019-05-17 05:52] norbusan commented on #476
DOne via susi_installer and triggers from susi_linux, susi_python, closing this issue

[2019-05-17 05:52] #476 closed

[2019-05-17 05:53] norbusan commented on #453
I think the problem is only with the boot not waiting for the server actually started. The recent changes I made in susi_installer and the systemd script should fix that. I suggest closing this.

[2019-05-17 05:55] norbusan commented on #452
Fixed. I have commented out the test section, and only added the trigger rebuild on susi_installer on changes in the travis.yml. Closing this issue

[2019-05-17 05:55] #452 closed

[2019-05-17 05:56] norbusan commented on #493
I think this is already fixed by using the configuration file in `SUSI.AI/config.json`, thus closing this issue

[2019-05-17 05:56] #493 closed

[2019-05-17 05:58] norbusan commented on #451
Hi @irthomasthomas
the current installer in `susi_installer` works on Debian stretch and above, and Ubuntu 18.04 and above. Please use it.

[2019-05-17 05:58] #451 closed

[2019-05-17 06:00] norbusan commented on #447
Isn't that already possible via the configuration setup?

[2019-05-17 06:03] norbusan opened #496 "stopping sound hangs device"
Currently, when I tell SuSI:
[code]
it always plays the same music on the RPi. Then, when I say
[code]
it does stop the `vlc` process, but keeps it hanging somehow occupying the sound card. Asking Susi for something new does not play the detection bell sound, but hangs, too:
[code]

This needs improvement.

[2019-05-17 06:06] norbusan opened #497 "susi linux takes too much resources on rpi"
Currently, susi_linux listening for the keyword takes too much CPU time, approx 25%.

htop screenshot attached. It would be great if we could reduce that.
![Screenshot from 2019-05-17 15-05-24](https://user-images.githubusercontent.com/1735589/57906566-65922100-78b5-11e9-9b0a-353159ae2355.png)

[2019-05-18 18:21] stealthanthrax opened #499 "Architecture for a Soft Reset"
#### Is your feature request related to a problem? Please describe.
Currently. the factory reset architecture is broken in SUSI Linux.

#### Describe the solution you'd like
A possible architecture for the soft reset
1. There should be a stable version of the of our image on say "downloads.susi.ai" uploaded maybe manually to somehow distinguished from normal updates.

2. As soon as the installer s

[2019-05-19 03:19] norbusan commented on #499
Hi @stealthanthrax

I agree we can do better with respect to reset features, but I propose the following

- first we **check** whether the current factory reset works (in the old and new images)
- we use a factory reset method that only uses data on the device, so it can be done offline
- we can offer soft (configuration remains) and hard (configuration is removed) reset

Separately, we provide up

[2019-05-19 04:27] norbusan opened #500 "Re-design - support for async"
Currently, we have one state machine

	idle   --(hotword)-->  recognizing  --(recognized)--> busy   ----> idle
                                    |---------(not recognized)--> error ----^
In addition, when in the busy state we have a stop detector that allows to interrupt audio/video playback (in principle).

But other actions, like searching, volume, asking the time etc are not possible while in

[2019-05-19 08:25] stealthanthrax commented on #499
@norbusan , do you mean that we check for the new backup images in an update daemon?

[2019-05-19 08:31] stealthanthrax opened #501 "More models for offline Speech Recognition"
#### Describe the bug
Currently, offline Speech Recognition only recognizes US English and more languages need to be supported.

#### Expected behavior
Configure more models from here https://sourceforge.net/projects/cmusphinx/files/Acoustic%20and%20Language%20Models/

#### Additional context
Reference for installation can be taken from here : https://github.com/Uberi/speech_recognition/blob/maste

[2019-05-19 08:37] hongquan commented on #500
Agree about threads. Most of the work are done by external program: VLC, calling Google API, so GIL is not a problem.

[2019-05-19 08:46] norbusan commented on #499
I wouldn't as daemon, but as a systemctl based Cron like job, better than having another job running.

[2019-05-19 10:29] hongquan commented on #501
Good!

[2019-05-19 10:29] stealthanthrax commented on #499
Oh okay. That makes sense.

[2019-05-19 10:30] hongquan commented on #499
It is systemd timer.

[2019-05-19 10:31] norbusan commented on #501
I think this is a very good idea, but we need setup interface for new languages, and isn't it some other service that by default is used for speech recognition?

[2019-05-19 10:31] norbusan commented on #499
Yeah that one ;-)

[2019-05-19 11:43] stealthanthrax commented on #500
How will this thread work? How will we pass the recognized audio to this thread?

states: - idle - busy

[2019-05-19 13:28] norbusan commented on #500
So many options, just search for python inter thread communication.

For example a queue https://www.bogotobogo.com/python/Multithread/python_multithreading_Synchronization_Producer_Consumer_using_Queue.php

[2019-05-19 16:05] norbusan commented on #500
Controlling VLC via python - it is much better to use the python vlc module, here example code:
[code]
This can easily be integrated into a receive message system sent from other threads.

[2019-05-19 17:37] norbusan commented on #500
Just for the reference, here is a minimal command line player that supports
[code]
and all this is done via a separate thread

BUT: we actually don't need a separate thread, since the VLC module returns immediately, we can just wrap all that up in more simple calls in the state machine ... working on that now ...
[code]

[2019-05-19 17:44] stealthanthrax commented on #500
@norbusan , if we can run this through a flask server, we can also integrate the play/pause/stop/restart functionality in the mobile app and control the music via the app as-well.

Also , we were using the python-vlc module before but we removed it because of some issue.

[2019-05-19 18:00] norbusan commented on #500
@stealthanthrax yes, that would be possible. Then the processing would just curl to the url/port to play a song or say something.

Concerning python-vlc, indeed, now I see that it is in the requirements.txt, but nowhere used.

Do you have any further information **why** it was not used or what was the problem?

[2019-05-20 18:42] stealthanthrax commented on #500
@norbusan , vlc was removed here(https://github.com/fossasia/susi_linux/pull/450/files) in order to add multiple query support for music player. And `cvlc` was run as a background process instead.

[2019-05-20 19:35] norbusan commented on #500
@stealthanthrax Yes indeed, but I don't see how this properly deals with async support? And why this couldn't have been realized by having a thread (or the flask server as before) doing audio output?

The discussion states

but I don't see that change actually happening. What has happened is that the StopDetector was added, that allows for partial recognition during playback.

Before I do all that

[2019-05-20 20:18] stealthanthrax commented on #500
@norbusan Now I remember. I was unable to implement a multi-threaded architecture for the complete system and hence I used the `cvlc` module to play/pause and stop the music using a temporary way as we needed a way to add music controls at that time.

[2019-05-20 20:28] norbusan commented on #500
@stealthanthrax aah, ok, that explains a lot ... but, btw, why do we need a multi threaded approach for the vlc playback? The commands of `python-vlc` (like .play(), .pause(), ...) return immediately, so one can actually implement playback control, including reduction of volume etc, in the same main thread.

An example (quick and dirty hacked together while watching my child) is in the branch `bet

[2019-05-20 20:29] norbusan commented on #500
This is of course work in progress ..

[2019-05-21 16:46] stealthanthrax commented on #500
@norbusan , this looks nice!! What is the `say` function though?

[2019-05-21 17:16] norbusan commented on #500
"say" is for short utterances that may interrupt audio playback (music) but the music would be restarted after that. So if I listen to audio I can ask a question, get an answer, and the music would continue.

[2019-05-22 19:10] stealthanthrax commented on #501
@norbusan , we use google stt when we are online and we use PocketSphinx when we are offline

[2019-05-24 05:16] hongquan commented on #496
Maybe we stopped VLC in a dirty way? Maybe we should tell VLC to stop the music first, then kill it?

[2019-05-24 09:07] norbusan commented on #496
I think this should be fixed by the susi_linux audi thread rework, later on.

[2019-05-24 19:59] alok760 opened #502 "Add support for other debian based distros like mint"
#### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
- Currently, the installer only supports Debian, Ubuntu 18.04 and 19.04

#### Describe the solution you'd like
A clear and concise description of what you want to happen.
- Add support for other Debian based distributions such as Linux Min

[2019-05-24 20:04] norbusan commented on #502
Mint should already be working (because @Orbiter pushed me to that on the gitsatellite conference), but the others I have no idea about.What I would need from those is the output of `lsb_release -r` and `lsb_release -i`, and what kind of packages from
[code]
and `python3-alsaaudio` are available.

[2019-05-25 20:57] norbusan commented on #502
This should actually be an issue of `susi_installer`. Unfortunately the "Transfer issue" does not work for me.

I have added support for Mint in a branch.

[2019-05-26 21:13] alok760 commented on #496
saying stop doesn't stop the song in my case
![image](https://user-images.githubusercontent.com/14289201/58387228-225c4e80-8029-11e9-84cb-b23a760dcaf0.png)

[2019-05-27 01:02] alok760 opened #503 "Saying stop doesn't stop the song"
#### Describe the bug
A clear and concise description of what the bug is.
After a song is played, if susi is asked to stop it displays " stopped." but the music resumes
#### To Reproduce
Steps to reproduce the behaviour:
- Ask SUSI to play a song: "SUSI, play nyan cat"
- Ask SUSI to stop

#### Expected behaviour
A clear and concise description of what you expected to happen.
- the song should stop

[2019-05-27 16:26] alok760 opened #505 "wake button doesn't work when the music is playing or when the device is in busy state"
#### Describe the bug
A clear and concise description of what the bug is.
- Wake button(on respeaker hat) doesn't work when the device is in the busy state. wake button can be required for example to stop/pause a song. (hotword sensitivity is also lowered in the busy state).

#### To Reproduce
use wake button while playing a song

#### Expected behaviour
wake button should work in the busy state

[2019-05-28 01:34] alok760 commented on #503
This issue was fixed in the susi_server repository with the commit fossasia/susi_server@a507e94
clossing the issue now.

[2019-05-28 01:34] #503 closed

[2019-05-29 17:41] norbusan commented on #499
With the latest changes supporting soft and hard reset, we are a bit better off now. @stealthanthrax do you think we need more functionality then what is provided by now? If not, we can close this issue

[2019-05-29 17:45] norbusan commented on #500
@stealthanthrax I have tried moving all sound playback (including the ding sound etc) to a flask server and make the susi_linux only hit the respective URLs. That *does* work indeed, but adds a bit of latency. I am not sure which approach I want to suggest. My current dev branch does all the stuff within the python code, no server is used.

I think it boils down how important music playback via mo

[2019-05-29 18:14] stealthanthrax commented on #499
@norbusan , I think we can close it now.

[2019-05-29 18:14] #499 closed

[2019-05-29 18:17] stealthanthrax commented on #500
@norbusan , I wouldn't recommend removing the flask server as it would restrict a lot of future functionalities.

[2019-05-29 18:19] #505 closed

[2019-05-29 22:42] norbusan commented on #500
@stealthanthrax I agree, see my comments in the gitter channel. But what the server is providing at the moment is just a json answer of the url of the audio track of a video using pafy, not doing any media playback whatsoever.

I probably will go with my last version:
- provide a better audio output server that can react to pause/play/volume changes/...
- interface that into susi_linux
- but play

[2019-05-30 03:09] hongquan commented on #500
@norbusan
About a dedicated server to play audio and react to pause/play/volume changes, I already thought about [MPD](https://github.com/MusicPlayerDaemon/MPD). Do you have the same thinking?

[2019-05-30 03:39] norbusan commented on #500
Hmm, I was thinking about some home-grown Flask that used python-vlc. It is so simple, I had already the code finished and working, just about 50 lines or so. MPD is nice, but big, and does much much more that we really need.

[2019-05-30 03:45] hongquan commented on #500
Then, it is Ok.

[2019-05-30 05:56] norbusan commented on #500
@hongquan Ok, here is the code:
- VlcPlayer, a module that plays music via python-vlc, support for youtube, too
  https://github.com/fossasia/susi_installer/blob/development/vlcplayer/__init__.py
- SoundServer, making the functionality of vlcplayer available via web interface
  https://github.com/fossasia/susi_installer/blob/development/soundserver/soundserver.py

My plan is to use the soundserver

[2019-05-30 05:58] norbusan commented on #500
From the git commit:
[code]

[2019-05-30 22:50] alok760 opened #508 "on saying "stop" smart speaker says "I don't have an answer to this""
#### Describe the bug
A clear and concise description of what the bug is.
- whenever music is playing, on saying "stop" the smart speaker says "I don't have an answer to this" and then stops the song

#### To Reproduce
Steps to reproduce the behaviour:
Smart Speaker -
1. Susi, Play a song
2. Susi, Stop

#### Expected behavior
A clear and concise description of what you expected to happen.
- either

[2019-05-30 23:27] alok760 commented on #508
I am working on this.

[2019-05-31 06:05] norbusan commented on #508
It is trivial, in `busy_state.py` there is a long list of
[code]
These are no `elif` but just `if ...`
There is a test
[code]
but when recognizing stop the only return value is
[code]
so the `I don't have any answer to this` is spoken.

Later on there is
[code]
(in my branch).

That whole part of code needs a serious rewrite ...

[2019-05-31 06:07] norbusan commented on #508
Furthermore, the `pause` action is broken and returns:
[code]

[2019-05-31 06:42] norbusan commented on #508
Ok, fixed `susi_python`, it was broken for MediaAction and didn't set the `type`.

[2019-05-31 06:57] norbusan commented on #508
Fixed pause, resume, etc etc in my sound branch, see commit
https://github.com/norbusan/susi_linux/commit/6048ace543bb89595e647fa45e2fce36010340ff

[2019-06-04 22:07] #508 closed

[2019-06-04 22:28] alok760 opened #510 "susi_linux raises "cannot find mixer exception" on the smart speaker"
#### Describe the bug
A clear and concise description of what the bug is.
On starting susi_linux :
[code]

#### To Reproduce
Steps to reproduce the behavior:
1. run susi_linux on smart speaker

[2019-06-04 22:31] norbusan commented on #510
Yeah, that is known. You have to link `hwmixer` directory from `susi_installer` to `susi_linux`, similar to `susi_python`. I will rework this (module location and loading).

[2019-06-04 22:35] alok760 opened #511 "Fix offline USB audio playback and add more functionality"
#### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
- The media daemon is being fixed in the susi_installer repo.
- Make the busy_state capable of handling the new on the fly made skill and add functionality like **next** and **previous** to skip the currently playing song and go back to th

[2019-06-04 22:36] alok760 commented on #511
I'm working on this.

[2019-06-04 22:46] alok760 commented on #510
@norbusan I did link the hwmixer directory
it was happening due to-
alsaaudio.mixers() on pi only shows "PCM"
I  fixed it by adding these lines to `/etc/asound.conf`, not sure if this is the ideal solution
[code]

[2019-06-04 23:15] norbusan commented on #510
Ahh, interesting.
No, don't do edit /etc/asound.conf. We need to fix it in hwmixer. Can you send the output of alsasound.mixers() here please

[2019-06-04 23:26] alok760 commented on #510
[code]

[2019-06-04 23:44] norbusan commented on #510
Hmm, that is strange ... that should no happen. The respeaker hat should (at least when I tested it) give 'Speaker' as answer. Did you set up the wlan of the speaker?

[2019-06-04 23:46] norbusan commented on #510
After proper setup of the respeaker the output should be:
[code]

[2019-06-05 00:15] alok760 commented on #510
@norbusan I'll try with a fresh install and update

[2019-06-05 02:00] norbusan commented on #510
Hi @alok760
I see the same now, it seems that *rebooting* the system brings it into a strange state, and the respeaker is not properly initialized.

I have no idea what is going on wit the `dtparam` and `dtoverlay` calls, but this seems to be new.

[2019-06-05 02:14] norbusan commented on #510
Something is strange, I submitted an issue to respeaker: https://github.com/respeaker/seeed-voicecard/issues/166

There was a kernel/firmware update of raspbian in mid-May, this might have triggered these problems we see now.

[2019-06-07 00:39] #511 closed

[2019-06-07 01:12] norbusan opened #513 "Susi does not leave recognizing state"
Susi remains indefinitely in recognizing state, even if nothing is said. We should add a timeout of say 10sec after which it transitions back to idle state.

[2019-06-07 01:13] norbusan commented on #510
I don't know what has changed, but with the current setup the mixer is called PCM, I adjusted the code. CLosing again

[2019-06-07 01:13] #510 closed

[2019-06-07 01:13] norbusan commented on #500
merged

[2019-06-07 01:13] #500 closed

[2019-06-07 01:14] norbusan commented on #496
fixed with recent merge of sound rework

[2019-06-07 01:14] #496 closed

[2019-06-08 08:02] stealthanthrax opened #514 "Create a server for audio remote/controller in co-ordination with the Android App"
#### Is your feature request related to a problem? Please describe.
To add a way to control the music playback from mobile devices

#### Describe the solution you'd like
To create a flask server that would act as a host/intermediate server between the Android client and the music server running on the raspberry pi.

#### Describe alternatives you've considered
We could've used only the sound serve

[2019-06-08 10:32] stealthanthrax commented on #514
SUSI Andorid Link: https://github.com/fossasia/susi_android/issues/2251

[2019-06-08 19:53] stealthanthrax opened #515 "IOT integration with SUSI Smart Speaker"
#### Is your feature request related to a problem? Please describe.
Since the audio player and basic daemons are working good enough now, add methods to interact with IoT devices.
The skills should come from the server, only the libraries need to be included in the SUSI Smart Speaker to parse and perform according to the actions received.

#### Describe the solution you'd like
Use the libraries li

[2019-06-09 00:21] alok760 opened #516 "Add restart method to player"
#### Describe the bug
A clear and concise description of what the bug is.
- restart method needs to be added to the player so that it can trigger restart in vlcplayer

[2019-06-09 01:27] #516 closed

[2019-06-09 01:51] norbusan commented on #514
@stealthanthrax Why would you want a separate server which just proxies? If you add authentication to a flask server, you can add it to the current soundserver directly. Security wise there is no difference?

[2019-06-10 12:51] stealthanthrax commented on #514
@norbusan , the flask server will still be accessible to every device on the network and the request headers can be analyzed by simple mitm techniques. But since the two servers can be will be communicating internally,  we will be hiding the endpoints of the sound server and hence will stop other devices on the same network from fiddling with the settings.

[2019-06-10 12:57] norbusan commented on #514
@stealthanthrax So you mean that only parts of the end points of the sound server are forwarded via the second plask server?

What kind of end points of the current sound server do you **NOT** want to forward?

[2019-06-11 17:00] hongquan commented on #514
Sorry. I lost the track. Which is sound server and which is Flask server? I remember we have something running at port 4040. What is it?

[2019-06-11 17:58] stealthanthrax commented on #514
@hongquan , this is the server https://github.com/fossasia/susi_installer/blob/development/soundserver/soundserver.py

[2019-06-11 18:00] stealthanthrax commented on #514
@norbusan , now that I think about it, I don't think that we should create a proxy server , since already the codebase is open source and all the endpoints are already public, adding authentication to the existing server is a better idea.

[2019-06-11 18:05] hongquan commented on #514
I agree with adding authentication to sound server.

Also, the sound server is using "GET" method to trigger actions. I feel that this is very weird.
Normally, "GET" is to read data, and for anything that causes modification of data, "POST", "PUT" should be used.

[2019-06-11 23:35] norbusan commented on #514
@stealthanthrax well, if you really want to expose only *some* end points, then you can still do that. You can tell the soundserver flask to only listen to localhost, but not any other connection. Thus, it could only be used directly by susi_linux and the gateway server. The other server with authentication would only forward a restricted set of end points.

So it is possible, even if the end poin

[2019-06-12 02:46] hongquan commented on #514
@norbusan Defining as "POST/PUT" will make you difficult to test with browser, but it is still easy to test with CLI tools.

One of the reason that people don't use `GET` for action which modify data, because it is easy for attack, by tricking browser to call it.

For example, you have _http://example.com/api/delete-user_, which is called by `GET`. The attacker just put this code on some website

[2019-06-12 05:03] norbusan commented on #514
Ok, fine with me!

[2019-06-12 05:09] norbusan commented on #514
Ok, let us support POST and PUT, but not GET. https://github.com/fossasia/susi_installer/pull/32

[2019-06-13 21:57] stealthanthrax opened #518 "Changing SUSI Python Code"
#### Is your feature request related to a problem? Please describe.
Since we are proceeding with SUSI Python, re-structure, we must change the import methods here as well.

#### Describe the solution you'd like
Change the methods according to the new format

#### Additional context
I'll be working on this issue

[2019-06-23 13:07] #518 closed

[2019-06-24 13:47] Orbiter opened #521 "Planned Actions"
As a user I want to get timed actions: these are actions which are activated by a given time.
Using timed actions it is possible to make not only "a timer" possible, but it is also possible to activate any kind of actions for a given time.

A broad range of use cases are possible:
- a simple timer which activates a voice message and a sound (two actions, both timed)
- a count-down (many actions, a

[2019-06-25 15:33] Orbiter commented on #515
I personally would like to try to integrate:
- A shelly switch! https://shelly.cloud/shelly1-open-source/
- Ikea TRÅDFRI https://github.com/ggravlingen/pytradfri
Both hardware is cheap and hackable. It requires simple http requests and API libraries are available.

[2019-06-26 01:38] norbusan opened #522 "Recent youtube_dl python code seems to be broken"
On Debian/buster DEsktop, as well as new Susibian image based on Buster, youtube fails:
[code]

Maybe this has something to do with youtube updates? Anyway @alok760 @stealthanthrax if you have time, please can you look into that?

[2019-06-26 02:12] norbusan commented on #522
Ahh, youtube needs an update ... not only the player
https://github.com/ytdl-org/youtube-dl/issues/21484

[2019-06-26 02:22] norbusan commented on #522
Closed by updating the requirements version in susi_linux

[2019-06-26 02:22] #522 closed

[2019-06-30 06:58] norbusan commented on #514
Closing this now that the server is in the image and activated

[2019-06-30 06:58] #514 closed

[2019-06-30 06:58] norbusan commented on #502
Debian, Ubuntu, Mint is now supported. If there are others, please open a new issue

[2019-06-30 06:58] #502 closed

[2019-06-30 14:54] atm1504 opened #523 "Add the device to the addNewDeviceServer"
#### Is your feature request related to a problem? Please describe.
Setup some endpoints in the installer that will ask for the information from the android app about the name of the room, location (latitude, longitude), macid, access_token, speaker name. The installer should accept this information from the Android app and make a request to the susi server to add the device. The device should be

[2019-07-23 07:33] stealthanthrax commented on #521
@Orbiter @norbusan  , we can create a systemd.timer and .service on the fly and activate the service for every action that the user calls and disable the service on completion?

[2019-07-23 07:43] norbusan commented on #521
@stealthanthrax For that we would need a way to inject actions into susi_linux main loop.but I think it would be better to have a scheduler in the python code that wakes up every sec and checks for events to be executed.

[2019-07-24 03:59] hongquan commented on #521
Agree. Because of the vast variation of need for action/schedule, it should be implemented in our Python code. We need to create a candidate process to perform the action/job. Then from our main project, we send the task to that process, include the time we want it to be done.

We can use https://github.com/rq/rq-scheduler#periodic--repeated-jobs for this.

[2019-07-24 07:34] norbusan commented on #521
@hongquan yes, I agree completely that we should do this in our own code.

Concerning your suggestion of rq-scheduler, this requires redis package. Isn't that a bit too heavy? I haven't really tried it out, though. Do you have experience with that?

[2019-07-25 02:53] hongquan commented on #521
@norbusan No worries. Redis is one of the lightest software: https://packages.ubuntu.com/disco/redis-server

[2019-07-26 09:40] stealthanthrax commented on #521
This makes much more sense.

[2019-07-26 09:41] stealthanthrax commented on #521
@hongquan , we can also use something like rabbitmq and celery for task scheduling

[2019-07-27 05:51] hongquan commented on #521
@stealthanthrax Those names are more wel-known, but they are too fat and slow, especially on an ARM computer like Raspberry Pi.
- RabbitMQ is written in Erlang, it means that you have to install an Erlang Virtual Machine.
- Celery tries to support many backend (RabbitMQ, Redis, MongoDB etc...), many serialization formats (pickle, json, msgpack etc.), so its code is too thick.

[2019-07-27 06:34] norbusan commented on #521
What about https://github.com/dbader/schedule/ which is also on pypi, very lightweight...

[2019-07-27 09:05] hongquan commented on #521
`schedule` looks OK.

[2019-07-31 18:49] alok760 commented on #521
looks promising.
I'll start working on this

[2019-08-01 11:25] hongquan commented on #521
Please note that, because [schedule](https://github.com/dbader/schedule/) works alone (without a message queue like Redis), it can only do one task at once and will miss any command you send to it, when it is busy.

In the case of other solutions (RQ, Celery), your command is put to a queue in Redis/RabbitMQ, and the worker can still get the command later, after it finishes its job.

[2019-08-05 15:28] norbusan commented on #521
@hongquan @alok760 that is a good point, though it shouldn't be busy too long, and only kick of an action in the main loop, but not waiting for completion. That way this window is really small, and other smart speakers will have similar issues.

Still, it is good to keep in mind, thanks!!

[2019-08-24 06:08] #521 closed

[2019-09-20 19:22] himanshupathak21061998 commented on #501
Hey @stealthanthrax I want to solve this issue. While using SUSI-AI offline I got following error
[code]
and when I checked pocketsphinx-data it contains folder with name `en-us`.
I want to know is it some mistake done by me while setting up project.

[2019-09-20 19:37] stealthanthrax commented on #501
Hi @himanshupathak21061998 , I think this is a new bug which might have crept in while developing newer features.
I'll open an issue and you can work on fixing this first?

[2019-09-20 19:38] stealthanthrax commented on #501
Because , I don't think that there is a different way to install SUSI on your system instead.

[2019-09-21 03:00] norbusan commented on #501
@stealthanthrax @himanshupathak21061998 interesting. The `en_US` comes from proper language support, so we use locale names. Back then I changed the invocation of the sphinx recognizer to
[code]
where `susi_config["language"]` contains a locale style string (ll_LL). We need to convert this to one of the supported languages of pocket sphinx on the fly.

Best would be further to have the code check

[2019-09-21 03:56] stealthanthrax opened #525 "SUSI crashing due to PocketSphinx in offline mode"
#### Describe the bug
SUSI crashing due to PocketSphinx in offline mode.

#### To Reproduce
Steps to reproduce the behavior:
1. Switch to offline mode
2. SUSI will switch to PocketSphinx
3. See error

#### Expected behavior
Renaming the directory files used in the code

#### Screenshots
If applicable, add screenshots to help explain your problem.

#### Desktop (please complete the following inform

[2019-11-06 15:09] stealthanthrax commented on #513
@norbusan , has this issue been solved?
I'd like to take this is up, if pending.

[2019-11-06 15:23] norbusan commented on #513
Yes please, that would be great! It is still the case, we need a timeout

[2019-11-06 15:26] stealthanthrax commented on #513
@norbusan , what do you suggest? SUSI to transition directly back to the IDLE state or through the Error State and then reaching the IDLE state?

[2019-11-07 00:46] norbusan commented on #513
Directly into idle state should be fine. Alexa gives a short "to-to" (very short, falling tone) when it stops recognizing. If we can have something like this it would be nice, too.

[2019-11-15 22:49] #513 closed

[2019-11-22 19:13] stealthanthrax opened #528 "Adding sensible error messages when susi crashes"
#### Is your feature request related to a problem? Please describe.
Currently, SUSI only sends out one error message when it crashes.

#### Describe the solution you'd like
Different error messages depending on the issue.

#### Additional context
Only changes in the state machine required.

[2019-11-23 00:13] norbusan commented on #528
When SUSI crashes, you mean the susi_linux process? But when it crashes, how could it give sensible messages? Ok, we could create a state file, clean it up on proper shutdown, and when systemd restarts the susi_linux process and it finds the state file, it could tell the user that susi linux has crashed, but how do you intend to get details?

[2019-11-23 11:12] stealthanthrax commented on #528
@norbusan , I meant for example when there is an issue with the internet connection or it is a problem with deploying Java server on the Pi . These errors are handled in the `error_state` file. But only one kind of sound played when it enters the error state.
Instead of that, we should play different sounds for easier debugging.

[2019-11-25 03:59] norbusan commented on #528
Ok, so you mean for TTS or STT, when the connection timed out.
What about problems communicating with the onboard susi_server, can we detect that, too?

[2019-11-25 21:52] stealthanthrax commented on #528
@norbusan , yes we handle those too. I think we log the errors somewhere as of now.

[2019-11-26 10:29] bhadreshpsavani commented on #482
May i work on this issue?

[2019-11-27 00:55] norbusan commented on #482
@bhadreshpsavani sure enough, go ahead and send PR

[2019-12-02 19:58] kiritka-jain commented on #482
it's been a while, @norbusan @stealthanthrax May I work on this ?

[2019-12-02 20:42] norbusan commented on #482
Everyone can work on that, just do it and send PRs...

[2019-12-17 06:17] pranavkarthik10 opened #530 "Continuous repetition of "not able to recognize" error messages"
After installation of susi_installer on Ubuntu, I configured and ran susi_linux using python3. Right when it started even though I had made no noise, it began a continuous repetition of 'Sorry, I couldn't recognize' messages were said immediately before stopping after a few seconds.

I also found that the sensitivity of the speech-to-text system could be minimized because of it catching up on the

[2019-12-18 02:29] norbusan commented on #530
We unfortunately don't have control over the microphone settings on the desktop for now. You need to adjust the correct microphone and the recording level manually.

Can you please stop susi-python process, and start it by hand with
[code]
and attach the output here? Thanks

[2019-12-19 04:34] pranavkarthik10 commented on #530
Attached output here: https://pastebin.com/cSe2ZyyT

[2019-12-19 05:18] norbusan commented on #530
A few things:
- you don't have the susi server running, right? susi_linux says `local server is down` in the first line
- what is contained in `~/SUSI.AI/config.json`

Then please re-test with the following commands:
[code]

But yeah, I see some problems here myself, too ...
I see that

[2019-12-23 17:02] pranavkarthik10 commented on #530
Unfortunately my computer in which I was running the VM for linux is currently not working well. Sorry for any delays.

[2019-12-26 21:41] yash04g commented on #244
I would like to work on this. @stealthanthrax

[2019-12-26 21:43] stealthanthrax commented on #244
Sure @yash04g  . Go ahead 👍

[2019-12-26 21:43] yash04g commented on #171
I would like to work on this one. @stealthanthrax

[2019-12-26 21:44] stealthanthrax commented on #171
Sure @yash04g  . Go ahead 👍

[2019-12-26 21:44] yash04g commented on #259
I would like to work on this one. @stealthanthrax

[2019-12-26 21:46] yash04g commented on #482
I would like to work on this one. @stealthanthrax

[2019-12-27 01:12] norbusan commented on #530
I have fixed these problems in the `susi_linux` code, thus closing the issue

[2019-12-27 01:12] #530 closed

[2019-12-27 01:14] norbusan commented on #453
That has been fixed for quite some time now, closing the issue

[2019-12-27 01:14] #453 closed

[2019-12-31 23:01] #482 closed

[2020-01-16 07:57] mariobehling opened #532 "Cleanup no longer used files and scripts like Buildkite"
Buildkite is no longer used for this project. Therefore please cleanup buildkite files and other no longer used files in this repository.

[2020-01-16 08:55] mariobehling opened #533 "Update Readme and evaluate repo name"
The Readme is not yet formulated very clearly. At the beginning of the Readme there should be information what this repository contains.

The Readme should also contain information on what specifically is the goal of this repo compared to other repositories of the SUSI.AI project.

The name of the repo might indicate to an outsider that the repository contains all files and Linux components to bui

[2020-01-16 15:41] #532 closed

[2020-01-18 06:41] norbusan commented on #533
Concerning the names, I thought about `susi_voice_component` - that is probably the most fitting name ;-)

[2020-01-20 15:08] snitin315 commented on #533
I will work on this issue.

[2021-02-12 19:21] rubyFeedback opened #534 "[Documentation / Tutorial] Training newcomers?"
Hey there,

This is a bit strange as an issue, also because I am more of a ruby-guy :-)

But I also know python, and oddly enough many python-gtk examples work
for ruby-gtk too.

Anyway.

I found the project here indirectly from a blog where custom pygtk widgets
were shown and explained, e. g. that talking wave-like thingy when speaking
to the phone or something. This was quite interesting; I did