[2017-04-19 21:11] akhilesh-k opened #2 "No details in README"
Is this some kind of hardware project for Susi? It would be great to add some details in README

[2017-05-14 18:38] betterclever opened #3 "Add intial setup instructions"
Add setup instructions for the speech recognition and chat part.

[2017-05-15 04:32] betterclever opened #4 "Make prototype implementation of Susi Hardware"
Work has been completed. Will send PR soon.

[2017-05-15 04:39] betterclever opened #5 "Add Hotword Based Wakeup"
Now, that prototype is almost ready, next step is to add Hotword based wakeup using "Susi" as hotword

[2017-05-20 13:45] #2 closed

[2017-05-20 13:47] mariobehling opened #7 "Please keep instructions on Readme.md"
For now Readme.md is not super long and we don't need separate documents. Please merge the setup info to the Readme.

Once other documents are required, please follow best practices. Keep docs in:
* /docs

Keep images in:
* /docs/images

[2017-05-20 13:47] mariobehling commented on #5
Please follow up here, what technologies you are using and experimenting with.

[2017-05-20 14:15] #4 closed

[2017-05-20 14:16] betterclever commented on #3
Setup for Debian to be added next.

[2017-05-20 14:28] betterclever commented on #5
**Already tested**
CMU Sphinx (Pocketsphinx) -
Issues -
1. Slow recognition.
2. Not easy to train via Audio Samples (Like we train Google Assistant: by speaking "Ok Google" 3 times)
3. False positives on slow dictionary.
4. Negative results/ wrong detection on large dictionary.

Currently Testing:
Python Hotword Recogniton (https://github.com/sakethgsharma/HotWordDetection)
Advantages:
1. Training

[2017-05-28 02:04] betterclever commented on #5
Pertaining to problems in Python Hotword Recognition Library, I switched back to Pocketsphinx for hotword.
After, some adjustments in kws threshold value, the detection is fine now (mostly).
Yet, to eradicate false positive results though.

[2017-05-28 10:32] #7 closed

[2017-05-29 15:37] betterclever opened #9 "Best Operating System suggestion for Hardware Application"
As per current prototype of Susi Hardware that has hotword detection and handsfree interaction, any Operating System can be used for basic testing.
But for final product, we must decide and focus our work on a particular flavor of Linux, since it will help to maintain uniformity in project.

## Current Options
### Raspbian (Fork of Debian)
**Pros**
- Excellent support for Raspberry Pi development

[2017-05-29 15:37] betterclever commented on #9
@Orbiter @mariobehling Please guide.

[2017-05-29 17:33] betterclever commented on #3
Setup for Debian done. Closing for now.

[2017-05-29 17:33] #3 closed

[2017-05-29 17:35] betterclever opened #11 "Alternative (Secure) way to run Festival TTS"
Codacy has reported a potential security issue using subprocess to use festival TTS.
An alternative better approach must be found soon.

[2017-05-30 03:40] betterclever opened #12 "Provide instructions to make Amazon Alexa Echo like device using Susi AI"
The Susi AI prototype is capable of running on any linux system. We must provide instructions along with hardware requirements to make your own Amazon Echo like device running Susi AI.

[2017-05-30 20:53] betterclever commented on #12
__Update__ : I have setup most parts of the System on Arch Linux ARM. Having some problems setting up Microphone input.
Working on it.
Once complete, the compressed microSD image can be distributed as is (most probably) so that users don't have to go through hassle of installation of dependencies.

[2017-05-31 10:52] betterclever opened #13 "Best Strategy to put together SUSI images"
Susi Hardware has a dependency on Libraries like PocketSphinx which takes a long amount of time to install on a Raspberry Pi and similar under- powered development boards (since they are needed to be compiled from source).
We have some potential solutions to save end users from going through the trouble:
- Like Mycroft project (https://mycroft.ai), we can ship the solution as a compressed images w

[2017-05-31 19:42] betterclever commented on #12
**Update**: After a lot of fiddling around with stuff, Microphone input is working with Alsa for Hotword Detection but there are some problems with Speech Recognition library while taking input (must be due to alsa, yet to find cause)

**Logs**:
[code]

[2017-06-01 21:04] betterclever opened #14 "Test and add support for Snowboy Hotword Detection"
Snowboy (https://snowboy.kitt.ai/) is a DNN- based hotword detection library for various platforms. It can be utilized to improve Hotword Detection a lot.

[2017-06-03 05:01] betterclever commented on #12
**Update :** I figured out problem was due to jack server. That was resolved, then I ran into a new problem of speech input getting hung in between. I was stuck on that, then I found [this solution](https://github.com/Uberi/speech_recognition/blob/master/README.rst#the-recognizer-hangs-on-recognizer_instancelisten-specifically-when-its-calling-microphonemicrophonestreamread)

Still, It is getting

[2017-06-04 05:02] betterclever commented on #12
**Update:** Audio input is working fine independently right now. Stereo Mic must improve performance.
I was testing with a Webcam Microphone and it has some noise issue (when fans are on).
I am yet to get it to work together with hotword detection.
I thing best approach will be audio producer, -> consumer  as implemented in MyCroft AI. [here](https://github.com/MycroftAI/mycroft-core/tree/dev/mycr

[2017-06-04 05:06] betterclever opened #15 "Switch to Audio Producer - Consumer based approach"
Currently, the approach to Audio processing isn't be best and it needs to be handled in a better way.
MyCroft AI has implemented it in a very nice manner and they libraries and technologies we and they are using exactly match i.e. PocketSphinx for Hotword, Google and other STT of Speech to Text.

[Link to MyCroft Approach](https://github.com/MycroftAI/mycroft-core/tree/dev/mycroft/client/speech)

[2017-06-05 04:23] betterclever opened #16 "Hardware requirement to make Susi Hardware"
Our final goal of Susi Hardware is that it should be affordable and cheaper than the alternatives.
The following hardware fulfills the requirement.
1. [Orange Pi Plus ](https://www.aliexpress.com/item/Orange-Pi-PC-Plus-ubuntu-linux-and-android-mini-PC-Beyond-Raspberry-Pi-2/32668618847.html)  1 GB RAM - **26 USD with Power Supply**
2. [Mini Speakers](https://www.aliexpress.com/item/New-Style-3-5mm-

[2017-06-05 04:37] betterclever commented on #15
Work started in branch: https://github.com/betterclever/susi_hardware/tree/producer-consumer. Issue is large, should be solved in 2 days.

[2017-06-05 07:21] mariobehling commented on #16
What about microphones and housing?

[2017-06-05 07:24] mariobehling commented on #9
We don't need to decide this now. Postpone the final decision.

[2017-06-05 07:27] mariobehling commented on #13
I think this issue is not about hardware distribution per se. It is actually about the software images. You are raising an important point, but we can also decide this finally later and see what works best for the moment.

[2017-06-05 09:49] chiragw15 opened #17 "Loop through action types and display result for all actions"
**Actual Behaviour**

Query "multi3". The sever response contains 3 action types but only result of first is displayed.
Also for map type only first action type is used.

**Expected Behaviour**
[code]
If response is of this type, then the client should loop through all the actions and display result one after other with delay provided in the response. So, ideally the result of this response should

[2017-06-05 09:59] betterclever commented on #16
@mariobehling, OrangePi contains Microphone built in. No need of external Microphone.
As of casing, such a thing would require someone who has knowledge of 3D printing and is at later stage of the project.
I am not much familiar with it and need some time to get information about it and costs concerned.

[2017-06-05 12:32] betterclever commented on #13
@mariobehling  Yes, thanks for correcting the title.  It should have been that at the first place. I raised this issue early so that as we proceed along the project as we find better ideas, we may have a list here in the tracker.

[2017-06-05 19:53] Orbiter commented on #16
There are tons of free OrangePi case designs on Thingieverse, like this one:
https://www.thingiverse.com/thing:1897829

I also have a printer to test a design, I am also able to put together some shapes in 123D, but I am not a 'Designer'. @mariobehling We could use the help of a real designer - for the graphical part.

@betterclever What about https://www.aliexpress.com/item/New-Orange-Pi-Zero-Set

[2017-06-05 20:52] betterclever commented on #16
@Orbiter I cannot strongly approve until I have the actual device. This should be usable as far as I think. One notable point is PyAudio loses Audio Frames frequently on Raspberry Pi 3. I guess it is due to its soundcard but might be due to memory. I am not sure, whether having less memory have some implications on it.
Other than that, I feel no reason it shouldn't work well.

[2017-06-06 06:03] #5 closed

[2017-06-06 13:23] Orbiter commented on #9
From my point of view, a debian release should be available for all different plattforms, RPi, OrangePi, etc. While for The RPi that is Raspian the release may be different for other plattforms but I believe a debian should be there always.

[2017-06-06 13:26] Orbiter commented on #16
I can do a design maybe, but that is not a blocker here. I think for the hardware we should target something which is small, available and cheap and the current selection is good.

The speaker: I think they are a bit strange. If we make a custom design case, the speaker should be inside the case.

Also: if susi is speaking, the speech recognition should be off, otherwise it could happen that susi

[2017-06-06 14:24] betterclever commented on #16
@Orbiter Yes, in current prototype above point is being targeted i.e. Recognition is paused until Susi is speaking.

Also, today I have made good progress with it. Despite some [issues](https://github.com/Uberi/speech_recognition/issues/124) on Speech Recognition Library with raspberry pi, today it is working correctly 3-4 times then hangs.

Also, I made an analysis on memory consumption. On a com

[2017-06-06 14:26] betterclever commented on #16
Also, about speakers, yeah they are weird :sweat_smile: , I just found the cheapest plug and play speaker. Will find better and compact speakers, which can fit into casing well. :smile:

[2017-06-06 14:48] betterclever commented on #9
Okay. I found **armbian** : https://www.armbian.com/ . It supports majority of boards.
Also for Raspbian for Raspberry Pi, there is a lite version without unneeded software as mentioned above,

I am currently working on Arch Linux for ARM, I'll shift work to Debian.

[2017-06-07 06:39] betterclever opened #18 "Move PocketSphinx Recognizer to a separate module"
Sub-issue for #15
PocketSphinx Recognition is currently being done in a single file. To improve code modularity, it must to moved a speech module which may then be used with Audio Consumer based approach #15 too.

[2017-06-07 06:48] betterclever commented on #18
Work has already been done and completed, will send PR today after testing.

[2017-06-07 18:15] #18 closed

[2017-06-07 18:21] betterclever opened #20 "Use Flite instead of Festival TTS"
Currently, we are using Festival TTS. While Festival is excellent for a system with good processing power, it takes considerable amount of time to synthesize speech on English Female Voice being used now on low powered development board like Raspberry Pi.

For example, to synthesize "Hey! I am fine, Thank You" , it takes 10 seconds !!!

We can use [Flite ](http://www.festvox.org/flite/) instead.
F

[2017-06-07 18:32] betterclever opened #21 "Target Debian as primary operating system"
As per suggestion of @Orbiter in the [comment](https://github.com/fossasia/susi_hardware/issues/9#issuecomment-306484496) on the issue #9 , the primary target should be shifted from Arch Linux ARM currently, to Debian or Armbian/Raspbian specifically.

[2017-06-08 06:05] mariobehling commented on #20
I tested Flite. The quality is still not good. Currently we are using Google Speech on Android. Thus, for TTS and STT we are using Google elsewhere anyways. What options are there to use Google here as well?

[2017-06-08 10:05] betterclever commented on #20
Well, we can use Google TTS, but there is no official way to do so. Google provides no official API for TTS. There is a hack to do it through [Google Translate URL](https://stackoverflow.com/questions/9893175/google-text-to-speech-api/31791632#31791632) and many people use it but if one day Google pulls out support or changes it , it does that in the past once too, we can't do anything.

Secondly,

[2017-06-08 11:52] mariobehling commented on #20
Yes, please show the outcome with Flite.

Still, what about other solutions, e.g. IBM Watson? There is a free tier.

[2017-06-08 20:12] betterclever commented on #20
Yes, IBM Watson can be used for both TTS and STT. They have  best free tier (maximum usage limit) among all other providers.
btw, Video is almost ready. I'm processing it for upload. Will be done soon. :smile:

[2017-06-09 06:49] mariobehling commented on #20
@betterclever Can we have a skill for SUSI like "Switch to internal speech recognition" or "Switch to cloud speech recognition"? Please try how it works with Watson.

Also, what ways are there to speed up the output of Voice? Would better hardware help?

[2017-06-09 07:05] betterclever commented on #20
The delay in video was majorly due to delayed response from Susi Server in
some queries and slow internet in my home :sad: . Hardware isn't bottleneck
as far as I observe.
Yes, I am trying TTS with IBM Watson.
Also, Speech Recognition shouldn't be done internally at all. Only option
CMU Sphinx, performs very poorly for offline Speech Recognition.
I think, you wished to write about Speech Synthesis

[2017-06-10 04:37] betterclever commented on #11
Not needed. Switching to Flite Issue #20

[2017-06-10 04:37] #11 closed

[2017-06-10 04:38] betterclever commented on #9
Work is shifted to Debian and will be targeted as primary.

[2017-06-10 04:38] #9 closed

[2017-06-11 07:33] betterclever opened #24 "Add support for Watson TTS Service"
IBM Watson provides online TTS Service which has more natural voice. Support for it can be added with option to choose between Flite and IBM Watson.

[2017-06-11 13:07] betterclever opened #25 "Configuration interface for Susi"
Susi Hardware will be a headless client so there must be a configuration interface to do it.
There are different options available for the same.
Some of them are:
**Android App:** - Adding Functionality in current Android App to connect to Susi Hardware scanning a QR Code displayed on I2C display connected to Raspberry Pi and configure it.
**Web App** A Web App can be made to configure Susi using

[2017-06-11 18:22] betterclever commented on #25
The Amazon Alexa works the following way for configuration:
- You press assist button for 5 seconds which starts an Ad-Hoc Wifi Network for connection.
- You connect your phone to the network and open Alexa App.
- The App Searches for Echo Devices in the Network. You need to select your device.
- You can configure primary wifi network to use in Echo and your amazon account for accessing some servi

[2017-06-12 04:26] betterclever opened #26 "Connect Susi Hardware to Susi Webchat for demonstration"
@Orbiter recommended about connecting Susi Hardware to Susi Webchat so that when we send a request via Speech to our Hardware device, we can view the exact response of Susi in a webchat interface also. This functionality is mainly for demonstration purposes where users can see the exact query.

Exact Requirement as stated on Gitter Channel
![image](https://user-images.githubusercontent.com/1630903

[2017-06-12 05:01] betterclever opened #27 "No Audio Feedback"
Currently , after hotword is detected there is no feedback like a small "ding" bell sound, to indicate that recognition has started and when it has ended like Google Home and Alexa Echo.
Such a feedback is crucial for proper use.

[2017-06-12 06:52] #21 closed

[2017-06-12 08:59] betterclever opened #28 "Improve speed of the whole system"
Currently the app is very slow. It takes considerable time between speech input and output. I dug down to find out cause and observe the same pattern on Alexa.
The main cause of slow down is that we need to handle things one by one i.e. first we record the voice, then send it to Google for recognition , after getting hypothesis text, we send it to Susi server and it replies back text, and then we

[2017-06-12 20:02] rishiraj824 commented on #26
@betterclever Yes, we can do this via web sockets. The only thing is the socket needs to be setup, and finally one can listen to that to that socket to listen to the text response of the Hardware.

[2017-06-12 20:13] betterclever commented on #26
@rishiraj824  Yes, sockets are a good option to achieve this.
So, I will code up the Python implementation of a websocket interface via which Susi Web Chat and Susi Hardware device can communicate.
On connecting a monitor and visiting a particular URl or better visiting URL on any device connected to that network, Susi Web Chat interface can be shown which will interact to Hardware device via sock

[2017-06-12 20:14] rishiraj824 commented on #26
@betterclever :+1:

[2017-06-12 20:29] betterclever commented on #28
@jyothiraditya @dynamitechetan @dravitlochan What do you think about server based implementation and should we go ahead with it?

[2017-06-13 11:34] mariobehling commented on #28
Models for speech processing would need to be trained and we currently have a lot of open areas to solve. This might be a feature for the future, but not right now.

[2017-06-13 15:21] betterclever commented on #28
@mariobehling I think there is some misunderstanding. This issue is not about training speech models at all. It is just that instead of calling Google Speech API , then Susi Chat API, then Watson API slows down the work on a slow network if it is all done on client (raspberry pi fkr example).  It was about moving it to server, so that you send recorded voice to server, Server calls Google Speech A

[2017-06-14 18:35] #20 closed

[2017-06-14 18:36] #24 closed

[2017-06-15 00:57] tstreamDOTh opened #31 "Unable to install on Mac"
Unable to install on Mac. I followed the read.me mentioned, and I learned that it is not working for mac os. Please ensure and cross-verify the read.me before publishing it.

[2017-06-15 01:56] betterclever commented on #31
@tstreamDOTh Our primary development environment is Linux and Readme clearly mentions that. Small computers like Raspberry Pi also primarily run Linux. Thus, instructions are available for Linux only.
And I am afraid, I do not have a Mac currently so cannot provide instructions for the same too. The tools we used might/not support Mac so I am not very sure regarding that.
README mentions Linux in

[2017-06-16 06:31] betterclever commented on #31
Not needed for now.

[2017-06-16 06:31] #31 closed

[2017-06-16 06:40] betterclever commented on #17
@Orbiter There is some confusion with me. I a headless client, what shall we do for other data type like Tables and RSS, I mean , what should client speak in such a case?
Alexa in such cases says "More results are on the Alexa App" and results pop up there and not spoken but how do we handle it?
Or shall we postpone it till #25 and have that feature in Android Configuaration Interface for Susi Har

[2017-06-16 10:51] Orbiter commented on #28
ok interesting idea, but if this 'just' about sending the speech to an server for stt, then it does not matter if you send it from the client directly to google/watson etc or to susi_server back-end. This data has to be send anyway, right?

And if you send the audio first to susi_server, then we have the add-on task to send the audio from susi_server then also to google/watson etc. That creates mo

[2017-06-16 18:55] betterclever commented on #28
No, you are absolutely right. Actually, connection at my home sometimes takes long time in resolution so when I was performing frequent calls I saw a slowdown since there are multiple requests needed from client side. Thus, I was thinking if it could be improved by shifting everything to server, were not sure if it would help but what I thought that we need to send data once to server and get data

[2017-06-16 18:55] #28 closed

[2017-06-18 07:09] betterclever opened #32 "Move all hardcoded parameters to configuration file"
Currently, many parameters are hard-coded. All should be moved to a config.yaml or config.json file.

[2017-06-22 06:17] betterclever opened #35 "Add travis.yml file and include tests"
Tests are not included yet and travis is not working correctly. They are needed to be added.

Challenge here is to mock the voice activation and recognition and test other features.

[2017-06-22 22:39] #27 closed

[2017-06-23 20:49] betterclever commented on #12
Instructions were added to README.

[2017-06-23 20:49] #12 closed

[2017-06-24 05:07] betterclever opened #37 "Add option to start App in WebConnect mode i.e. with Web Socket connection open"
Currently, app by default starts in normal recognition and processing mode and you need to make some code changes to switch to other configuration i.e. WebConnect mode where the module receives JSON response from WebSocket, rather than making a request by itself to Susi Server.

So, we need an option to specify a "--webconnect" mode while starting app to choose Susi Webconnect mode, and default mo

[2017-06-26 18:24] betterclever opened #38 "Remove lint errors in the code."
Many lint errors are there in the code at the moment when checked with PyLint.
They need to be fixed.

[2017-06-26 18:27] betterclever opened #39 "Use better audio playback approach"
Due to a problem in Python PyAudio library with the Raspberry Pi soundcard. Audio gets hung in between at times and which results in audio thread forever hanging in that state without freeing up the resources.
We can use, sox based playback to fix this.

[2017-06-27 19:00] betterclever opened #40 "Switch to LiveSpeech module in PocketSphinx for Recognition of Hotword"
Currently, the process of detection hotword goes as follows:
- Open Input Device with PyAudio
- Get a chunk from audio input stream
- use pocketsphinx decoder class to recognize whether it contains the hotword.

I followed the above procedure following an answer on Stackoverflow . While it gets the job done, but I found that pocketsphinx python library already contains a  module LiveSpeech which c

[2017-06-28 06:47] betterclever commented on #32
Solved in #34

[2017-06-28 06:47] #32 closed

[2017-06-28 06:48] betterclever commented on #26
Solved in #30

[2017-06-28 06:48] #26 closed

[2017-06-28 17:45] #35 closed

[2017-06-30 17:42] #39 closed

[2017-07-03 20:06] betterclever opened #43 "Add documentation for functions."
Currently inline documentation of app functions is not present. This is a needed for someone to understand the codebase better.

[2017-07-06 19:14] betterclever opened #44 "Add support for Home Automation"
A needed feature in the Susi Hardware project is support for the Home Automation features in Susi.
Since we focus on Open Source Components, we can add support for openHAB project (https://www.openhab.org/).
openHAB is an open source Home Automation project and it already has support for Raspberry Pi. The only challenge is to connect openHAB API to correct Susi Action Types.

For example, we can h

[2017-07-07 10:00] mariobehling commented on #44
This should probably go into the server or be implemented as a skill. It is probably not an implementation that should go into a SUSI client.

[2017-07-07 10:53] betterclever commented on #44
Yes, I did research on it. openHAB has a myopenHAB service ( http://www.myopenhab.org/ ) and it can connect to home devices via the internet. I was earlier thinking that there is only an Intranet API available and thus the issue.
There is an official Alexa Skill already for it. https://github.com/openhab/openhab-alexa (thought it is yet to be accepted by Amazon)

I will look into the Alexa skill a

[2017-07-09 08:15] #40 closed

[2017-07-15 20:00] #44 closed

[2017-07-18 06:01] betterclever opened #45 "Refactor Codebase to take out the files to root folder instead of having them in app folder"
Currently, all the files of the repo are contained in the app folder. They should be present in the root folder like other Python Projects.

[2017-07-19 17:21] betterclever commented on #15
Not needed for now.

[2017-07-19 17:21] #15 closed

[2017-07-20 05:04] betterclever opened #47 "Add automated install for Snowboy according to System"
Subissue for #14: The current PR #46 adds support for Snowboy but the correct installation of libraries is not yet added to it.
There must be a setup script for Snowboy that identifies the system and install Snowboy on it.

[2017-07-20 05:07] betterclever opened #48 "Add a config generator script"
Currently, config is explicitly provided in config.json. The user needs to edit this manually to configure SUSI Hardware. We can instead move config.json to config.json.sample and add a setup script that asks users some parameters and generates a config.json file based on it.

[2017-07-20 05:20] betterclever opened #49 "Add Google Text to Speech Support"
Currently, we support Flite and IBM Watson TTS. We can add Google TTS using the Google Translate API.
I did not add it previously since it is since Google once pulled out support for TTS API using translate using the known approach. The current way of handling it is a bit hacky but since speeds and voice are pretty good, we can add it till it works since it is not an officially documented API so s

[2017-07-21 17:47] betterclever opened #50 "Add tests in the App to test main features like Hotword Detection and Voice Recognition"
Tests for main features of the app are still absent. They must be added. We need to have a system that tests hotword and voice recognition on a recorded stream.
If possible some microphone input emulation can also be done. Need to check that.

[2017-07-21 20:24] xeon-zolt opened #51 "SUSI for Meilix"
we are trying to add SUSI to Meilix and faced this error
https://github.com/fossasia/meilix/issues/81
I can fix the first 3 errors by editing the /usr/share/alsa/alsa.conf
but how to fix the channel error
![susi](https://user-images.githubusercontent.com/4529442/28480861-3efba3cc-6e80-11e7-9d00-03399f7ecbcc.png)

[2017-07-22 05:32] betterclever commented on #51
I think that error is due to correct device not being used by PyAudio. It seems that you are in a virtualized environments.
Please check once if Microphone is accessible by recording an audio with ```rec t.wav``` (rec command is in SoX package) and playing it back.
Also, are you using plain ALSA or PulseAudio/ALSA ? I will also try Meilix on a virtualized environment to make a better config dedica

[2017-07-24 16:16] #14 closed

[2017-07-24 17:58] betterclever commented on #49
Fixed in #46

[2017-07-24 17:58] #49 closed

[2017-07-24 17:59] betterclever commented on #47
Fixed in #46

[2017-07-24 17:59] betterclever commented on #45
Fixed in #46

[2017-07-24 17:59] #45 closed

[2017-07-24 17:59] #47 closed

[2017-07-27 17:50] #43 closed

[2017-07-29 16:41] #48 closed

[2017-07-31 01:37] betterclever opened #54 "Refactor SUSI Hardware to SUSI Linux"
Since repository was renamed, all the instances of usage of SUSI Hardware must be refactored to SUSI Linux.

[2017-07-31 01:40] betterclever opened #55 "Add Documentation for detailed Raspberry Pi setup with screenshots"
Documentation for the Raspberry Pi setup is still inaccurate and a lot of hidden dependencies are being missed which users encounter at time of installation.

All such dependencies are need to be installed earlier and specified so that installation is straight forward. For this, a guide with proper screenshots for each step and correct commands must be added.

I have started work on it and it will

[2017-07-31 08:51] mariobehling commented on #55
There should be rather a package that calls all the necessary dependencies instead of requesting users to install packages themselves.

[2017-07-31 09:19] betterclever commented on #55
I am adding all the dependencies to the installation script so manual installation won't be needed. Users just need to run the script once.

[2017-08-01 20:52] #55 closed

[2017-08-02 06:22] betterclever opened #57 "Add login support via use of configuration script."
We need to add login support to SUSI on Linux. For this, we can add parameters to config file for Login Credentials like SUSI MagicMirror module.

[2017-08-02 06:32] betterclever opened #58 "Add Hardware Wake button to SUSI on Raspberry Pi"
We can add a Hardware Push button to trigger SUSI on Raspberry Pi like Alexa-Pi project https://github.com/alexa-pi/AlexaPi

This would enable users to speak to SUSI even they are not able to speak Hotword or it is not getting recognized properly.

It will be an optional component for Raspberry Pi and similar development boards.

[2017-08-03 09:43] betterclever opened #60 "Add support for choosing Hotword Detection Engine in Configuration"
Currently, snowboy hotword detection is being used as primary and there is no option to switch to PocketSphinx directly via configuration script.

On environment like Meilix (32 bit) where Snowboy is not support presently, we can provide option for falling back to PocketSphinx.

[2017-08-03 18:42] betterclever opened #62 "Shift to State Machine Approach"
Current approach of handling things is not very resilent and structured. We can improve the codebase by using State Machine paradign like SUSI MagicMirror Project.

State Machine defines valid transitions and manage transactions ensuring that system is always in a consistent state.

It can be achieved using the PyTransition Library. https://github.com/pytransitions/transitions which is a well reco

[2017-08-03 18:45] betterclever commented on #54
Most of the components were refactored in PR #56. If anything is left put, an issue can be opened for it separately. Closing therefore.

[2017-08-03 18:45] #54 closed

[2017-08-04 02:21] betterclever commented on #58
Wake button for Raspberry Pi is configured successfully. I am planning a way to delegate this so that it can be extended to other development boards GPIO as well.

[2017-08-04 06:50] #57 closed

[2017-08-04 18:23] #60 closed

[2017-08-05 04:28] betterclever opened #64 "Use Rx Observable based approach for handling subscriptions"
Currently for handling passage of data between various threads, we rely on a queue on this input is passed and it is checked via busy/wait on other thread.
It can be improved by using RxObservable based Pubisher, Observer based aproaches which are preferred in modern programming practices.

It would be solved along with #62

[2017-08-07 05:23] #58 closed

[2017-08-08 16:30] betterclever opened #66 "Make a GUI for authentication"
Currently, we only have a CLI to configure various settings and logging in to SUSI.
We can add a GUI using the PyGTK Library to make setting up and configuring SUSI Linux easily.

[2017-08-10 02:35] betterclever opened #67 "Enable Speech Output of other action types."
Currently, speech output is available only for Answer action type. While, this works on other platforms, in a completely headless system, information about other action type must be spoken as well.
This includes:
- Speaking Table Action Type Responses (First few outputs)
- Speaking RSS Action Type Response (First few outputs)

[2017-08-10 15:19] #64 closed

[2017-08-10 17:50] betterclever commented on #62
Solved in #65

[2017-08-10 17:50] #62 closed

[2017-08-11 05:17] betterclever opened #69 "Make a GUI for configuration"
This issue was separated from #66.
A GUI for configuration of SUSI Linux should be added along with currently present CLI.

[2017-08-12 07:04] #67 closed

[2017-08-14 05:16] betterclever opened #71 "Location and Timezone parameters are not being sent to SUSI Server."
Location and time zone parameters are currently not being sent in the request to SUSI Server. It is crucial for some queries and must be added for proper functionality.

[2017-08-14 05:20] betterclever commented on #37
Webchat-connect mode is removed since we will add an assist like GUI. Closing, therefore.

[2017-08-14 05:20] #37 closed

[2017-08-15 09:40] #66 closed

[2017-08-15 19:29] betterclever opened #72 "Enter correct address for Travis CI in README"
After the renaming of the repository, the address was not modified and it still shows build as unknown. Correct Address must be added.

[2017-08-16 05:14] betterclever opened #74 "Make a Snap package for SUSI Linux"
Snaps are containerized Linux apps. Such apps have no external dependencies and everything is contained in one app. We can make such a Snap for SUSI Linux so that users do not neet to install anything.
It will just one standalone snap.

[2017-08-17 19:12] bhanu1911 opened #76 "Documentation fix"
While the readme of the Ubuntu Start Guide and the Raspberry Pi guide mention running `python3 main.py` after the installation process, no file by the name of main.py exists. The correct method to run it is `python3 -m main`.

[2017-08-17 19:42] bhanu1911 opened #79 "Documentation fix for Raspberry Pi installation guide"
The Raspberry Pi setup guide mentions that `python3 main.py` has to be executed - no such file exists. Instead, to run it, `python3 -m main` has to be executed.

[2017-08-17 19:43] bhanu1911 commented on #79
Covered in #77.

[2017-08-17 19:43] #79 closed

[2017-08-17 20:39] #76 closed

[2017-08-17 22:44] #71 closed

[2017-08-18 08:27] betterclever commented on #72
Solved in #75

[2017-08-18 08:27] #72 closed

[2017-08-23 13:21] betterclever commented on #74
I prepared a Snap package for SUSI Linux, but faced an ALSA issues while running the app.

[code]

On futher investigation, I came to know that the ALSA is not working for Snap currently. A bug is filed in Launchpad: https://bugs.launchpad.net/ubuntu/+source/snapd/+bug/1663029.

The Snap cannot be made to work till then. :(

[2017-08-24 05:07] betterclever opened #81 "Documentation is missing for newly added code."
Inline function documentation is not present in the SUSI State Machine and GUI related code.
Documentation is required for new developers to understand the codebase and must be added for all the missing components.

[2017-08-24 05:12] betterclever opened #82 "Add GUI for the SUSI Assistant part"
We need to have a  GUI for showing the information to the users on Desktop so that users can ask questions to SUSI on Linux just like they have Siri on macOS.
We can follow their design:

![image](https://user-images.githubusercontent.com/16309034/29650507-02d56bb4-88b9-11e7-9e5a-7f9f00203e0f.png)

[2017-08-24 08:35] #69 closed

[2017-08-25 13:12] #38 closed

[2017-08-30 22:35] #82 closed

[2017-09-14 15:46] isht3 commented on #81
@betterclever Can I work on this? :D

[2017-09-15 18:04] isht3 opened #85 "Feature to properly quit from the system."
To exit from the system, we have to `crtl+c` while running, which is not clean. We can discuss better alternatives here and I'll get on with it implementing it right away.

I was thinking maybe pressing `q` while the process was running to quit?

[2017-09-15 18:05] isht3 commented on #85
@betterclever Suggestions? :smile:

[2017-09-15 18:10] betterclever commented on #85
To quit the system properly, we need to force system to idle state. Then, send interrupt signals to speed detection loop and stop the hotword detection. For CLI, we may do it using 'q' button as you suggested. For GUI mode, make sure it happens atomically on close button press.

[2017-09-16 03:20] betterclever commented on #85
To quit the system properly, we need to force system to idle state. Then, send interrupt signals to speed detection loop and stop the hotword detection. For CLI, we may do it using 'q' button as you suggested. For GUI mode, make sure it happens atomically on close button press.

[2017-09-16 03:33] isht3 commented on #85
@betterclever I will get right on with it. Thanks for explaining!

[2017-10-03 15:59] Muks14x opened #86 "Gtk version error in Ubuntu 16.04"
On an install in ubuntu 16.04, on trying to run the app, I get a message telling me gtk+ 3.20 is needed. But app_window.py asks only for 3.0. It looks like the issue is because the .glade file generated is old, and expects 3.20. When I change the '3.20' in susi_app.glade to '3.0', the app runs fine.

**LogCat for the issue**

ALSA lib pcm.c:2266:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.rear
A

[2017-10-04 04:12] betterclever commented on #86
Yes. Please proceed. The required GTK+ version can be reduced to increase
support.

On Tue, Oct 3, 2017, 9:29 PM Mukuntha N S <notifications@github.com> wrote:

[2018-02-01 16:03] radioActivePiyush opened #87 "No option to change speech recognition engine"
no option to switch speech recognition engine if snowboy installation fails

[2018-02-05 09:20] yukiisbored opened #89 "install.sh shouldn't mess with the system site-package"
The user should be encourage to use a virtualenv or have install.sh set it up. Messing with the system site-package can cause damage with the system since it's usually handled by the operating system's package manager.

At some cases, the Python packages installed on the system can conflict with the ones being installed from pip.

This is why some Linux distributions/*BSDs patch pip to give the us

[2018-02-05 20:50] radioActivePiyush opened #91 "Unable to open ui for susi"
the command `$ python3 -m main` does not lead to ui or cli interaction

[2018-03-11 16:42] E3V3A opened #94 "What is the status of MMM-SUSI-AI?"
Hi Guys!

We're a bunch of developers for [MagicMirror](https://github.com/MichMich/MagicMirror)and we would like to use SUSI.AI. We asked some questions int he [MMM-SUSI-AI](https://github.com/fossasia/MMM-SUSI-AI) repo, but it seem abandoned...  :broken_heart:

Can you please let us know which sub-repository of SUSI.AI we should pay attention to in order to get this working on our mirrors?

Than

[2018-03-11 16:47] betterclever commented on #94
Hey! I was a little busy couldn't reply to that issue you raised on the MMM-SUSI-AI repo. I created it around July, it used to work then but I guess there is some dependency issue now. I'll check the current status and fix that soon. Did you try installing it using the given instructions? If it failed, can you give error logs. That would be helpful.

[2018-03-12 07:21] E3V3A commented on #94
Hi @betterclever !
Thanks for getting back to us. We haven't tried to install it yet, because:
1. We don't know if it is still mainatined?
2. We don't know if **this** repo development has superseeded the MMM,
3. What are the dependencies and requirements to use the MMM?
4. What services (API) does it use?

[2018-03-12 07:24] betterclever commented on #94
This repo is independent of MMM-SUSI-AI. That is being maintained though I
didn't get the time in a while to update packages in a while.

On Mon 12 Mar, 2018, 12:51 PM E:V:A, <notifications@github.com> wrote:

[2018-03-18 05:53] Donyme opened #95 "Input value error raised even though input is correct"
![issue1](https://user-images.githubusercontent.com/26718351/37563065-511e4af2-2a9e-11e8-8ee1-c07b136c85d6.png)

The input working here isn't y but  is 'y', i.e. with single quotes. It should be mentioned in documentation of the setup.

[2018-03-18 06:03] Donyme commented on #95
please review the pr #96

[2018-03-18 10:49] Donyme opened #97 "Syntax error during main file execution"
**Actual Behaviour**
![issue2](https://user-images.githubusercontent.com/26718351/37565024-66791f16-2ac7-11e8-8fc7-1d98bfec9814.png)
Syntax error

**Expected Behaviour**
No syntax error

Steps to produce it :
run the command python3 -m main in the susi_linux folder

[2018-03-22 05:15] girijamanojkumarreddy opened #98 "Button for checking the status of dependencies"
It will be better if we have a button for checking the status of the dependencies that are used by our project.

[2018-05-08 02:14] segaegaf opened #100 "ImportError: No module named 'RPi'"
i pressed "Ubuntu Setup Guide"
when i launch python3 -m main.
It crashing stating "ImportError: No module named 'RPi'"
-Just making it very clear that i did not install the raspberry pi version.
and ofc my ubuntu does not have Raspberry pi gpio modules (coz why the fuck would it?)

is this script ONLY for raspberry pi or what?

[2018-05-08 04:13] betterclever commented on #100
Did you enable Wake Button in Config?

[2018-05-08 13:42] segaegaf commented on #100
nope i simply followed the install for debian / ubuntu as i figured that was it :)
it said nothing about wake button or anything nor did it even mention where the config where located.

[2018-05-12 15:15] #98 closed

[2018-05-13 18:44] stealthanthrax opened #102 "Travis is failing"
Error log
[code]

I'd like to fix this

[2018-05-14 18:53] stealthanthrax opened #103 "SUSI_LINUX is not working on ubuntu systems"
It is importing GPIO.RPi modules which is only compatible with arm7 devices

[2018-05-15 13:49] hongquan commented on #103
That GPIO is for the "wake button", which doesn't exist on desktop PC.

So, I think there should be a mechanism to detect the availability of GPIO ports  and disable features which are for embedded system.

[2018-05-15 16:10] Santan47 opened #105 "Error during execution of "config_generator.py" file."
![json bug in susi1](https://user-images.githubusercontent.com/19388036/40068988-97b565a6-5887-11e8-8c17-57bd9e98cd13.jpg)
no module named as json_config.

[2018-05-15 19:34] stealthanthrax commented on #105
@Santan47 , did you execute install.sh file??

[2018-05-15 19:37] stealthanthrax opened #106 "Cairo not supported with latest Raspbian"
On running the command ```` python3 app.py ````
It returns an error of importing Cairo
And on ```` pip3 install Cairo  ````
It returns an error saying 'no compatible versions found
I fixed this by importing cairociff instead of cairo.

[2018-05-15 19:38] stealthanthrax commented on #106
@Orbiter @betterclever , are you guys facing this bug too or is just in mine?

[2018-05-16 06:43] hongquan commented on #106
`cairo` should not be installed via `pip`. It should be installed via `apt`.

[code]

[2018-05-16 12:19] Santan47 commented on #105
Hi @stealthanthrax , yes I executed the install script in susi_linux folder.

![install sh1 problem](https://user-images.githubusercontent.com/19388036/40116114-442c35aa-5930-11e8-8bb9-e60dab399301.jpg)

I am using ubuntu 14.04 OS and after execution of install.sh  I got an output like this.
There are some packages which are not installed in the execution and showing me error.
so can you tell me h

[2018-05-16 17:39] stealthanthrax commented on #106
Thank you @hongquan , this solves the issue

[2018-05-16 17:39] #106 closed

[2018-05-16 22:06] stealthanthrax opened #107 "To add an issue template"

[2018-05-16 22:07] stealthanthrax opened #108 "To add a PR template"
This will add uniformity and ease the process of PR creation

[2018-05-17 07:48] hongquan commented on #105
You are using too old Ubuntu (14.04), which doesn't have suitable software.

[2018-05-17 07:48] #102 closed

[2018-05-17 20:49] stealthanthrax opened #111 "Deploying a local server on the raspberry Pi"
**Actual Behaviour**

Only online server available in the wrapper

**Expected Behaviour**

To configure it with a local server

**LogCat for the issue**

Right now , while deploying the server on the raspberry pi , I am getting an error:
[code]

**Would you like to work on the issue?**

Yes but first, I'll fix the above issue and the continue with the deployment
This issue requires this [issue](ht

[2018-05-18 02:32] betterclever commented on #111
@hongquan The Susi Linux client is written in Python, the actual Susi server runs on Java. The issue is about deploying full Susi Server on the Client.

[2018-05-18 15:15] prateekiiest commented on #97
This will work with python 3 not python 2

[2018-05-18 20:56] stealthanthrax opened #112 "Cairo not being automatically installed through dependencies"
**Actual Behaviour**

Cairo is not being automatically installed, which is causing import error in `app.py` file

**Expected Behaviour**

To add automatic import in the dependencies file

**Steps to reproduce it**

Do not manually install `python3-cairo` and use `python3 app.py`

**Would you like to work on the issue?**

Yes

[2018-05-19 02:57] hongquan commented on #97
Your screenshot shows that you ran with Python 2, not 3.

And the line of code

[code]

is actually for Python3, not 2.

In Python 2, `print` is language statement, not function. So, that line, if run in Python 2, will be equivalent to

[code]

where `('%s\t' % h, end='')` is a tuple. But in a tuple, there cannot be "keyword" syntax `end=''`, so `SyntaxError` is raised.

[2018-05-19 16:43] stealthanthrax opened #113 "Automatic deployment of the local server"
**Actual Behaviour**

To start the local server, one has to start the server locally and use it on the localhost

**Expected Behaviour**

To clone and build the server on start

**Steps to reproduce it**
Add a script in `install.sh` file

**Please let us know if you can work on it or the issue should be assigned to someone else.**
Yes

[2018-05-19 17:29] stealthanthrax opened #115 "Error of codacy/pr Expected — Waiting for status to be reported"
**Actual Behaviour**

There is an error in every PR : `codacy/pr Expected — Waiting for status to be reported`

**Expected Behaviour**

This error is probably because of the renaming of this repo

**Steps to reproduce it**

Make a PR

**Would you like to work on the issue?**

This can be done by re-syncing the repo. (Only the people with merge rights can do this)

Like this
![82563760-d437-11e6-85

[2018-05-19 22:26] imjog opened #116 "Add support for "stop" action in SUSI response"
**Actual Behaviour**

Currently, new 'stop' action is introduced but the action is not implemented.

**Expected Behaviour**

With `stop` input SUSI should stop anything it's doing at that time. 'stop' action is introduced to enable user to make SUSI stop anything it's doing.
Try to make SUSI respond to “Stop” (e.g. SUSI is narrating a story and if the user says STOP, it should stop narrating the s

[2018-05-20 05:39] stealthanthrax commented on #116
Thanks @imjog , I'll try to implement it susi_linux

[2018-05-20 10:31] Orbiter opened #117 "Play audio from audio_play action"
**Expected Behaviour**

When susi returns a audio_play action, the hardware which the user is using must play the given from the given audio source.

**Steps to reproduce it**

susi_server must be running locally! The request must be done on local host.

Ask susi "system check" - http://127.0.0.1:4000/susi/chat.json?q=system+check
You will get the following action object:
[code]
This means that su

[2018-05-21 11:22] stealthanthrax opened #119 "To add a data parser to play audio"
**Actual Behaviour**

Now the skill to play audio has been made and hence should be done in the client

**Expected Behaviour**

To play audio through the client.
I plan to use vlc api for playing the audio.

**Would you like to work on the issue?**

Yes

[2018-05-21 17:12] #112 closed

[2018-05-21 18:47] stealthanthrax commented on #117
@Orbiter , this has been fixed here https://github.com/fossasia/susi_api_wrapper/pull/36

[2018-05-21 19:27] stealthanthrax commented on #119
This issue is fixed here fossasia/susi_api_wrapper#36

[2018-05-21 20:00] sansyrox opened #120 "To try to Create Raspi as a wireless access point"
**Actual Behaviour**
No actual way to connect the hardware to SUSI-Android/IOS app

**Expected Behaviour**

To allow the raspberryPi to work as a WAP for initialization through the app

**Would you like to work on the issue?**
Yes

[2018-05-21 20:47] Orbiter commented on #119
I recommend not to use any api to play audio which requires a GUI or any X libraries. We want that the linux on the raspi is small. We should avoid to use libraries which are not required on a headless system. Please use a headless player.

[2018-05-21 20:51] Orbiter opened #121 "Play audio from a Youtube stream"
**Expected Behaviour**

When susi returns a audio_play action, the hardware which the user is using must play the given audio source.
This is a follow-up feature to https://github.com/fossasia/susi_linux/issues/117

**Steps to reproduce it**

Ask susi "open the pod bay door" - https://api.susi.ai/susi/chat.json?q=open+the+pod+bay+door
You will get the following action object:
[code]
This means tha

[2018-05-21 20:53] stealthanthrax opened #122 "To deploy the skills_server locally"
**Actual Behaviour**

Now , the server has been deployed locally, to support complete offline mode, we must deploy susi_skills offline too

**Expected Behaviour**

To deploy susi_skills offline

**Would you like to work on the issue?**

Yes

[2018-05-21 20:57] Orbiter commented on #119
You can use the "play" command from the sox library, see:
https://packages.debian.org/sid/sox

This library is already mentioned in the susi_linux documentation, so it should be obvious that this can be used. The command is also already used in the project.

[2018-05-21 21:09] Orbiter commented on #120
See issues for
iOS: https://github.com/fossasia/susi_iOS/issues/287
Android: https://github.com/fossasia/susi_android/issues/1250

please work tightly together.

[2018-05-21 21:11] stealthanthrax commented on #119
Thanks @Orbiter , I'll use `sox` instead.

[2018-05-21 21:18] Orbiter commented on #16
We are now going for a Raspberry Pi Zero W with a ReSpeaker 2-Mics HAT

[2018-05-21 21:18] #16 closed

[2018-05-22 04:57] Donyme commented on #97
Thank you! For the explantion!

[2018-05-22 04:57] #97 closed

[2018-05-22 14:46] stealthanthrax commented on #121
@Orbiter , can I use this http://tizonia.org/ to play music?

[2018-05-22 14:51] betterclever commented on #121
I will recommend checking out
https://github.com/anyaudio/anyaudio-server

It is a completely open source project made by a long term FOSSASIA
contributor Avi Aryan.

On Tue 22 May, 2018, 8:16 PM Sanskar Jethi, <notifications@github.com>
wrote:

[2018-05-23 13:31] stealthanthrax commented on #121
@betterclever , does it consist of any x11 libraries?

[2018-05-23 13:47] betterclever commented on #121
It should not. It is meant to be a cross-platform app.

On Wed 23 May, 2018, 7:01 PM Sanskar Jethi, <notifications@github.com>
wrote:

[2018-05-23 22:35] stealthanthrax commented on #121
@Orbiter , the issue has been solved here https://github.com/fossasia/susi_api_wrapper/pull/37

[2018-05-24 23:12] stealthanthrax opened #124 "To create a Media Discovery daemon"
**Actual Behaviour**

No media discovery daemon present right now

**Expected Behaviour**

To create one that allows us to access the RasPi ports

**Would you like to work on the issue?**

Yes

[2018-05-25 19:13] stealthanthrax opened #125 "To change the voice in google speech api"
**Actual Behaviour**

The voice of susi_linux is different from the one used in google home

**Expected Behaviour**

To change the voice

**Would you like to work on the issue?**

Yes

[2018-05-26 10:46] Orbiter opened #126 "Create Media Discovery Daemon"
**New Behaviour**

Susi in local mode shall discover media from a USB device.
A new daemon must watch USB activities and check if media is inserted.
If new media is discovered, the daemon writes a file containing Intents in Susi Skill language which can be used to play the media. These intents must have simple audio_play actions and an URL which points to a file:// location in the local file syste

[2018-05-26 10:49] Orbiter commented on #126
To test this: the local susi_server must have the property `local.mode = true`, otherwise the media_discovers path is not watched.

[2018-05-27 07:59] stealthanthrax commented on #126
@Orbiter , should the daemon be running always or should it be triggered by some command?

[2018-05-27 19:58] stealthanthrax commented on #116
This issue is fixed here https://github.com/fossasia/susi_api_wrapper/pull/39

[2018-05-28 00:22] #120 closed, assigned to nobody

[2018-05-28 10:39] stealthanthrax commented on #121
Fixed here : https://github.com/fossasia/susi_api_wrapper/pull/37

[2018-05-28 15:15] hongquan commented on #126
If your desired feature is just to continuously watch and detect if USB device is plugged in, then execute some command, it is more naturally to use [udev](https://linuxconfig.org/tutorial-on-how-to-write-basic-udev-rules-in-linux).

[2018-05-28 16:42] stealthanthrax commented on #126
@hongquan , it will be easier to write susi_skills from this python script when the USB will be detected

[2018-05-28 17:26] stealthanthrax opened #128 "Creating a way to provide regular updates to the susi_linux"
**Actual Behaviour**

Currently , to update the files : You have to delete the folder that you want to update and then run the installation script

**Expected Behaviour**

To add a way to check for regular updates

**Would you like to work on the issue?**

Yes

[2018-05-29 05:55] Orbiter commented on #126
If that works, yes. Same must be the other way if it is detected that the USB is disconnected.

[2018-05-29 21:38] stealthanthrax opened #132 "Creating a way to allow Factory Reset"
**Actual Behaviour**

Currently, No way to trigger a Factory reset.

**Expected Behaviour**

Add a script that will factory reset all the settings

**Would you like to work on the issue?**

Yes

[2018-05-30 23:06] stealthanthrax opened #134 "To improve the Docs"
**Actual Behaviour**

Many new features have been added but docs have not been updated

**Expected Behaviour**

To update the docs

**Would you like to work on the issue?**

Yes

[2018-05-31 20:18] stealthanthrax opened #135 "To add a hardware button that will trigger the factory reset process"
**Actual Behaviour**

Right now the factory reset process can be triggered only by the terminal

**Expected Behaviour**

To use hardware switch to allow factory reset

**Would you like to work on the issue?**

Yes

[2018-06-01 20:44] stealthanthrax opened #136 "To add a stop button in the UI"
**Actual Behaviour**

No stop button in the UI and the user has to send a stop query

**Expected Behaviour**

To add a stop button UI

**Would you like to work on the issue?**

yes

[2018-06-03 10:58] stealthanthrax opened #137 "To add a way to Convert RasPi to normal mode"
**Actual Behaviour**

Right now only a script available to convert the raspi to WAP AND NOT BACKWARDS

**Expected Behaviour**

To convert it back to normal mode

**Would you like to work on the issue?**

Yes

[2018-06-03 15:22] #122 closed

[2018-06-03 20:45] stealthanthrax opened #139 "To add a way of testing the audio"
**Actual Behaviour**

Currently one has to record and play manually to test his recordings

**Expected Behaviour**

To add a way to automatically test the working of the mic input

**Would you like to work on the issue?**

Yes

[2018-06-04 21:39] stealthanthrax opened #140 "To add an option to support different accents and languages"
**Actual Behaviour**

Only one kind of accent is supported right now

**Expected Behaviour**

To support more accents and languages

**Would you like to work on the issue?**
Yes

[2018-06-05 23:48] stealthanthrax opened #142 "To create a script that will write skills when a USB device is inserted"
**Actual Behaviour**

The custom skill file is being created

**Expected Behaviour**

To write custom skills in it

**Would you like to work on the issue?**

Yes

[2018-06-06 09:50] stealthanthrax opened #143 "To add a way to get Wifi-Credentials from the user"
**Actual Behaviour**

The user has to manually select the wifi network after converting back to normal mode

**Expected Behaviour**

To add credentials during initialization

**Would you like to work on the issue?**

Yes

[2018-06-06 15:12] stealthanthrax opened #144 "To add a way to change STT(online) to pocketsphinx(offline)"
**Actual Behaviour**

Currently, we can only change STT provider through the configuration file

**Expected Behaviour**

To add a feature which automatically switches if the internet is down

**Would you like to work on the issue?**

Yes

[2018-06-06 15:19] stealthanthrax opened #145 "To add a way to search and change TTS(online ) to an offline service"
**Actual Behaviour**

Currently, no offline TTS available

**Expected Behaviour**

To change to an offline TTS if the wifi is down

**Would you like to work on the issue?**

Yes

[2018-06-06 15:24] stealthanthrax opened #146 "To add a fail over method of connecting wifi"
**Actual Behaviour**

Currently no failover method

**Expected Behaviour**

If there are wrong credentials entered by the user, the device should check 3 times and then prompt again

**Would you like to work on the issue?**

Yes

[2018-06-07 21:12] stealthanthrax opened #148 "Bugs in the installation script which cause it to crash unexpectedly"
**Actual Behaviour**

The script crashes after deploying server and work after restarting and then crashes  again before python wrapper cloning

**Expected Behaviour**

To fix these bugs

**Steps to reproduce it**

Start the script

**Would you like to work on the issue?**

Yes

[2018-06-08 03:16] #125 closed

[2018-06-08 21:18] stealthanthrax opened #152 "To check the frequency of update daemon"
**Actual Behaviour**

One has to manually trigger the update daemon

**Expected Behaviour**

To update the server and skill_Data with a fixed frequency(How regularly should the speaker check for updates).

**Would you like to work on the issue?**

Yes

[2018-06-09 19:05] stealthanthrax opened #153 "To add a way of automatically enabling the SSH connection"
**Actual Behaviour**

One has to manually enable the SSH connection through the pi menu

**Expected Behaviour**

To enable it automatically through a script

**Would you like to work on the issue?**

Yes

[2018-06-10 19:37] stealthanthrax commented on #111
Fixed Here : [link](https://github.com/fossasia/susi_linux/pull/118)

[2018-06-10 19:37] #111 closed

[2018-06-10 21:11] #134 closed

[2018-06-10 21:51] stealthanthrax opened #156 "To add a way of showing the speaker on the web client"
**Actual Behaviour**

Currently, the smart speaker is not displayed in the web client when initialized

**Expected Behaviour**

To add a way of using the showing it in the web client under the respective login id

**Would you like to work on the issue?**

Yes

[2018-06-11 20:36] #143 closed

[2018-06-11 20:36] #148 closed

[2018-06-11 20:37] #145 closed

[2018-06-11 20:38] #153 closed

[2018-06-13 17:36] AnupKumarPanwar opened #158 "Send country name and country code in chat.json API"
**Actual Behaviour**

Only latitude and longitude are send as API parameters.

**Expected Behaviour**

Country code and country name are also required to get country wise usage analytics.
Refer to this PR : https://github.com/fossasia/susi_server/pull/811

**Steps to reproduce it**

NA

**LogCat for the issue**

NA

**Screenshots of the issue**

NA

**Would you like to work on the issue?**

I thin

[2018-06-14 05:20] AnupKumarPanwar opened #160 "Send device type in chat.json API"
The type of device ie, "Smart Speaker" is  required to get device wise usage analytics.

**Steps to reproduce it**

NA

**LogCat for the issue**

https://api.susi.ai/susi/chat.json?q=hello&language=en&access_token=PGbzC5zYQBQUuCrYrarqIuRe4lvjfn&latitude=30.1667&longitude=77.3

**Screenshots of the issue**

NA

**Would you like to work on the issue?**

Yes

[2018-06-14 15:03] AnupKumarPanwar commented on #158
@stealthanthrax Actually I've solved the issue along with https://github.com/fossasia/susi_linux/issues/160. Should I send the PR myself?

[2018-06-14 15:06] #160 closed

[2018-06-14 21:19] stealthanthrax opened #162 "Configure the PiHat Led's with SUSI's Response"
**Actual Behaviour**

Currently, no lights are configured with SUSI.AI

**Expected Behaviour**

To configure the PiHat's LED in Sync with SUSI's response

**Would you like to work on the issue?**

Yes

[2018-06-15 05:41] Orbiter opened #164 "Media discovery daemon shall write susi skills"
**Expected Behaviour**

If the user plugs in a USB drive, the discovery daemon reads the USB drive and writes a skill file which can be used to play the media.

How it works:
- a local server is running on the device. It is looking for a skill file in the path `data/generic_skills/media_discovery/`
- a skill in that path must have intents (at least one, maybe more) to please each of the audio. The

[2018-06-15 05:49] Orbiter commented on #164
in case that the media is removed from USB, the skill file must be removed again.

[2018-06-15 06:59] Orbiter commented on #164
The name of the skill file may be {any}.txt

[2018-06-15 10:10] stealthanthrax opened #165 "To Update the documentation of connecting with SSH"
**Actual Behaviour**

No documentation regarding SSH connection

**Expected Behaviour**

To update the documentation

**Would you like to work on the issue?**

Yes

[2018-06-15 22:16] stealthanthrax commented on #152
The frequency as of now is decided as whenever the Pi boots up

[2018-06-17 02:44] #144 closed

[2018-06-17 06:14] #25 closed

[2018-06-17 06:17] mariobehling commented on #13
@stealthanthrax Let's follow up on this now. How can we get a custom image with SUSI to be installed on an SD Card?

[2018-06-17 18:22] stealthanthrax commented on #81
The states are now well documented.

[2018-06-17 18:22] #81 closed

[2018-06-17 21:38] stealthanthrax opened #167 "Order of data parsing is not correct"
**Actual Behaviour**

First the video is played and then the answer is made , similarly in audio case

**Expected Behaviour**

To first give the answer and then play the video

**Steps to reproduce it**

Play any command to get 'audio/video' action

**Would you like to work on the issue?**

Yes

[2018-06-18 11:56] #142 closed

[2018-06-18 14:30] stealthanthrax opened #169 "To add a Smart Reset in case the update fails"
**Actual Behaviour**

When an update fails, one has to delete the entire repo and clone again

**Expected Behaviour**

To add a feature of smart reset

**Would you like to work on the issue?**

Yes

[2018-06-18 14:37] stealthanthrax opened #170 "To Use http connection instead of SSH"
**Actual Behaviour**

Currently using SSH connection

**Expected Behaviour**

To use an HTTP server instead

**Would you like to work on the issue?**

Yes

[2018-06-18 14:46] stealthanthrax opened #171 "To document media daemon workflow"
**Actual Behaviour**

No documentation present right now

**Expected Behaviour**

To add documentation

**Would you like to work on the issue?**

Yes

[2018-06-18 19:41] stealthanthrax opened #172 "To document the workflow of connection between Smart speaker and IOS/Android App"
**Actual Behaviour**

No documentation present

**Expected Behaviour**

To add documentation

**Would you like to work on the issue?**

Yes

[2018-06-18 21:40] stealthanthrax opened #173 "To add state transitions for actions like volume control"
**Actual Behaviour**

SUSI stops listening when processing the query

**Expected Behaviour**

To allow SUSI processing and listening

**Would you like to work on the issue?**

Yes

[2018-06-18 22:13] stealthanthrax opened #174 "Minor Bugs in the python main script"
**Actual Behaviour**

Minor Bugs in the script while using the command `python3 -m main`

**Expected Behaviour**

Fix the bugs

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links to a sample deployment or code.

**LogCat for the issue**

Provide logs for the crash here

**Would you like to work on the issue?**

[2018-06-18 22:57] stealthanthrax opened #176 "To correct the folder architecture of speaker"
**Actual Behaviour**

Currently, the path is hardcoded as `/home/pi/SUSI.AI`

**Expected Behaviour**

To choose a better path

**Would you like to work on the issue?**

Yes

[2018-06-18 23:15] #174 closed

[2018-06-18 23:15] #167 closed

[2018-06-20 17:16] stealthanthrax opened #179 "The youtube audio is running in an endless loop"
**Actual Behaviour**

Tizonia does not automatically stop when the video is finished and has to be stopped manually

**Expected Behaviour**

To stop the program after the song has ended

**Steps to reproduce it**

Use any `play` command to trigger it

**Would you like to work on the issue?**

Yes

[2018-06-20 19:28] #156 closed

[2018-06-20 20:33] stealthanthrax commented on #164
Fixed here : [link](https://github.com/fossasia/susi_linux/pull/159)

[2018-06-20 20:33] #164 closed

[2018-06-20 22:48] stealthanthrax opened #181 "To add a solution incase the USER changes the wifi credentials"
**Actual Behaviour**

After changing the wifi-credentials, the user has no access to the speaker and will have to use the physical button to reset the device

**Expected Behaviour**

To add a compressed SUSI_linux repo inside the repo which will be extracted and will replace the original repo

**Would you like to work on the issue?**

Yes

[2018-06-20 22:52] stealthanthrax commented on #176
@mariobehling @Orbiter @hongquan , instead of changing the path to `/home/SUSI.AI` as it will require a lot of different privileges, we can use `$HOME/SUSI.AI` and by default, $HOME is set to `/home/pi` in the raspberry pi.

[2018-06-20 22:52] #158 closed

[2018-06-20 22:56] stealthanthrax opened #182 "To add a script to configure other scripts on work on bootup"
**Actual Behaviour**

Many present scripts require to executed on boot-up.

**Expected Behaviour**

To create a script that will allow the other script to execute on startup

**Would you like to work on the issue?**

Yes

[2018-06-21 04:20] prateekiiest commented on #105
is this issue resolved, may be we can close this

[2018-06-22 06:34] #170 closed

[2018-06-22 06:35] #179 closed

[2018-06-22 07:10] mariobehling commented on #135
Here is an approach mentioned by @hongquan

Programs are placed in 1st partitions. Their default configuration are also placed in 1st partition. Changed configuration are placed in 2nd partition. They then use some technique (called "overlay") to place the configuration of the 2nd partition to be on of top 1st partition. For example: they have the network config at /etc/config/network. But if user

[2018-06-22 07:17] mariobehling commented on #136
This is confusing. We don't have a UI. Therefore I am closing it. If you mean something else, please open an issue and use a clearer wording and describe in detail.

[2018-06-22 07:17] #136 closed

[2018-06-22 07:55] mariobehling commented on #51
Out of scope of the current project.

[2018-06-22 07:55] #51 closed

[2018-06-22 07:58] mariobehling commented on #176
Ok, sounds good. However, this needs to be revisited as we are not only focusing on PIs and we need to adapt this in future for other devices. Thanks.

[2018-06-22 08:02] hongquan commented on #135
Now, I think we cannot follow totally OpenWrt's approach, because:

- Our software is just an app, not an OS. We cannot define how partition should be.
- Changing partition layout will involving modify Raspbian build script. If we do too much modification, we will end up maintaining a new OS!

So, instead of dividing to 2 partitions (read-only and writable), we can divide our app to 2 parts:
- Sof

[2018-06-23 11:27] #176 closed

[2018-06-23 13:20] Orbiter commented on #172
![susi_connection_process](https://user-images.githubusercontent.com/238730/41810086-df6f49e0-76f8-11e8-924b-afcd50ca091f.JPG)

I tried to draw the process. Please discuss.

[2018-06-23 14:10] prateekiiest opened #187 "Check if WIFI Parameters get exceeded"
**Actual Behaviour**

Currently the user should supply `SSID` and `passwd` as input parameters for connection. But unknowingly, the user may supply a password having spaces.

So instead of supplying
`SSID` `passwd`
the parameters may be `SSID` `passwd_part1` `passwd_part2`.

Or even accidentally the user may supply a third command.

Please state here what is currently happening.

**Expected Behavi

[2018-06-23 14:14] mariobehling commented on #172
Yes, this is the plan.

[2018-06-23 22:02] Orbiter commented on #172
When the Susi Device is creating it's own hot spot, we should use a fixed name for that so its easier to identify that the Android/IOs device has actually found the right one. Lets call the ssid "susi.ai", that would create some advertisement in the very moment when the hotspot is on.

[2018-06-24 06:45] woshikie opened #189 "install.sh errors"
**Actual Behaviour**

install.sh outputs error upon running

**Expected Behaviour**

run without errors

**Steps to reproduce it**

clone repo into ~/ then, run ~/susi_linux/install.sh

**Screenshots of the issue**
on ubuntu
`fallenwings@FallenWings:~$ git clone https://github.com/fossasia/susi_linux && cd susi_linux && ./install.sh
Cloning into 'susi_linux'...
remote: Counting objects: 665, done.

[2018-06-24 08:14] mariobehling commented on #172
Yes, please use it in caps "SUSI.AI".

[2018-06-24 20:54] stealthanthrax opened #192 "To move the user authentication code to a different file"
**Actual Behaviour**

Right now the user is authenticated and the device is registered through the `config-generator.py` script. At that moment, no internet connection would be available since the speaker would be in wap mode.

**Expected Behaviour**

To move it to a script which will run when there is access to the internet

**Would you like to work on the issue?**

Yes

[2018-06-25 11:56] mariobehling commented on #171
Please complete the issue by providing a flow chart.

[2018-06-25 21:00] stealthanthrax opened #194 "To correct the folder architecture of SUSI_linux according to smart reset"
**Actual Behaviour**

No fixed folder architecture fixed

**Expected Behaviour**

To have a systematic folder architecture that will help in smart reset mode

**Would you like to work on the issue?**

Please let us know if you can work on it or the issue should be assigned to someone else.

[2018-06-25 21:34] stealthanthrax opened #195 "To decide the required digital amplifier"
**Actual Behaviour**

No digital amplifier is being used

**Expected Behaviour**

To decide an external digital amplifier required

**Would you like to work on the issue?**

[2018-06-25 21:36] #105 closed

[2018-06-25 22:13] stealthanthrax opened #196 "To recognise volume change action type"
**Actual Behaviour**

The volume change action type is not recognized by the client

**Expected Behaviour**

To add a music sound after recognition and change the sound output accordingly

**Would you like to work on the issue?**

Yes

[2018-06-26 12:10] prateekiiest commented on #165
I guess this can be closed?

[2018-06-26 13:10] prateekiiest opened #198 "Make use of List Comprehension for faster auto_skill execution"
https://github.com/fossasia/susi_linux/blob/8b93c4fe6ea24b856753c0f0f1e2ed3785556802/media_daemon/auto_skills.py#L14

Yes , I want to work on this

[2018-06-26 13:16] prateekiiest opened #200 "Add Documentation for auto skills"
**Actual Behaviour**
Currently there is no documentation about the current work on autoskills

Please state here what is currently happening.

**Expected Behaviour**
To add the required documentation

**Would you like to work on the issue?**

Yes

[2018-06-26 18:40] stealthanthrax commented on #115
This issue is fixed now

[2018-06-26 18:40] #115 closed

[2018-06-26 19:09] stealthanthrax opened #201 "To allow the daemon to play all music files"
**Actual Behaviour**

Right now the daemon only plays the first song in the directory

**Expected Behaviour**

To play all the songs

**Steps to reproduce it**

Say `play from USB`

**Would you like to work on the issue?**

Yes

[2018-06-27 11:37] #103 closed

[2018-06-27 11:38] #198 closed

[2018-06-27 21:30] stealthanthrax opened #204 "SUSI stops listening while processing the queries"
**Actual Behaviour**

SUSI stops listening while processing the queries,eg. while playing a song , when you say 'google stop' in google home , it stops the music and 'processes another query(stop) while still processing the first one(playing music)' ,
so actions like stop action do not work in SUSI right now. Since , it only processes one query

**Expected Behaviour**

To fix this bug

**Steps to

[2018-06-27 22:42] #146 closed

[2018-06-27 22:43] #192 closed

[2018-06-27 22:46] #173 closed

[2018-06-28 04:19] woshikie commented on #195
I was thinking about [https://www.adafruit.com/product/1712](this i2c amplifier from Adafruit)

[2018-06-28 15:42] mariobehling commented on #172
Unfortunately SVGs don't display on github. Please add the svg code into an independent file in the folder `docs/images` and use "rawgit.com" to add it into the Readme.md.

[2018-06-28 15:48] woshikie opened #206 "More Installation Errors on Raspbian Scratch"
**Describe the bug**
Installation Errors on Raspberry Pi Zero W

**To Reproduce**
Steps to reproduce the behavior:
1. Flash a new version of raspbian to raspberry pi
2. Clone susi_linux repo
3. Run install.sh

**Expected behavior**
A smooth installation without errors

**Screenshots**

- Original Log
[Terminal Log (Pastebin)](https://pastebin.com/GdWWNHBh)
- After #212
[Terminal Log (Pastebin)](ht

[2018-06-28 15:54] woshikie opened #207 "Errors when running config_generator.py"
**Describe the bug**
Errors occured when running config_generator.py

**To Reproduce**
Steps to reproduce the behavior:
1. Flash a fresh version of Raspbian Image
2. Install SUSI on it, expect errors (#206).
3. Run `python3 config_generator.py`

**Expected behavior**
No errors and completes the configuration

**Screenshots**
[code]
after install script fixes
[code]

[2018-06-28 16:14] woshikie opened #208 "Installation Issues on Ubuntu18.04"
**Describe the bug**
Installation Errors

**To Reproduce**
Steps to reproduce the behavior:

1. Flash a new version of Ubuntu 18.04 LTS
2. Clone susi_linux repo
3. Run install.sh

**Expected behavior**
A smooth installation without errors

**Screenshots**
[Terminal Log (Pastebin)](https://pastebin.com/u3p1hjdx)

**Additional context**
A different error occurs on Raspbian (#206)

[2018-06-28 18:14] stealthanthrax commented on #207
@woshikie , you have to run `install.sh` file

[2018-06-28 18:21] stealthanthrax commented on #206
@woshikie , would you like to work on these issues, or can these be assigned to someone else?

[2018-06-29 01:36] woshikie commented on #207
@stealthanthrax I already did

[2018-06-29 01:39] woshikie commented on #206
@stealthanthrax I'd love to, but I have some questions.
1) why is graddle needed? Isn't susi a python app?
2) why is the local server started automatically?
3) i ran into some issues after this, can you help?

[2018-06-29 14:08] mariobehling opened #211 "Make project hardware agnostic"
* [ ] For GPIO & PWM things, just use Linux standard interface (read/write file) to work with GPIO, PWM ports. Don't use 3rd-party libraries (like Adafruit's RPi.GPIO).
* [ ] Don't rely on Raspberry specific program to enable/disable feature. In this README, for example, the author tells to use Raspberry Pi Configuration to enable/disable SSH. I don't agree with this way. On Linux, just installing

[2018-06-29 19:43] stealthanthrax commented on #206
@woshikie ,
1> Our main SUSI server is made in JAVA hence we need a gradle to build and deploy it locally.
2> The local server is started automatically since we are using the local server as the default, so we'll try and connect to it every time
3> I can try and solve issue #207 ??

[2018-06-30 11:20] stealthanthrax commented on #206
@woshikie , the local server increases the efficiency by around 20% and if there is a failure in local server : say a build failure , we switch to the online server

[2018-06-30 13:17] woshikie commented on #206
@stealthanthrax and what should happen if there's a build failure for the local server and the online server is offline for some reasons?

[2018-06-30 16:41] cweitat commented on #195
https://www.adafruit.com/product/3006
Looking at this as alternative as well

[2018-06-30 16:56] stealthanthrax commented on #206
@woshikie , the user can do a soft reset to start the build again

[2018-06-30 17:01] woshikie commented on #206
@stealthanthrax if the user is unable to build it the first time, how is it possible that the use is able to build it even after soft reseting?

[2018-06-30 21:13] #200 closed

[2018-06-30 21:14] #172 closed

[2018-07-01 11:10] #201 closed

[2018-07-01 13:57] prateekiiest commented on #116
Can this be closed?

[2018-07-01 14:59] imjog commented on #116
@prateekiiest @mariobehling yes, it can be closed since it is implemented on all the clients.

[2018-07-01 16:04] stealthanthrax commented on #116
@imjog , this shouldn’t be closed right now, as there is a dependent bug whose PR is in progress

[2018-07-02 02:11] woshikie commented on #206
Reopened because issue is still happening

[2018-07-02 05:48] stealthanthrax commented on #206
@woshikie , i am unable to replicate this bug. Please can you elaborate?

[2018-07-02 07:41] woshikie commented on #206
@stealthanthrax i have updated the log

[2018-07-02 15:19] prateekiiest opened #215 "Make an automated support for using either Snowboy or Pocketsphinx when one is not installed."
**Is your feature request related to a problem? Please describe.**

Currently under `hotword`, we let the user decide if they have Snowboy installed on their device and ask them to use it if they have (due to its much more features). On the other hand if Snowboy is not installed we ask them to go for PocketSphinx and use it.

https://github.com/fossasia/susi_linux/blob/912948bf34eb43018f71fde44e6f

[2018-07-02 15:21] prateekiiest commented on #215
@stealthanthrax I am unable to add labels without right access. Could you assign me this and add appropriate labels for this issue?

[2018-07-02 20:23] stealthanthrax commented on #215
@prateekiiest , what if the user wants to user Pocketsphinx by default??

[2018-07-02 21:34] stealthanthrax opened #216 "To Add documentation and installation regarding the ReSpeaker"
Current Behavior
No documentation regarding the ReSpeaker present

Expected Behaviour
To add the respected documentation

Would you like to work on this issue?
Yes

[2018-07-03 00:13] stealthanthrax opened #217 "The volume action throwing error on some devices"
**Describe the bug**
The volume action is not working on some devices and working on some devices

**To Reproduce**
Steps to reproduce the behavior:
1. `python3 -m main`
2. Say 'set audio to 80'

It will throw an error

**Expected behavior**
It should work on all devices

**Would you like to work on this issue**
Yes

[2018-07-03 09:21] prateekiiest commented on #215
you are saying when both the libraries are installed properly?

we make an exception only when snowboy is not present, then use Pocketsphinx. Else in all other cases use Snowboy ?

[2018-07-03 09:53] hongquan opened #219 "Fix installation process"
This issue is to collect some fix need to make in the installation script.

The target is to make the installation work on Raspbian Stretch (9) and Ubuntu 18.04, and make the process simpler.

Some core idea:
- Try to install the dependency software from the OS repository (via `apt`) and from Python [PyPI](https://pypi.org/) (via `pip3`) first. Only install from source (`make`) if the previous met

[2018-07-03 09:54] hongquan commented on #219
- SWIG should be installed from Debian repository.
- `libatlas-dev` doesn't exist. Install `libatlas-base-dev` instead.

[2018-07-03 10:00] stealthanthrax commented on #215
Right now we provide the user a choice to select from the library, should we continue to do it? @mariobehling @Orbiter @hongquan @cweitat @woshikie . What is opinion on this??

[2018-07-03 10:08] prateekiiest commented on #215
So under `init.py`  we have

[code]

instead of that

[code]

Some thing like this, without the user to choose.

[2018-07-03 10:10] hongquan commented on #219
- Tizonia default installtion script only installs Python 2 packages (from https://dl.bintray.com/tizonia/raspbian), not Py3. Doesn't hae a fix yet!

[2018-07-03 10:12] stealthanthrax commented on #219
* The final step in `install.sh` doesn't prompt the user to use `python3 config_generator.py` however, the new format is 'python3 config_generator.py stt tts hotword wake'

[2018-07-03 10:14] hongquan commented on #219
From @stealthanthrax feedback, we use Tizonia just for playing Youtube, but Tizonia is buggy, support too many services, and doesn't support Python 3, so we should find a replacement.

[2018-07-03 10:37] woshikie opened #220 "Alternative for Tizonia"
Tizonia is a huge library and is also buggy. Therefore an alternative would be good.

**Suggested Alternative**

- https://github.com/Sorashi/youtube-play
- https://github.com/mps-youtube/mps-youtube

[2018-07-03 11:00] hongquan commented on #219
- Flite can be installed via `apt`.
- The udev rule in _media_daemon/media_daemon.sh_ looks weird:

[code]

It is supposed to tell _udev_ to run the _media_daemon/autostart.sh_ script when USB drive is plugged in, and run the _media_daemon/autostop.sh_ when USB drive is removed. But the full rule

[code]
doesn't tell `udev` to only look into USB devices!

By the way, after writing these lines of r

[2018-07-03 11:02] hongquan commented on #219
- When I plug my USB drive in, then run `python3 auto_skill.py` manually, the script doesn't detect my drive.

[code]
while `lsblk` still shows my drive:

[code]

[2018-07-03 17:05] hongquan commented on #219
Some Python packages, like [snowboy](https://github.com/Kitt-AI/snowboy.git), has to be installed from Git source, just because the version published to [PyPI](https://pypi.org/project/snowboy/) is too old.

To ease the process, I think one of us can make the wheel package of the newer version and upload to some PyPI-like host, so other can install quickly via `pip3`. And the advantage of wheel pa

[2018-07-03 17:29] stealthanthrax commented on #220
I was thinking instead of using separate programs to play just youtube videos, we could just use `mpv --no-video [youtube-link]` to play the music

[2018-07-03 17:42] stealthanthrax commented on #219
@hongquan , the autoskills.py script is working fine on my side , please try using a different USB or the same USB with the different name

[2018-07-03 22:06] stealthanthrax opened #221 "Some bugs in the python server"
**Describe the bug**
When the endpoints are called through the mobile app, the commands are received but the scripts are not executed

**To Reproduce**
Set Up SUSI smart speaker from Android App

**Expected behavior**
To fix this feature

**Desktop (please complete the following information):**
 - OS: Raspbian
 - Version Strech

**Would you like to work on this ISSUE**
Yes

[2018-07-04 10:14] hongquan commented on #220
Yes, let's go with `mpv`.

[2018-07-04 11:54] prateekiiest commented on #215
@hongquan thanks for your input on this. Can you please elaborate how we can detect that using `import`?
Does the above approach that I mentioned look plausible?

[2018-07-04 16:49] hongquan commented on #219
@stealthanthrax Found the cause: Your script tries to call `mount` command, which requires _root/sudo_ permission.
But our app, as every general application, should not be run under `root`, or `sudo`.

[2018-07-04 17:03] stealthanthrax commented on #220
I would like to work on this issue

[2018-07-04 17:22] hongquan commented on #221
- Make title more specific. "Some bugs"? Which bug?
- The bug description is still vague. Which endpoints? Which command? Which script is not executed?

[2018-07-04 17:59] hongquan commented on #89
The device (Rasp Pi) is supposed to contain only our application (SUSI.AI), not other applications (like in server), so the risk of conflict is not high, and the complexity of carrying a virtualenv doesn't worth (has to decide how the name should be, where is the location).

We try to make our app work on the latest OS, latest Python, and try to always use the latest Python packages. Our applicati

[2018-07-04 18:22] hongquan opened #223 "Media Discovery should not be run under `root`"
**Describe the bug**
I [discovered](https://github.com/fossasia/susi_linux/issues/219#issuecomment-402525554) that Media Discovery, the script to create skill to play audio file, when USB drive is inserted, is being running under _root_ user. This is not good. Except when our application is a system program (like `systemd`, `ModemManager` etc), we should not let our application run with "root" per

[2018-07-04 21:02] stealthanthrax commented on #215
@prateekiiest , instead of using `from .sphinx_detector` use `from sphinx_detector`

[2018-07-05 03:26] hongquan opened #226 "Media Discovery installation script breaks wifi"
**Describe the bug**
As [discovered](https://github.com/fossasia/susi_linux/issues/219#issuecomment-402109855) in #219, the  step of setting up Media Discovery has installed a faulty `udev` rule that breaks the wifi. Other than that, the rule is written to OS-owned file instead of project-owned file, that make it impossible to recover automatically.

**To Reproduce**
Steps to reproduce the behavio

[2018-07-05 04:00] hongquan commented on #223
Test again, I found that the _auto_skills.py_ script doesn't try to mount USB drive. It calls "mount" without argument, just to list all mount points. This action doesn't require "root".

But there is another issue, this script assumes that the USB drive was automatically mounted by some other program (like Desktop Environment). So this script fails to discover media files if Rasp Pi is run in hea

[2018-07-05 04:02] hongquan commented on #219
More discussion about "Media Discovery not working" are in #223.

More discussion about "Media Discovery breaks wifi" are in #226.

[2018-07-05 04:26] #226 closed, assigned to nobody

[2018-07-05 04:33] hongquan commented on #207
The `json_config` seems to be installed somewhere by the _install.sh_, but this _install.sh_ failed on your machine, so you didn't get `json_config`. You have to install it manually.

[2018-07-05 04:35] woshikie commented on #220
looks like there's some codacy issues with #224
perhaps we could take another approach.
For an example, https://stackoverflow.com/questions/49354232/stream-youtube-audio-from-python-using-url-without-downloading-python

[2018-07-05 04:36] #207 closed

[2018-07-05 04:53] hongquan commented on #220
The Codacy issue is not related to choosing what program to play. It is the issue of using which function to call external program.

Note, @stealthanthrax, `mpv` is still an external program. The installation script should tell user to install `mpv` as dependency.

[2018-07-05 04:57] woshikie commented on #152
Closing as the frequency has been decided

[2018-07-05 04:57] #152 closed

[2018-07-05 05:21] prateekiiest commented on #219
@hongquan are you working on  https://github.com/fossasia/susi_linux/issues/219#issuecomment-402227526 to keep the 3rd party software in its required folder ?

May be I can send a PR for you?

[2018-07-05 05:29] hongquan opened #229 "Create proper vector SVG image"
**Describe the bug**
@prateekiiest , when @mariobehling tell you to make diagram document in SVG, he wants a vector image, so that it comes as "source", can be edited, and can be scale. But why you make it in bitmap and just embed to SVG file? This is not honest.

**Expected behavior**
The file is a true SVG image, with lines and shapes being made by SVG code.

**Screenshots**
Current SVG source:

[2018-07-05 05:31] hongquan commented on #219
@prateekiiest No, I'm not working on it.

[2018-07-05 05:55] prateekiiest commented on #219
Then I will open an issue for it and send a PR accordingly

[2018-07-05 07:04] hongquan commented on #215
@prateekiiest

[code]

Note, the symbol looks different (`snowboy.snowboydetect.SnowboyDetect` vs `snowboy_detector.SnowboyDetector`) because mine is using standard installation of snowboy.

[2018-07-05 07:39] hongquan commented on #215
Looking into _hotwork_engine_ folder:

![image](https://user-images.githubusercontent.com/314607/42308623-5131ff6c-8060-11e8-8500-45f3840b6850.png)

The `snowboy_detector` module is the local module of `hotwork_engine`, so that you have to import by `from .snowboy_detector import ...` in *\_\_init\_\_.py* script.

Inside _snowboy_detector.py_:

[code]

It is trying to import `snowboy` from the loc

[2018-07-05 09:04] stealthanthrax commented on #220
@woshikie , we can't follow that approach since vlc requires x11 libraries and we'll not be using graphical interfaces

[2018-07-05 12:33] prateekiiest opened #230 "Dont copy snowboy to susi_linux folder"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

This is in relation to https://github.com/fossasia/susi_linux/issues/219#issuecomment-402227526
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Remove operations where we are copying snowbo

[2018-07-05 12:48] prateekiiest commented on #215
Thanks @hongquan for giving a clear view on this.
I have sent a PR for deleting the snowboy folder.

[2018-07-05 13:17] prateekiiest commented on #169
@stealthanthrax can I take this up if you wish?

[2018-07-05 18:07] stealthanthrax commented on #169
@prateekiiest , do you have any approach in mind??

[2018-07-05 18:23] stealthanthrax commented on #206
@woshikie , there are some updates made now , can you check again on the pi 0 ??

[2018-07-06 02:53] Akshat-Jain opened #234 "Update the installation docs regarding configuring and running SUSI on the Raspberry Pi"
I've been trying to setup Raspberry Pi 3 for several days now, and finally managed to configure and run SUSI on it yesterday. I think the installation docs are missing a few important steps.
Hence, the installation docs should be updated with the proper procedure for configuring and running SUSI on the Raspberry Pi.

[2018-07-06 03:34] woshikie commented on #234
Can you tell us what are the extra steps you took to install on your raspberry pi 3?

[2018-07-06 03:43] Akshat-Jain commented on #234
@woshikie All the steps mentioned in the installation doc need to be executed once we're in the `SUSI.AI` folder, right? I can't find this info in the docs, and I actually spent a lot of time trying to execute the commands in the root directory itself. Also, the `install.sh` command should be run with `sudo` otherwise I was getting errors like permission denied. I think these minor things should b

[2018-07-06 04:41] woshikie commented on #195
https://github.com/respeaker/seeed-voicecard/issues/39
looks like the re-speaker already has a built-in speaker. I am going to test the loudness

[2018-07-06 04:41] hongquan commented on #215
@prateekiiest Which PR is to delete Snowboy? We have 2 things to do:
- Delete local _snowboy_ folder.
- Install _snowboy_ by standard method (`pip3 install` or `python3 setup.py install`)
- Fix the `hotword_engine_ to let it use standard `snowboy`. Currently, it is relying on the local `snowboy`.

[2018-07-06 04:45] hongquan commented on #219
Regarding `snowboy` issue, we have 3 things to do:
- Delete local _snowboy_ folder.
- Install _snowboy_ by standard method (`pip3 install` or `python3 setup.py install`)
- Fix the `hotword_engine` to let it use standard `snowboy`. Currently, it is relying on the local `snowboy`.

It will be good if you can combine these to 1 PR, so that it is not half-cooked and break the system.

[2018-07-06 04:47] prateekiiest commented on #215
@hongquan I am only currently deleting the `cp` operation for moving files.
PR #231

I will fix the third point under #228

[2018-07-06 04:48] prateekiiest commented on #219
https://github.com/fossasia/susi_linux/issues/215#issuecomment-402923779

[2018-07-06 04:54] woshikie commented on #206
@stealthanthrax gradle build still failed at

- GeocodingTest > testNoTFound
- GeocodingTest > testGeocoding

[2018-07-06 06:30] woshikie commented on #195
Tested both 2W8Ω and 1W8Ω speakers by connecting them raw (no additional amplifier) to the respeaker's Speaker Out port by soldering two extra jumper cables to the back of the JST 2.0 Male Port.

Both speakers works well and tested to be able to hear at about 5 metres away. The microphone is also picking up echos from the speaker at the same distance.

[2018-07-06 06:34] woshikie commented on #234
the install.sh should **not** be ran with `sudo` because the `SUSI.AI` is not supposed to be touching any system settings or files

[2018-07-06 07:08] Akshat-Jain commented on #234
@woshikie Running it without `sudo` was ending the script with `permission denied` error for me.

[2018-07-06 08:11] stealthanthrax commented on #234
@Akshat-Jain , `sudo` issue is fixed now we can use it as it is

[2018-07-06 08:45] woshikie commented on #206
@stealthanthrax i have updated the log on the first post, please take a look

[2018-07-06 09:23] stealthanthrax commented on #206
@woshikie , this a problem with pi zero's architecture and JVM version. I think this can be solved only from the server side repo

[2018-07-06 10:03] #217 closed

[2018-07-06 10:04] #221 closed

[2018-07-06 10:10] hongquan opened #236 "To host pre-built 3rd-party software to reduce install time"
When installing susi_linux for development, we need to install many dependencies. Some of them need to be compiled from C/C++ source. It takes long time, especially on weak device like Pi Zero. It wastes our developer's time when our product is still unstable and need to be reinstalled many time.

**Solution:**
Build dependencies to *.deb and .whl files (*.whl is Python wheel package, used for ins

[2018-07-06 10:12] hongquan commented on #236
In those of 3 services, I only have experience with PackageCloud (free plan) and Gemfury.

[2018-07-06 10:14] mariobehling commented on #236
@hongquan Yes, sounds good. Which one do you want to go with. If no-one else has a preference, please help to set it up and let me know what else you need.

[2018-07-06 10:19] hongquan commented on #236
I will go with PackageCloud. But to register our OSS project, have to contact them via email.

[2018-07-06 10:33] hongquan opened #237 "Avoid hard-code full path in Python code"
One example code

[code]

It will take a lot of effort to fix the code if we move susi_linux to other location later. Please:

1. Replace those hard-code path with relative path, or absolute path built with `os.path` functions and special constant `__file__`. For example, if the script is _susi_linux/media_daemon/auto_skills.py_:

[code]

2. Stop moving around with `os.chdir`. It is easy to lost t

[2018-07-06 14:33] woshikie commented on #208
Tested & Worked on Linux Mint 18.3 Sylvia

[2018-07-06 14:33] #208 closed

[2018-07-06 23:11] stealthanthrax commented on #219
@hongquan , one instance of swig is already being installed form the debian repos , the one being installed locally is used to compile the python wrapper of snowboy

[2018-07-06 23:13] stealthanthrax commented on #219
@hongquan , swig versions are being installed from source as well as the debian repo's. Should I delete the one from the source just like that??

[2018-07-06 23:21] stealthanthrax commented on #237
@hongquan , there some bash scripts that when run through python , which identify `/home/pi` path as `root` if we do not hardcode `/home/pi`

eg python server files

I'd like to fix the rest issues

[2018-07-06 23:40] stealthanthrax commented on #124
This issue is Implemented(duplicate)

[2018-07-06 23:40] #124 closed

[2018-07-06 23:41] stealthanthrax commented on #126
Fixed here : [link](https://github.com/fossasia/susi_linux/pull/157)

[2018-07-06 23:41] #126 closed

[2018-07-06 23:45] stealthanthrax commented on #119
Fixed here : [link](https://github.com/fossasia/susi_linux/pull/168)

[2018-07-06 23:45] #119 closed

[2018-07-06 23:50] stealthanthrax commented on #182
@hongquan , the user will have to implemented manually, or I can add it in `install.sh`

[2018-07-06 23:53] stealthanthrax commented on #204
@Orbiter @hongquan @cweitat @woshikie , can you give some suggestions on this issue , as this is causing a bit of the blocker

[2018-07-07 02:53] hongquan commented on #182
All the scripts that need to be started on bootup have to be implemented as `systemd` service.
The _install.sh_ should take care of installing those services.

[2018-07-07 03:04] hongquan commented on #182
Later on, let's create a folder named _Deploy_ to contains files used for deployment. The structure can be:

[code]

The systemd service files are prefixed `ss`, means `susi`, to mark that they are from our project.
When installing SUSI.AI, the _ss-*.service_ files are then copied to _/lib/systemd/system/_. Note, don't copy to _/etc/systemd_, because the former location allow us to _disable/enable

[2018-07-07 03:07] hongquan commented on #237
@stealthanthrax Can you show me which script? Based on specific case, we can have appropriate solution.

[2018-07-07 03:22] hongquan commented on #219
We need to convert susi_api_wrapper to setuptools-based package (https://github.com/fossasia/susi_api_wrapper/issues/57). After that, just use `pip` to install `susi_api_wrapper`, don't copy it to `susi_linux`.

[2018-07-07 03:40] hongquan opened #239 "Replace os.system call in Python code with subprocess"
I see that you are using a lot of `os.system()` in Python code. Python recommended `subprocess` functions over `os.system`.

[2018-07-07 03:50] hongquan opened #240 "Stop abusing sudo"
**Describe the bug**
In https://github.com/fossasia/susi_linux/blob/master/access_point/server/server.py, I see a lot of use of `sudo`. Why?

Normal application should not be run with "root" permission.

Is it because it need to write to GPIO? If so, just make the current user `pi` have the write permission on that specific GPIO port.

[2018-07-07 06:34] woshikie commented on #206
workaround found for raspberry pi zero w

[2018-07-07 11:00] woshikie commented on #206
Looks like java (oracle) that came with the raspberry pi does not support server mode on armv6.
To fix that, we have to install openjdk java8 (be careful not to install default-jdk because it will download the latest openjdk java, which is version 9. Java has dropped support for armv5/6/7 in java 9)

[2018-07-07 11:33] #234 closed

[2018-07-07 11:33] #116 closed

[2018-07-08 12:02] woshikie commented on #219
According to https://github.com/fossasia/susi_linux/blob/master/install.sh
I believe that swig is first installed at
- https://github.com/fossasia/susi_linux/blob/7157726e4ce3afd75a5098122a6dffc1c7086b03/install.sh#L161
which is defined at
- https://github.com/fossasia/susi_linux/blob/7157726e4ce3afd75a5098122a6dffc1c7086b03/install.sh#L6-L12

[2018-07-08 12:11] woshikie commented on #219
@hongquan As explained above, I believe you may check the first point

[2018-07-08 20:49] stealthanthrax opened #243 "To correct the workflow of the Installation Script"
Current Behavior
Right now we do not have a way to execute the installation script . We cannot run the install script while the app is connected to the speaker as there is no Internet access to app. After the reboot (which is essential to allow Internet access) , the app is now connected to the Internet but is not connected to the mobile and hence the installation script cannot be executed.

Expec

[2018-07-08 20:52] stealthanthrax commented on #243
@mariobehling @Orbiter @cweitat @woshikie @hongquan @prateekiiest  , do you have any other suggestions for the approaches?

@batbrain @imjog @arundhati24 , can you check if the second approach is possible?

[2018-07-09 04:09] #206 closed

[2018-07-09 04:22] woshikie commented on #243
Perhaps we should group the installation process into different groups:

- Basic Installation
    - Cloning Git Repoitory
    - Running installation script

This should always be done because the user needs internet connection to clone the github repository
- Configuration
    - Through CLI
    - Through Android App

Configuration should be able to be done through either Android App or CLI **with

[2018-07-09 04:50] hongquan commented on #243
Sorry @stealthanthrax, I don't understand you very well.

What do you mean by "the app"? Which app? Why "there is no Internet access to app"?

Why "not connected to the mobile" causes "installation script cannot be executed"?

I think the "install.sh" script is for developer, not end-user. Developer has many ways to access to Pi to run the script, not limit to mobile phone.

What we deliver to end

[2018-07-09 07:41] stealthanthrax commented on #243
@hongquan , I am referring to SUSI mobile app and there is no Internet access to smart speaker as it is in WAP mode.

Okay , I get it now.

Please tell me what the issues we are facing with the installation on the pi?

[2018-07-09 07:46] woshikie commented on #216
@stealthanthrax
I will look into it once I return to Singapore

[2018-07-09 07:52] woshikie commented on #13
For Raspberry Pi, we can use [Win32DiskImager](https://sourceforge.net/projects/win32diskimager/) to copy the partition and settings on a Pi into a `.img` file and we can use the same `.img` file to populate new SD Cards using the same program

[2018-07-09 10:29] stealthanthrax commented on #13
@woshikie , but first I think we should follow a way (that @Orbiter suggested) to remove x11 libraries from raspbian and make it a minimal environment

[2018-07-09 10:35] woshikie commented on #13
There's Raspbian Lite

[2018-07-09 10:52] stealthanthrax opened #244 "To add the documentation regarding update daemon"
Current Behaviour
No documentation regarding Update Daemon

Expected Behaviour
To add the documentation

Would you like to work on this issue
Yes

[2018-07-09 12:05] prateekiiest commented on #239
I can work on it.

[2018-07-09 13:11] hongquan commented on #13
We can use Raspbian build script, basing our custom image on Raspbian Lite, adding some modification to let it install some dependencies to the image.

[2018-07-09 13:30] hongquan commented on #236
@woshikie Please collect the cached .whl packages in your RPi Zero. We will upload it to repo later.

**Note**: Because pip save each .whl file to a subfolder inside _~/.cache/pip/wheels_ (e.g _.cache/pip/wheels/fc/cf/7c/3eb066f0a0dcb31b9ac6003aea79f3de116920bf3639460833/asyncpg-0.12.0-cp36-cp36m-linux_armv7l.whl_), it takes much effort to copy one by one. You should use `find` command to search f

[2018-07-09 14:14] hongquan commented on #243
Ok. Just got updated that other developers have successfully installed it.

For myself, I'm running headless Raspbian, so the USB Flash drive is not mounted automatically and "auto_skills.py" still fails.

[2018-07-09 14:23] hongquan commented on #219
SWIG always exist in OS repo, and already at version 3.0.12, so please remove the step of installing SWIG from source. That step brings the burden of maintaining the additional code, which has very little helpful.

[2018-07-09 16:06] woshikie opened #246 "Runtime Errors"
**Describe the bug**
Runtime Errors/Warnings

**To Reproduce**
Steps to reproduce the behavior:
1. Run `python3 -m main` from the repository folder

**Screenshots**
- On Raspberry Pi Zero W (Raspbian 9 Stretch)
    - [Installation Log](https://pastebin.com/d88gHx4t)
    - [Configuration Log](https://pastebin.com/KKGCSbZz)
    - [Runtime Log](https://pastebin.com/HXWGcWnk1)
- On Linux (Mint 18.3)

[2018-07-09 16:50] woshikie commented on #246
@stealthanthrax
Does the logs for Pi Zero looks okay to you?
Does your Raspberry Pi outputs a similar log?
I do not currently have a microphone or speaker to test for the Pi Zero

[2018-07-09 16:57] woshikie commented on #246
For installation on Linux Mint 18.3, it looks like install.sh is stuck after running
https://github.com/fossasia/susi_linux/blob/8dbacb101b5b6c8601f8b0808daff6aa25f0e4d5/install.sh#L145
and not running the codes after it

[2018-07-09 17:00] woshikie commented on #246
While SUSI is running on Linux Mint 18.3, it looks like SUSI only recognizes "SUSI" and not the words afterwards.
I have tried saying "SUSI tell me a joke" and ""SUSI tell me the time" but it appears to me on the log that only the word SUSI is recognized.
I have also realized that the GUI is removed

[2018-07-09 18:23] woshikie commented on #246
While SUSI is running on Ubuntu 18.04 LTS, it appears to me the SUSI is not detecting even `SUSI`
Could it be because that the local server can't be built and that it has caused some issue?

[2018-07-09 18:58] woshikie commented on #246
I have successfully built `susi_server` on Ubuntu 18.04 LTS and it appears to me that `susi_server` does not need to be running and `susi_linux` is able to detect `susi` word, but same as on Linux Mint 18.3, `susi_linux` does not seem to detect any other words.

[2018-07-09 19:01] woshikie commented on #246
I realized that if I run `python3 -m main`, there is no GUI but if i run `python3 app.py`, there's GUI but functionality-wise, it is experiencing the same issue as explained above

[2018-07-09 19:13] woshikie commented on #246
Regarding the above comment, I realized that the behaviour is expected as documented in the install guide for both [raspberry pi](https://github.com/fossasia/susi_linux/blob/master/docs/raspberry-pi_install.md)
and [ubuntu](https://github.com/fossasia/susi_linux/blob/master/docs/ubuntu_install.md)

[2018-07-09 19:35] stealthanthrax commented on #246
@woshikie , that is because snowboy isn't really supported on Ubuntu and pocket sphinx sometimes gives unreliable results

[2018-07-09 19:56] woshikie commented on #219
@hongquan After digging around a little, I found out that you can install the latest `snowboy` from `npm`. Perhaps we can use npm to install instead of manually building it

Reference:
- https://www.npmjs.com/package/snowboy
- https://github.com/Kitt-AI/snowboy

[2018-07-09 20:20] stealthanthrax commented on #246
@woshikie , instead of using `python3 config_generator.py stt tts hotword wake` , you have to choose choices as the default service provider. I can now see the confusion. I'll make a PR about it.

So you'll have to use `python3 config_generator.py google google y n` , where 'y' is the choice if we want use Snowboy as the service provider and 'n' is if we have no wake button connected in the GPIO p

[2018-07-09 22:15] woshikie commented on #246
So you'll have to use python3 config_generator.py google google y n , where 'y' is the choice if we want use Snowboy as the service provider and 'n' is if we have no wake button connected in the GPIO port

Yes it is very confusing. Please use <placeholders> properly (with angle brackets).

I get the exact same log when its working fine

Great! We're finally getting closer to be on the same page.

[2018-07-09 23:02] stealthanthrax commented on #135
@hongquan , we already make a config.json file , we can delete just that and uninstall and install all the packages. This method would contain it in a single script

[2018-07-10 06:46] hongquan commented on #219
@woshikie It is to install NodeJS binding of Snowboy. Our project is Python, not NodeJS.

[2018-07-10 06:59] #230 closed

[2018-07-10 07:07] woshikie commented on #219
Ahh I see. My bad

[2018-07-10 07:14] prateekiiest commented on #230
Thanks @hongquan for merging this

[2018-07-10 07:28] hongquan commented on #135
But we also need the body of application to stay read-only, to prevent overwriting by accident.

[2018-07-10 07:39] prateekiiest commented on #229
@hongquan , @mariobehling did not assign me this issue for creating the svg . This was assigned to @stealranthx during one of the previous meetings as far as I remember. So he has made the update accordingly here #213.

So either it might have got changed while updating the base branch in one of my PRs or it has been updated by some one else. This happened without any intention of mine. Even if it

[2018-07-10 07:42] hongquan commented on #229
Sorry, @prateekiiest.

[2018-07-11 01:13] stealthanthrax opened #249 "Media Daemon is not working"
**Describe the bug**
Syntax errors present in the `media_daemon.sh` script, also relative paths not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'media_daemon' folder
2. Execute './media_daemon.sh'
3. See error

**Expected behavior**
Bug Fixed and the files created according to UDEV rules

Would you like to work on it?
Yes

[2018-07-11 01:21] stealthanthrax commented on #13
@woshikie @hongquan  , there is also an inbuilt SD card copier in Raspbian, I used that everything worked fine. I think that should also be taken into account

[2018-07-11 14:31] #239 closed

[2018-07-11 21:20] stealthanthrax commented on #165
Yes @prateekiiest , this has been done

[2018-07-11 21:20] #165 closed

[2018-07-11 21:22] stealthanthrax commented on #121
It is fixed and hence can be closed

[2018-07-11 21:22] #121 closed

[2018-07-11 22:09] stealthanthrax opened #252 "'Main' and 'config_generator.py' scripts are broken"
**Describe the bug**
Right now after the installation , the commands `python3 -m main` and `python3 config_generator.py` exit out with errors. This is happening after the PR regarding the snowboy installation and its dependent PR is still WIP.
Which creates a blocker for the addition of other features

**To Reproduce**
Steps to reproduce the behavior:
1. Use installation script
2. Use command `pyt

[2018-07-12 03:38] hongquan commented on #252
@stealthanthrax @prateekiiest Did you guys read this comment of mine: https://github.com/fossasia/susi_linux/issues/215#issuecomment-402923779

I foresee that do just 1 of the steps will break the system, that is why I request to do all 3 steps in 1 PR. But you didn't follow. Where is the PR for the 3rd step?

[2018-07-12 03:51] prateekiiest commented on #215
Currently the things that has been done are follows

- [x] Delete local snowboy folder. https://github.com/fossasia/susi_linux/pull/228/commits/3a9ba4a2d124ea3f43ae664f9e8eb68586e00720
- [x] Install snowboy by standard method (pip3 install or python3 setup.py install)
https://github.com/fossasia/susi_linux/pull/231/commits/8446e79150f1863a30d2c263ac886e1d03b50360
- [ ] Fix the hotword_engine to le

[2018-07-12 03:55] #252 closed

[2018-07-12 04:08] hongquan opened #254 "Fix the "play" command to play audio file"
**Describe the bug**
From https://github.com/fossasia/susi_linux/pull/250/files, I found that there is use of play with command like this:

[code]
`&` is shell's operator and is only understood by shell, so  passing it to Python's `subprocess` like this will not work:

[code]

The whole `'/path/audiofile &'` string will be seen as file path and `sox` will not able to find the file to play.

**What

[2018-07-13 09:37] woshikie commented on #236
Looking into it

[2018-07-13 11:43] #215 closed

[2018-07-13 11:58] hongquan commented on #236
I cannot wait for @mariobehling, so I temporarily create a repo here: https://repo.fury.io/fossasia/

Someone who want to upload your packages, please create account and give me your username, so that I add you as collaborator.

How to let pip install packages from this repo:

- Create pip [configuration file](https://pip.readthedocs.io/en/stable/user_guide/#config-file).
- Add the URL https://rep

[2018-07-13 12:12] mariobehling commented on #236
@hongquan I created an account at fury.io. Please add "mariobehling".

Packagecloud has is pretty pricy. So, does not seem suitable.

[2018-07-13 12:15] hongquan commented on #236
PackageCloud is pricy, but it will be free for FOSS, @mariobehling .

I cannot change the avatar of the repo on Gemfury, because it depends on the admin email. Currently, I use my personal email for admin. I want to change it to some fossasia email.

[2018-07-13 13:18] #162 closed

[2018-07-13 13:50] stealthanthrax commented on #254
I can try and work on it

[2018-07-13 17:36] woshikie commented on #236
@hongquan I have also created an account. I am using the same username as github

[2018-07-13 17:45] hongquan opened #257 "The prebuilt whl package of snowboy seems to have wrong name"
**Describe the bug**
I built snowboy on my RPI 3 to wheel package and uploaded to https://repo.fury.io/fossasia/. The file is named _snowboy-1.3.0-py3-none-any.whl_, but I suspect that this name is wrong. This package contains some _*.so_ binary, compiled from C/C++ code. That _*.so_ file will be different between ARM and x86, so the name suffix of package cannot be _none-any_. It should be _linux

[2018-07-13 18:17] woshikie commented on #257
On my ubuntu 18.04, the cache looks like
[code]
it looks like there are some cross-platform libraries and some platform-specific libraries

[2018-07-13 18:21] hongquan commented on #257
Normally, the pure-Python packages have _none-any_ suffix.

@woshikie, you don't have snowboy on your laptop? What is its name?

[2018-07-13 18:30] woshikie commented on #237
Here are some files containing "SUSI.AI" word in it, possibly hinting an absolute path

[code]

[2018-07-13 18:35] #246 closed

[2018-07-13 18:46] stealthanthrax commented on #257
@hongquan , we do not have any `setup.py` script

[2018-07-13 19:16] woshikie commented on #257
@hongquan I have made some changes and it's compiling into correct names on my ubuntu
https://github.com/Kitt-AI/snowboy/pull/475

@stealthanthrax we're trying to build `snowboy` into a wheel package for we can use pip3/pip to install from our own repository

[2018-07-13 19:28] woshikie commented on #257
@hongquan here's a compiled wheel for armv6, compiled using Pi Zero W
[snowboy-1.3.0-cp35-cp35m-linux_armv6l.whl.zip](https://github.com/fossasia/susi_linux/files/2193946/snowboy-1.3.0-cp35-cp35m-linux_armv6l.whl.zip)

[2018-07-13 21:13] stealthanthrax opened #259 "To add a configuration test for authetication.sh script"
**Describe the bug**
Right now when the script `authentication.py` is called, it only stores the email credentials in the JSON file without even checking the authenticity (assuming correct details are supplied from the mobile clients)  and not updating details on the server.

**Expected behavior**
To create a `systemd` file which executes after an internet connection has been established and then

[2018-07-14 11:16] hongquan commented on #257
@woshikie You have full permission on Gemfury repo. Please upload the file.

By the way, I'm looking for the better way to fix the setup.py script. Learning from other projects who also have Python modules built from Swig, they all use `distutils.core.Extension` or `setuptools.extensions.Extension` to build C/C++ code and hence, generating correct name.

Example:
- http://git.savannah.gnu.org/cgit

[2018-07-14 11:51] stealthanthrax opened #260 "Main script doesn't run without a pi hat"
**Describe the bug**
The main script works only with pi hat , but throws as error without it and has some errors with snowboy refactor

**Expected behavior**
To make it work without it again

**Would you like to work on it?**
Yes

EDIT
Error Log
<img width="643" alt="screenshot 2018-07-15 at 11 46 58 pm" src="https://user-images.githubusercontent.com/29942790/42736875-13959898-888b-11e8-9576-9c45d

[2018-07-14 12:53] stealthanthrax opened #261 "Error in susi_state_machine.py"
**Describe the bug**
Main script breaking after snowboy refractor

**To Reproduce**
Install as usual
1. Install as usual
2. `python3 -m main`

**Expected behavior**
To bring the script in working state

**Log**
`
File "/usr/lib/python3.5/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.5/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  Fi

[2018-07-14 12:54] stealthanthrax commented on #261
@prateekiiest , since you have been working Snowboy ,it would be faster if you could have a look here

[2018-07-14 14:44] prateekiiest commented on #261
Ok I will be looking into it tonight

[2018-07-14 16:17] prateekiiest commented on #261
Solving this will solve the issue here
https://github.com/fossasia/susi_linux/blob/67aaa44cb1a885a0254e64d7f46d3fa3044b9d42/main/hotword_engine/snowboy_detector.py#L11

[2018-07-15 13:51] hongquan commented on #260
Please give an error log.

[2018-07-15 18:30] stealthanthrax commented on #260
@hongquan , I have updated the log

[2018-07-15 18:43] woshikie opened #265 "No Module named 'spidev'"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
run `python3 -m main`

**Expected behavior**
python app should run successfully

**Screenshots**
[code]

[2018-07-15 21:15] stealthanthrax commented on #261
Fixed at #262 #263

[2018-07-15 21:15] #261 closed

[2018-07-15 22:32] stealthanthrax opened #268 "To show SUSI smart speaker in the devices section on the web client"
**Is your feature request related to a problem? Please describe.**
When authentication takes place, the device is not being shown in the devices section after a change in API endpoint in SUSI server

**Describe the solution you'd like**
To implement the feature once again

**Additional context**
I would like to work on this issue

[2018-07-16 06:30] woshikie commented on #195
https://www.robot-r-us.com/components/digital-potentiometer-10k.html

[2018-07-16 09:53] hongquan commented on #257
I meant snowboy's [setup.py](https://github.com/Kitt-AI/snowboy/blob/master/setup.py) script.

[2018-07-16 13:44] #260 closed

[2018-07-16 16:16] #219 closed

[2018-07-16 18:39] woshikie commented on #237
Fixed with #258

[2018-07-16 18:39] #237 closed

[2018-07-16 20:21] stealthanthrax opened #270 "To fix the API response going to the SUSI Android App"
**Describe the bug**
Now the APP is connected and is sending instructions to SUSI smart speaker, but is not getting any successful response and hence after successful installations, error message is still being shown in the app. (Screenshots added below)

**Expected behavior**
To fix the bugs

**Screenshots**
If applicable, add screenshots to help explain your problem.
![2018-07-17-032755_1024x768

[2018-07-16 21:24] stealthanthrax opened #272 "Configure the python scripts with the order of API execution in the apps"
Description
Now that the order of execution of the API's has been done in the Android app in this [PR](https://github.com/fossasia/susi_android/pull/1537)., we need to modify the scripts here too.
1>Wifi Credentials
2>Authentication
3>Configuration

Expected Behaviour
RasPi requires a restart and some other scripts to work like a complete package

Would you like to work on this issue?
Yes

[2018-07-16 22:27] stealthanthrax opened #274 "To configure a button on GPIO 17"
**Is your feature request related to a problem? Please describe.**
To configure the button present on the respeaker , port 17 to function as mic mute on a single click and factory reset on a long click(>7 second)

**Describe alternatives you've considered**
This should be part of the factory reset daemon. In this approach, a python script will be running in the background which will detect if the

[2018-07-17 03:24] cweitat opened #276 "Remove seeed voice card driver from repo"
**Actual Behavior**
Currently seeed voice card driver files are tracked my Git

**Expected Behavior**
driver should not be tracked by Git and should always get the latest from seeed.

[2018-07-17 04:03] woshikie opened #277 "To dynamically generate rule file"
**Is your feature request related to a problem? Please describe.**
Right now rule file is static and the rules will always point into `/home/pi/SUSI.AI/media_daemon/...`
This is not right.

**Describe the solution you'd like**
Generate the rule file on install

[2018-07-17 11:29] woshikie opened #278 "Pip install permission error"
**Describe the bug**
pip install is reporting permission error

**To Reproduce**
do:
`pip3 install -r requirements-hw.txt`

**Expected behavior**
no permission error should be reported

**Screenshots**
https://pastebin.com/Mtp7mbx6

[2018-07-17 11:35] woshikie opened #279 "pip install error"
**Describe the bug**
installation errors while installing

**To Reproduce**
run `./install.sh`

**Screenshots**
https://pastebin.com/yFxp0T1S

[2018-07-17 15:15] #270 closed

[2018-07-17 18:30] stealthanthrax opened #282 "To Configure PiHat's Microphone to work as a default"
**Describe the bug**
Right now, the pi Hat's led works with SUSI Smart Speaker, but the mic doesn't with it.

**To Reproduce**
To use to mic , we have to use the command `arecord` , but the stt services use the `rec` command.

**Expected behavior**
To find a configuration, that will configure the piHat as the default sound card for the `sox` libraries.

**Additional context**
N/A

[2018-07-18 00:29] stealthanthrax opened #283 "Fix Android Connection to Raspi"
**Describe the bug**
Bug in Android App Connection and SUSI python server

**To Reproduce**
Steps to reproduce the behavior:
Try to connect the Android App to SUSI Smart Speaker while in AP mode

**Expected behavior**
To fix the bug

**Screenshots**
![whatsapp image 2018-07-17 at 19 13 31](https://user-images.githubusercontent.com/29942790/42852703-919fd116-8a4f-11e8-8b70-c0abf7c9556e.jpeg)

**Sma

[2018-07-18 03:09] #279 closed

[2018-07-18 05:02] woshikie commented on #278
Fixed with #280

[2018-07-18 05:02] #278 closed

[2018-07-18 05:12] woshikie opened #284 "Incorrect path for sound effects"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
run SUSI by running
`python3 -m main`

**Expected behavior**
No Errors

**Screenshots**

![image](https://user-images.githubusercontent.com/11439405/42861040-e1eccc3c-8a8b-11e8-96e0-55620190372e.png)

[2018-07-18 09:21] woshikie commented on #284
Duplicated #254

[2018-07-18 09:21] #284 closed

[2018-07-18 10:05] #254 closed

[2018-07-18 17:30] woshikie commented on #277
Closed with #271

[2018-07-18 17:30] #277 closed

[2018-07-19 15:03] prateekiiest commented on #229
@hongquan @stealthanthrax please have a look at #290

[2018-07-19 18:42] hongquan commented on #274
Keep reading GPIO pin value is not efficient. GPIO pins allow "interrupt", it means that, some status of GPIO pin (at high, low, rising or falling) can emit an event and trigger some action that we registered.

In Linux, GPIO is abstracted as file (/sys/class/gpio/), so we can use [inotify](https://github.com/dsoprea/PyInotify), or Linux syscall [epoll](https://docs.python.org/3/library/select.htm

[2018-07-19 18:45] hongquan commented on #274
RPi.GPIO has higher level implementation: https://sourceforge.net/p/raspberry-gpio-python/wiki/Inputs/ (read "Interrupts and Edge detection" section).

[2018-07-20 00:10] stealthanthrax opened #291 "To move all the README files to the DOCS folder"
**Describe the bug**
Right now, the README files are scattered throughout the repo.

**Expected behavior**
To move them to the docs folder

**Additional context**
I would like to work on this issue

[2018-07-20 23:32] stealthanthrax opened #293 "To add info regarding installation on raspbian lite"
**Describe the bug**
There are some libraries missing in Raspbian Lite(CLI only) and give some issues

**To Reproduce**
Steps to reproduce the behavior:
1.Try to clone and install the repo on raspbian lite

**Expected behavior**
To add info

**Additional context**
I would like to work on it

[2018-07-22 21:43] stealthanthrax opened #296 "Media Discovery Daemon Not working"
**Describe the bug**
USB skills not being created as the USB is inserted

**To Reproduce**
Run the install script and inserted USB

**Expected behavior**
Automatic USB skills are created

**Additional context**
I would like to work on it

[2018-07-23 09:21] hongquan commented on #204
I think, instead of running `sox`, putting it to the background with shell, then use "kill" to stop the music, we should use [Music Player Daemon](https://en.wikipedia.org/wiki/Music_Player_Daemon) to running in the background as daemon, and request it to play/stop music file.

[2018-07-23 16:36] stealthanthrax opened #297 "To get room info from android app to the smart speaker"
**Is your feature request related to a problem? Please describe.**
Currently, the room info is hardcoded while sending to the server

**Describe the solution you'd like**
To get the input via the Android App

**Additional context**
I would like to work on this

[2018-07-23 18:52] stealthanthrax commented on #204
@hongquan , but right now we majorly use mpv to play youtube videos . And not a lot of sox player. But we can try using mpd to play usb audio.

[2018-07-23 20:09] hongquan commented on #204
The PR #292 is a bug. Reopen this issue now.

[2018-07-23 20:15] stealthanthrax commented on #204
@hongquan , it works without quitting anything . And yes we need to look for a better way. I am looking on it

[2018-07-23 20:19] hongquan commented on #204
It works now, doesn't mean that it works later, when the bug is still there. The bug will make it not working in the future!

[2018-07-24 06:07] hongquan commented on #204
@stealthanthrax

Sorry, I misunderstood.

So, most of `sox` usage here are to play short audio file, it won't block our app.
The issue is about Youtube video, which is long and blocks.

Ok. Then:

- Check if `mpv` can work as daemon (like MPD).
- If not, run it in a separate thread. Our app become asynchronous now. Should design a communication channel between main thread and `mpv` thread, so that

[2018-07-24 09:00] #274 closed

[2018-07-24 13:46] stealthanthrax opened #298 "To pause the music while SUSI gives out second query"
**Describe the bug**
Right now when SUSI processes second query, music doesn't stop and the query is spoken.

**To Reproduce**
Steps to reproduce the behavior:
1. Ask SUSI to play Music
2. Ask another query

**Expected behavior**
To pause and play the music again

**Additional context**
I would like to work on it

[2018-07-24 18:37] stealthanthrax commented on #297
Will start working on this, after this PR https://github.com/fossasia/susi_linux/pull/287 has been merged

[2018-07-25 03:13] #283 closed

[2018-07-25 23:37] stealthanthrax commented on #296
@hongquan @woshikie @cweitat , can you check if its the same with you guys. Because when I run `udevadm test` if get this error `syspath parameter missing`

[2018-07-26 09:20] hongquan commented on #296
Where is the log?

[2018-07-26 11:38] stealthanthrax commented on #296
@hongquan , I am unable to get the error log since when I run `udevadm test`, I get the error `syspath parameter missing` .But when I insert USB, custom skills are not made

[2018-07-26 19:23] stealthanthrax opened #304 "To have a factory reset mode on an application level"
**Is your feature request related to a problem? Please describe.**
Currently, the factory reset mode requires an internet connection to clone and reset the repo

**Describe the solution you'd like**
A backup repo/complete SUSI Linux file to be stored e.g. as a zip and reinstalled in case of failure or wish by the user to reset
Following directories should be present in the backup:
1>SUSI Linux
2>S

[2018-07-26 19:51] stealthanthrax opened #305 "To Update Documentation of the missing components"
**Is your feature request related to a problem? Please describe.**
Currently documentation not present regarding
1> Update Daemon : no of times updated, update requirements, etc.
2> How the SUSI Linux work in general : priority between the online/offline server, how the online and offline TTS and SST transition .
3> Where should SUSI be cloned for the complete process to work perfectly
4> The arch

[2018-07-27 08:01] techytushar opened #306 "Error while setting up on Ubuntu"
**Describe the bug**
A clear and concise description of what the bug is.
When I run `python config-generator.py` it generates an `Index Error` . My OS is Ubuntu 16.04 and I am running the script using Python 3.6 virtualenv, screenshot is attached below.

**To Reproduce**
Steps to reproduce the behavior:
1. Fork and clone `susi_linux` repo.
2. Setup Python 3.6 virtualenv and run `./install.sh` succ

[2018-07-27 08:14] hongquan opened #307 "Support more audio file type in Media Discovery"
**Is your feature request related to a problem? Please describe.**
Currently, Media Discovery only looks for mp3 files in USB drive. The media player can play more than that, especially open source format (Ogg Vorbis, FLAC, Opus etc.).

**Describe the solution you'd like**
- Just change the `glob('*.mp3')` code to list more file.
- If possible, retrieve the list of supported file types from `sox`

[2018-07-27 08:29] hongquan commented on #296
Get the log where you see `syspath parameter missing`.

How can people know what happen with `syspath parameter missing` if you don't provide all information around it?

[2018-07-27 08:31] hongquan commented on #296
About "custom skills are not made", did you read this: https://github.com/fossasia/susi_linux/issues/223#issuecomment-402600426?

[2018-07-27 09:33] #272 closed

[2018-07-28 01:42] stealthanthrax commented on #306
@techytushar , you have to run `python3 config_genereator.py <stt_choice> <tts_choice> <hotword> <wake_button>`. You will get some instructions when you use `./install.sh` .
This is the correct behaviour

[2018-07-29 02:33] #298 closed

[2018-07-29 13:17] Orbiter opened #309 "Implement action types pause, resume and restart"
**Describe the solution you'd like**
If a media file is played, it is possible to say "stop" to stop playing. Similarly, with the following action types, it should be possible to
* **pause** the playing of a media file (youtube, mp3 etc) with the action type `pause`
* **resume** the playing of a media file which has been paused with the action type `resume`
* **restart** the playing of a media fil

[2018-07-29 22:19] #306 closed

[2018-07-29 23:52] stealthanthrax opened #310 "SUSI not automatically starting after Configuration"
**Describe the bug**
SUSI is expected to run automatically after mobile configuration is complete

**To Reproduce**
Steps to reproduce the behavior:
Complete the configuration and wait for a restart

**Expected behavior**
To make it run automatically

**Additional context**
I would like to work on it

[2018-07-30 09:12] #216 closed

[2018-07-30 09:12] #282 closed

[2018-07-31 08:43] #305 closed

[2018-08-01 04:26] prateekiiest commented on #307
some thing as such structure might me good

[code]

[2018-08-01 22:29] stealthanthrax commented on #309
I would like to work on it

[2018-08-01 22:32] stealthanthrax commented on #309
@Orbiter , right now we pause the Music to process the second query. Now we would have to follow a different approach. Should we be reducing the volume of the music player instead??

[2018-08-01 22:41] stealthanthrax opened #315 "To process a second Query while SUSI is speaking"
**Describe the bug**
Currently, SUSI processes 2 queries while playing audio. We must also add the second query processing while it's speaking audio

**Expected behavior**
To process the second query while SUSI is giving out previous answers

**Additional context**
I would like to try to work on this issue

[2018-08-03 04:44] hongquan commented on #309
@stealthanthrax Can I learn more about the context? Which approach is that? Where is it described?

[2018-08-03 18:02] stealthanthrax opened #318 "SUSI doesn't convert into AP mode after installation"
**Describe the bug**
Currently ,  SUSI is not converted to an AP Mode automatically after installation script.

**To Reproduce**
Steps to reproduce the behavior:
1. Start The installation script

**Expected behavior**
To make it work automatically

**Additional context**
I'd like to work on it

[2018-08-05 14:12] felixonmars opened #319 "Make the Python client a proper PyPI package"
**Is your feature request related to a problem? Please describe.**
Currently the susi client tries to install into a specific home location (/home/pi/...) which is prohibited by any system-level packaging system.

**Describe the solution you'd like**
By using a PyPI package system (setup.py and setuptools, entry points) this can be standardized and make distribution packaging much easier.

System-

[2018-08-05 14:30] prateekiiest commented on #319
Related to #236

[2018-08-05 14:53] felixonmars commented on #319
It's related, and IMHO the work on a PyPI package will greatly make the others simpler.

[2018-08-05 15:41] prateekiiest commented on #319
Agreed :+1:

[2018-08-06 04:09] stealthanthrax opened #322 "To release SUSI raspbian image on Github Releases"
**Is your feature request related to a problem? Please describe.**
To release preinstalled SUSI image on GitHub releases

**Describe the solution you'd like**
To release preinstalled SUSI image on GitHub releases

**Additional context**
I would like to work on this

[2018-08-06 04:54] hongquan commented on #319
FYI, the location `/home/pi/SUSI.AI` is just temporarily for now.
We will decide the location later, but need to research at once with packaging method, reset mechanism. All these features depend on, and affect the choice of installation location.

[2018-08-07 05:36] hongquan opened #323 "Reduce OS image size"
This issue is to track what we need to do to reduce image size, so that it is suitable for delivery.

The strategy is to:

- Use prebuilt binary of 3rd-party software as much as possible (avoid downloading its source and building on RPi).
- For softwares that the original author doesn't provide a binary, we build them ourselves and host in our repository.
- If the official repo (APT, PyPI) has nee

[2018-08-07 06:15] hongquan commented on #323
This article worth reading when we are creating image file: https://source.tizen.org/documentation/reference/bmaptool/introduction

[2018-08-07 12:51] #297 closed

[2018-08-07 15:03] stealthanthrax commented on #13
@hongquan , how can we create a fresh image with just installed software??

[2018-08-07 16:21] hongquan opened #324 "Simplify sequence of running scripts"
In many places, I see that you are executing scripts in this way

Script A (Python) -> Wrapper script W (shell) -> Script B

Why do you have to add 1 more layer with shell script? Doing so, the OS have to launch 1 more process and cost more resource.

Let's simplify to

- Script A -> Script B
- Or better, import function from Script B and call in script A (no more process is launched).

[2018-08-07 16:26] hongquan commented on #323
Raspbian image build script seems to be this one: https://github.com/RPi-Distro/pi-gen

(there are some scripts on GitHub but I'm not sure which one is the official yet).

[2018-08-07 16:26] hongquan commented on #13
@stealthanthrax https://github.com/fossasia/susi_linux/issues/323

[2018-08-08 05:06] #318 closed

[2018-08-09 18:13] #304 closed

[2018-08-11 17:00] stealthanthrax opened #325 "To Start SUSI Startup Sounds on SUSI Startup"
**Is your feature request related to a problem? Please describe.**
No startup Sound present during SUSI Starting

**Describe the solution you'd like**
To add a startup sound

**Additional context**
I'd Like to work on this

[2018-08-12 05:40] hongquan opened #326 "Use Python tool to build snowboy"
This issue is to track what I'm doing to improve snowboy's _setup.py_.

Motivation:

- We want to pre-build snowboy to wheel package, to simplify installation of _susi_linux_, and to reduce image size (won't have to install a lot of stuff for building snowboy from source).
- _snowboy_'s original _setup.py_ doesn't use native Python tool (_distutils_, _setuptools_) to build the C++ source. It's _se

[2018-08-12 05:45] hongquan commented on #326
I already fork snowboy to https://github.com/fossasia/snowboy and working there.

With the _setup.py_ like this

[code]

I can make _setuptools_ build the C++ source code, without calling `make`. But the problem now is, _setuptools_ doesn't including data files under _resources_ folder in the result package.

[2018-08-12 08:45] hongquan commented on #326
Found the cause:

The project layout is like this (listing only Python files and resources folder):

[code]

And with the _setup()_ written like this:

[code]

The `find_packages()` not able to find the Python package under _examples/Python3_, and this makes the `package_data` parameter fail.

My discovery is that, the path passed to `find_packages` has to be a folder which contains a `snowboy` pa

[2018-08-12 09:36] hongquan commented on #326
Working in this branch: https://github.com/fossasia/snowboy/tree/feature/standard-Python-build

Can produce _*.so_ file and include _resources_ files now, but the _*.so_ file is not not linked enough libraries yet.

[2018-08-12 09:42] hongquan commented on #326
This is the output of `make`:

[code]

This is output of our current _setup.py_:

[code]

To produce correct _*.so_ file, our script must produce compiler command with the same parameter as `make`.

[2018-08-12 13:40] hongquan commented on #326
Successfully fix the _setup.py_ and build wheel files for _armv7_, _x86_64_ (uploaded to https://repo.fury.io/fossasia/). Waiting for friend to test on Mac OSX before making a pull request to upstream.

[2018-08-13 05:04] stealthanthrax commented on #307
This feature has been implemented [here](https://github.com/fossasia/susi_linux/pull/316)

[2018-08-13 05:04] #307 closed

[2018-08-13 08:36] hongquan commented on #326
Made Pull Request to upstream here: https://github.com/Kitt-AI/snowboy/pull/493

[2018-08-13 20:27] #229 closed

[2018-08-15 07:41] #310 closed

[2018-08-15 08:12] #325 closed

[2018-08-17 00:59] stealthanthrax opened #328 "One dependency error which is making SUSI startup service to crash"
**Describe the bug**
Python module service_identity not present and hence Startup script not working

**To Reproduce**
Steps to reproduce the behavior:
Restart the raspi and SUSI won't work

**Expected behavior**
To work on Startup

**Additional context**
I would like to work on this

[2018-08-17 04:12] hongquan commented on #328
Why don't you provide a log?
Without the log, I cannot see what is wrong.

[2018-08-17 04:30] hongquan opened #330 "To install 3rd-party software from binary form"
This is part of attempt to reduce OS image (#323).

In our _install.sh_ script we are trying to install some dependencies by building from source, whereas they can be installed from prebuilt binaries. We will try to replace the install method as much as possible.

This issue is to track which softwares I can change the installation method.

- [x] flite
- [x] snowboy
- [x] pocketsphinx
- [x] susi_s

[2018-08-17 04:31] hongquan commented on #330
Trying to find binary release of _seeed-voicecard_. Found that respeaker has a Debian repo here https://github.com/respeaker/deb, but not sure if it contains _seeed-voicecard_

[2018-08-17 04:40] hongquan commented on #330
Looking in _seeed-voicecard_'s install script, I feel that it is not easy to convert it to a Debian package, so just leave it installed from source.

[2018-08-17 05:27] hongquan commented on #330
seeed-voicecard's install script pulls down `libasound2-plugins`, which, in turn, pulls a lot of video-related stuff: mesa-va-drivers, mesa-vdpau-drivers, x11-common, even though voicecard just deals with audio.

[2018-08-17 09:49] stealthanthrax commented on #328
@hongquan , it was an outdated pip module. Now as I have updated it in my System , I am unable to get the error again and hence unable to get the log

[2018-08-18 10:46] hongquan commented on #328
Ok

[2018-08-18 10:46] #328 closed

[2018-08-18 16:53] stealthanthrax opened #331 "To Open the StartUp play sound with the python module"
**Is your feature request related to a problem? Please describe.**
Right Now the startup sound is played as an external service but I would like it to be played every time SUSI Linux is started. This will also reduce the hindrance provided due to the service bootup.

**Describe the solution you'd like**
To play the sound from the python program, every time we start SUSI Linux. Also, change it to a

[2018-08-18 16:53] stealthanthrax commented on #331
@mariobehling @Orbiter @hongquan , should we implement it this way ??

[2018-08-18 16:56] hongquan commented on #331
I thought "every time SUSI Linux is started" is the same "every time the RPi is boot up"?

For the final product, does user have any method to restart the "susi linux" alone, without reboot the RPi hardware?

[2018-08-18 16:57] stealthanthrax opened #332 "To update the documentation regarding the Flask Server"
**Is your feature request related to a problem? Please describe.**
Documentation regarding SUSI Flask Server outdated

**Describe the solution you'd like**
To Update the documentation

**Additional context**
I would like to take this up

[2018-08-19 09:34] stealthanthrax commented on #331
No @hongquan , the user does not have to start SUSI Linux independently , but I was using it for the development

[2018-08-19 13:04] stealthanthrax opened #335 "To add documentation regarding update daemon"
**Is your feature request related to a problem? Please describe.**
Documentation regarding SUSI Update Daemon is outdated

**Describe the solution you'd like**
To Update the documentation

**Additional context**
I would like to take this up

[2018-08-19 13:45] mariobehling commented on #323
As temporary work-around try to use e.g. 7zip and part 1, part 2 etc. functionality.

[2018-08-20 05:17] prateekiiest commented on #330
so is there a way we can bypass the installation of `libasound2-plugins` ?
I see the only option to send a PR to the main https://github.com/respeaker/seeed-voicecard repo to add the functionality of choice if we need to install `libasound2-plugins`  or not

[2018-08-20 05:23] stealthanthrax opened #336 "To add documentation regarding the factory resets"
**Describe the bug**
The difference between the type of factory resets present are still missing in the documentation

**Expected behavior**
To Update the documentation.

**Additional context**
I would like to work on this.

[2018-08-20 05:25] stealthanthrax opened #337 "To add a default room name in the JSON file of the repo."
**Describe the bug**
Currently, the programme doesn't work without having a room name and crashes out during the configuration

**Expected behavior**
To add a default room name in the JSON file of the repo.

**Additional context**
I would like to work on this

[2018-08-20 05:28] stealthanthrax opened #338 "To Update the documentation to configure the smart speaker system without Mobile Apps"
**Describe the bug**
There are many instances where the mobile apps crash and the user is unable to configure the smart speaker. Hence a way to configure the smart speaker independently.

**Expected behavior**
To Update the documentation to configure the smart speaker system without Mobile Apps and a documentation on how to configure with the mobile Apps

**Additional context**
I would like to tak

[2018-08-20 13:44] hongquan commented on #323
We include *susi_server*, which needs to download _gradle-4.2.1_ to build itself. The _gradle_ contributes around 160MB.

[2018-08-20 16:50] hongquan commented on #323
Java alone contributes ~ 250MB

[code]

[2018-08-20 18:14] hongquan commented on #323
Git database of *susi_server* is around 200MB.

[code]

[2018-08-21 22:39] stealthanthrax opened #342 "SUSI Linux crashing out without internet connection"
**Describe the bug**
SUSI Linux crashes without internet connection

**To Reproduce**
Steps to reproduce the behavior:
1. Start Without internet connection use 'python3 -m main'

**Expected behavior**
To make it work without internet connectio

**Additional context**
I would like to take this Up

[2018-08-22 09:00] #331 closed

[2018-08-22 10:10] #338 closed

[2018-08-22 19:06] stealthanthrax opened #343 "SUSI Server Service not working"
**Describe the bug**
Even after SUSI Server Service has completed, SUSI Server is not running on the Pi.

**To Reproduce**
After Installation, try to access localhost:4000

**Expected behavior**
To make it work again.

**Additional context**
To execute the `restart.sh` , the `sudo` permissions are required. I would like to work on this issue.

[2018-08-23 17:17] cweitat opened #344 "Wav folder in wrong directory"
Currently showing that wav audio files cannot be found when initiating SUSI with `python3 -m main`

wav folder should be in main folder

[2018-08-23 18:35] stealthanthrax opened #346 "No response returned from Room Name endpoint"
**Describe the bug**
When the endpoint `/room_name` is hit, no response is returned.

**Expected behavior**
To give a 200 response code

**Additional context**
Yes

[2018-08-23 18:56] stealthanthrax commented on #223
This issue is fixed now, media daemon doesn't require root permissions

[2018-08-23 18:56] #223 closed

[2018-08-23 19:50] cweitat opened #348 "Wrong package name json_config"
Currently it is json-config in the requirements-hw.txt.

Correct package is json_config

[2018-08-23 20:48] stealthanthrax opened #349 "To Update the documentation with the latest Image Making Method"
**Describe the bug**
A new image making method is adopted , and hence should be documented.

**Additional context**
Details

-Plug the SD card to laptop. Assume that it is /dev/sdb, and the rootfs is /dev/sdb2.
-Make sure that the rootfs is expanded fully to the card.
-Zero fill the unused space of rootfs: sudo zerofree /dev/sdb2 -v
-Shrink the rootfs partition to just fit the actual content (I sh

[2018-08-24 04:44] #344 closed

[2018-08-24 08:42] stealthanthrax commented on #348
Fixed here : https://github.com/fossasia/susi_linux/pull/345

[2018-08-24 08:42] #348 closed

[2018-08-26 05:51] #342 closed

[2018-08-26 21:47] #343 closed

[2018-08-27 19:29] stealthanthrax opened #353 "SUSI Linux Service not working"
**Describe the bug**
SUSI Linux service crashing after recent changes

**Expected behavior**
To make it work again

**Screenshots**
![whatsapp image 2018-08-28 at 00 54 49](https://user-images.githubusercontent.com/29942790/44681184-91d2ec80-aa5d-11e8-9f0c-08c9edd92e47.jpeg)

**Additional context**
Yes, I would like to work on it

[2018-08-27 19:30] stealthanthrax opened #354 "SUSI Server not compiling on Raspberry Pi"
**Describe the bug**
Due to some issues gradle is failing on Raspi

**To Reproduce**
Steps to reproduce the behavior:
1. ./gradlew build

**Expected behavior**
To make it work again

**Additional context**
Add any other context about the problem here.

[2018-08-27 19:33] stealthanthrax opened #355 "Config flask server is not working after removal of wrappers"
**Is your feature request related to a problem? Please describe.**
After the shell wrappers were removed, the flask server doesn't create config.json file.

**Describe the solution you'd like**
To fix it.

**Additional context**
Yes

[2018-08-30 04:53] hongquan commented on #354
How is the issue? (This is not the first time I ask for detail or log).

[2018-08-30 11:31] hongquan commented on #257
Fixed by https://github.com/Kitt-AI/snowboy/pull/493

[2018-08-30 11:31] #257 closed

[2018-08-31 09:18] hongquan opened #359 "Integrate Resin Wifi Connect as tool for wifi configuration"
**Is your feature request related to a problem? Please describe.**
Today I test the Access Point feature and feel that it is weird:
- Have to manually type 10.0.0.1:5000 in browser. I think it should provide a Captive Portal, so that Android will automatically show a login page upon connecting to the SUSI.AI wifi.
- After visiting 10.0.0.1:5000, I only get a blank page (with 1 line of title). No l

[2018-09-01 03:46] hongquan commented on #359
@mariobehling Yes. And it is possible that our access point server is designed to work with an Android app, not for direct use in browser. I'm not sure because I haven't tested enough.

[2018-09-01 06:44] mariobehling commented on #195
We are sticking with Respeaker 2 Head for now.

[2018-09-01 06:44] #195 closed

[2018-09-01 06:57] mariobehling commented on #13
We are following: http://www.yacy-websearch.net/wiki/index.php/En:DebianHeadless

[2018-09-01 06:57] #13 closed

[2018-09-01 07:29] mariobehling commented on #355
Use journalctl to see the route from systemd and provide more info. Currently it is unclear how to reproduces this.

[2018-09-01 07:30] mariobehling commented on #355
It stopped working after PR https://github.com/fossasia/susi_linux/pull/334 was merged.

[2018-09-01 07:31] mariobehling commented on #355
Related to https://github.com/fossasia/susi_linux/issues/324

[2018-09-01 07:45] hongquan commented on #13
We are following these steps #349 . I haven't made a detail documentation yet.

[2018-09-01 14:10] hongquan opened #363 "susi_linux failed to start on boot"
**Describe the bug**
susi_linux failed to start when RPi boot up.
From the log (https://paste.ee/p/CyiJ4), there are some issues:

- Try to connect to SUSI server when SUSI server is not ready (not listen port 4000 yet).
- Try to play audio when Jack server is not ready yet.
- Crash when microphone is not connected.

[2018-09-01 14:32] hongquan commented on #363
It seems that ReSpeaker driver is not installed properly on my RPi.

[2018-09-02 06:51] stealthanthrax opened #364 "Using libportaudio instead of SOX libraries"
**Describe the bug**
SUSI Linux doesn't play audio and crashes out when built on raspbian lite.

**To Reproduce**
Steps to reproduce the behavior:
1. Build SUSI Linux on raspbian lite
2. The program will abort out

**Expected behavior**
To try and use libportaudio to play music

**Additional context**
I would like to take this up

[2018-09-02 09:18] sansyrox opened #365 "To add Update animations in SUSI Linux"
**Is your feature request related to a problem? Please describe.**
The user doesn't get an indication when SUSI is updating.

**Describe the solution you'd like**
To add an audio animation while its updating

**Additional context**
I would like to take this up.

[2018-09-02 13:48] prateekiiest commented on #355
I have tried reverting the changes but its not possible I see. Somehow it has been reverted I see from the github message

[2018-09-02 13:50] prateekiiest commented on #355
@stealthanthrax did you locate why the error is happening?

We need to check any sort of dependancy between the flask server creation of json file wrt to the wrapper script removal

[2018-09-02 13:51] hongquan commented on #363
@stealthanthrax Why not look into the log I pasted above:

[2018-09-02 13:53] prateekiiest commented on #324
@stealthanthrax please add any revert label here. We would look into the current bug and until that let the wrapper scripts exist

[2018-09-02 13:54] hongquan commented on #364
There is another case: The music player uses ALSA directly, instead of going through PulseAudio.

[2018-09-02 17:54] stealthanthrax commented on #355
@prateekiiest , I still am trying to figure it out. It most probably looks like a directory issue.

[2018-09-02 17:56] stealthanthrax commented on #363
@hongquan , I think we can ignore those logs as they are an issue from Snowboy side and not on our side and SUSI work's fine with these logs

[2018-09-02 22:01] stealthanthrax opened #367 "Pulseaudio not being installed after the execution of the install script"
**Describe the bug**
Pulseaudio and pavucontrol not being installed after completion of install script

**To Reproduce**
Steps to reproduce the behavior:
1. Install the script
2. Try to use pulseaudio

**Expected behavior**
To install these libarires

**Log**
`
PulseAudio command not found
`

**Additional context**
I would like to fix this

[2018-09-05 10:56] #335 closed

[2018-09-05 11:00] #337 closed

[2018-09-05 11:06] #367 closed

[2018-09-05 18:34] stealthanthrax opened #370 "RasPi not returning to normal mode after configuration from mobile clients"
**Describe the bug**
After the RasPi has been configured with SUSI Linux via the mobile clients, the system still remains in the AP mode and not in the normal mode

**To Reproduce**
Steps to reproduce the behavior:
1. Run the install scripts
2. Configure using mobile clients
3. See the results.

**Expected behavior**
To convert it back to normal mode automatically

**Additional context**
I would l

[2018-09-06 02:05] hongquan commented on #363
@stealthanthrax You should specify which issue can be ignored.
With the 3rd issue, SUSI Linux crashes, we cannot ignore, because how come it work when it failed to start?

[2018-09-06 05:29] stealthanthrax commented on #363
@hongquan , i was referring to this issue

[2018-09-09 07:04] #364 closed

[2018-09-09 07:24] woshikie opened #374 "[Side Project] Digital Potentiometer with amplifier"
**Is your feature request related to a problem? Please describe.**
We may need a different way to control the volume of the smart speaker

**Describe the solution you'd like**
Use a Digital Potentiometer, hooked up to an OP-Amp to amplify the sound

**Additional context**
Add any other context or screenshots about the feature request here.
https://www.robot-r-us.com/components/digital-potentiomete

[2018-09-09 13:15] stealthanthrax opened #375 "MPV not working due to outdated youtube-dl"
**Describe the bug**
The music player is failing due to outdated youtube-dl in the raspbian repos

**Expected behavior**
To make it work again by building youtube-dl from the sources

**Additional context**
I would like to fix this

[2018-09-09 16:07] #355 closed

[2018-09-09 18:53] stealthanthrax commented on #354
This issue has been fixed on the server.

[2018-09-09 18:53] #354 closed

[2018-09-11 04:40] hongquan commented on #375
We can upgrade _youtube-dl_ with `pip`.

[2018-09-11 05:04] #375 closed

[2018-09-13 17:12] stealthanthrax opened #381 "SUSI Plays another song when queried without stopping the previous song"
**Describe the bug**
SUSI Plays another song when queried without stopping the previous song. i.e., when SUSI is playing a song, you instruct it to play another song, it pauses the previous song and plays it again after the second song has finished.

**To Reproduce**
Steps to reproduce the behavior:
1. Say "SUSI, play despacito"
2. Say again "SUSI, play firestone"
4. It will first finish firestone

[2018-09-15 03:54] hongquan opened #382 "Customize Raspbian build script to produce OS image with our software"
This script https://github.com/RPi-Distro/pi-gen has been used to produce the Raspbian image.
We can customize it to create our OS image, with the SUSI software included.

[2018-09-15 03:57] hongquan commented on #382
I'm trying running the script in ARM server. The script failed at the middle. There seems to be bug in the script.

[code]

[2018-09-15 21:31] stealthanthrax commented on #363
@hongquan , can this be closed now??

[2018-09-15 22:59] stealthanthrax opened #383 "SUSI Linux not working from the command line"
**Describe the bug**
SUSI Linux not working from the command line and crashes out giving the log below.

**To Reproduce**
Steps to reproduce the behavior:
1. Start SUSI Linux with the command 'python3 -m main'

**Expected behavior**
To make it work again

**Log**
`
Sep 01 19:20:59 raspberrypi python3[540]: Cannot connect to server socket err = No such file or directory
Sep 01 19:20:59 raspberrypi

[2018-09-16 03:45] hongquan commented on #363
Close, because the problems no longer happen, and the "jack server" seems to be PyAudio's false report.

[2018-09-16 03:45] #363 closed

[2018-09-16 03:47] hongquan commented on #383
Those log are from PyAudio and seem to be just false report.
The log related to "SUSI not working from command line" may be other log and you should debug again.

[2018-09-16 04:45] hongquan commented on #382
Ok, it seems that the ARM server includes a customized `debootstrap` tool, which is the cause.

[2018-09-19 10:26] sansyrox opened #384 "Youtube audio takes a long time to start"
**Describe the bug**
There is a large delay of youtube music even with a strong internet connection.

**To Reproduce**
Start Speaker
1. Ask SUSI to play a song from youtube

**Expected behavior**
To fix the delay and figure out the problem

**Additional context**
To check if its the problem in Raspberry Pi hardware capabilities or in the music player

[2018-09-21 10:39] stealthanthrax opened #385 "The RGB led lights stay ON even after SUSI has completed the answer"
**Describe the bug**
SUSI shows an indication using the lights on the piHat, and sometimes even after the answer has completed, the LED's are still ON.

**To Reproduce**
Steps to reproduce the behavior:
1. Ask a query from SUSI
2. Wait for the response
3. And see that the lights are still ON even after the answer has finished
4. See error

**Expected behavior**
To make the lights turn off after th

[2018-09-22 07:46] hongquan commented on #382
We need to uninstall the pre-included `debootstrap` binary, then reinstall.

Other issue is that, Scaleway include a wrong _/usr/bin/qemu-arm-static_ binary, we have to delete it.

[2018-09-22 09:38] stealthanthrax commented on #384
https://www.youtube.com/watch?v=bCOc8IS0Uq8

[2018-09-22 10:56] hongquan commented on #382
Has fixed the Scaleway ARM server and made the (original) build script run successfully.

Note these issues with Scaleway's OS:

- Including wrong `debootstrap` package. Also include this APT source _scaleway-ubuntu-stable-bionic.list_, which brings wrong `debbootstrap`. Solution: Remove the package, delete that APT source file then install `debootstrap` again.

- Delete file _ /usr/bin/qemu-arm-s

[2018-09-22 19:47] stealthanthrax opened #386 "To add the link to the latest working Android apk in the repo"
**Describe the bug**
One has to navigate to and from the android repo and susi linux repo for app links.

**Expected behavior**
To add the link in the repo

**Additional context**
I'd like to take this up

[2018-09-22 19:51] stealthanthrax commented on #383
Closing this as this was a random One time issue

[2018-09-22 19:51] #383 closed

[2018-09-22 20:09] stealthanthrax commented on #384
As suggested by @cweitat , https://stackoverflow.com/questions/49354232/stream-youtube-audio-from-python-using-url-without-downloading-python/49354406#49354406

We can use this method, also we can create a simple media server as an add-on to integrate the play and pause features

[2018-09-25 06:52] hongquan commented on #384
[`pafy`](https://github.com/mps-youtube/pafy) actually uses `youtube-dl` under the hood. So, you still can use `youtube-dl` to retrieve the streaming URL.

[2018-09-25 22:16] #386 closed

[2018-09-27 16:38] hongquan opened #388 "Disable IPv6 for Avahi"
Due to Avahi [bug](https://github.com/lathiat/avahi/issues/117), sometimes the domain `raspberrypi.local` cannot be resolved.

We will produce OS image with modified avahi-daemon config, so that IPv6 for Avahi is disabled.

[2018-09-28 02:41] hongquan commented on #382
Scaleway ARM server get bug again. They built the OS image on cross-compilation environment (build ARM OS on x86 machine), so there is a lot of problem.

I'm back to build Raspbian on my RPi (requires VPN setup to let me access it to check the progress of build when I'm not at home).

I added a substage _stage2/03-susi_, where I put the step to clone susi_linux by Git. The building is stuck:

[cod

[2018-09-28 03:53] hongquan commented on #382
Found out that I had typo in GitHub URL.

[2018-09-28 04:53] hongquan commented on #382
The susi_linux's _install.sh_ script has run successfully in build environment:

[code]

However, because of its abnormal behavior, it made the Raspbian build script fail.

We need to modify our install script to make it compatible with Raspbian build script.

[2018-09-28 05:00] hongquan commented on #382
In the build environment, the step to check for ReSpeaker driver seems to work incorrectly, hence, step for installing driver was skipped.

[2018-09-29 03:49] hongquan commented on #382
See which processing are holding the mount point

[code]

Those processes seems to be from the being-built Raspbian image.

[2018-09-30 01:08] hongquan commented on #382
Those Java processes can be stopped with `gradle --stop`.

[2018-09-30 03:45] hongquan commented on #382
Even I run `gradle --stop` and wait for 5 seconds, those Java processes are not always gone.

[2018-09-30 10:57] kasojumounika opened #390 "web search responses are not working"
susi ai speaker could not get information from web search.

**To Reproduce**
Steps to reproduce the behavior:
1.say susi.
2. What is famous in Hyderabad.
3. It just processes the web query but doesn't give the answer.

**Expected behavior**
As i questioned what famous in hyderabad.i expected susi to answer Charminar. Charminar is a historic monument in Hyderabad. ...
Falaknuma Palace. Falaknuma Pa

[2018-09-30 10:59] kasojumounika commented on #390
I would like to work on this issue.

[2018-10-03 13:29] stealthanthrax commented on #390
sure ,@kasojmounika :+1:

[2018-10-03 13:45] stealthanthrax opened #393 "To add a way to create automated Raspbian images via QEMU and Travis"
**Is your feature request related to a problem? Please describe.**
To fix the problem of manually creating images with win32imager

**Describe the solution you'd like**
An approach suggested by @xeon-zolt during jugaadfest to use qemu with travis and release a new image on every PR.

**Additional context**
![42953135_299959934153269_4223152633902268416_n](https://user-images.githubusercontent.com/

[2018-10-03 15:49] hongquan commented on #393
The purpose of this issue is duplicate with https://github.com/fossasia/susi_linux/issues/382

[2018-10-07 15:27] hongquan commented on #382
Fork pi-gen and add our custom script (_stage2.5_) here: https://github.com/fossasia/pi-gen (_susi_ branch).

[2018-10-08 04:29] stealthanthrax commented on #315
A library called celery can be used with this

[2018-10-08 14:48] hongquan commented on #382
Today, our _pi-gen_ script has successfully generated the image:

[code]

I name our image _SUSIbian_.

This task can be consider complete. Next, I will try to do:

- Make it runnable by TravisCI
- Reduce build time

[2018-10-08 14:53] #382 closed

[2018-10-11 14:18] stealthanthrax opened #395 "Random White Lights are turned ON on the piHat on boot"
**Describe the bug**
Sometimes, when the Raspberry Pi is started there is a white light indication on the ReSpeaker

**To Reproduce**
Steps to reproduce the behaviour:
1. Attach the ReSpeaker
2. Boot your RPi
3. Keep rebooting until you see the white light

**Expected behaviour**
No "random" light should  be there. A decided animation can be added.

**Additional context**
I'd like to work on this

[2018-10-12 04:05] #388 closed

[2018-10-13 15:59] #395 closed

[2018-10-13 16:39] stealthanthrax opened #398 "SUSI Linux crashing when loosing internet connectivity"
**Describe the bug**
Earlier, when there was a disconnection, SUSI Linux would switch to flite and PocketSphinx as the tts and stt providers. Now, when there is an internet disconnection the program crashes out saying that no internet is available

**To Reproduce**
Steps to reproduce the behaviour:
1. Start the Program
2. Talk generally
3. Close the internet connection
4. See the bug

**Expected b

[2018-10-14 06:05] ftyers opened #399 "Add support for pocketsphinx for wakeword detection"
**Is your feature request related to a problem? Please describe.**

It's frustrating to rely on non-free software.

**Describe the solution you'd like**

Let's use free software for the wakeword detection, like [pocketsphinx](https://github.com/cmusphinx/pocketsphinx) or something else.

[2018-10-14 06:08] prateekiiest commented on #399
we are using pocketsphinx for stopword detection

[2018-10-14 06:47] ftyers commented on #399
I understood that [snowboy](https://snowboy.kitt.ai/) was being used. Perhaps I am mistaken?

[2018-10-14 07:28] prateekiiest commented on #399
As for the time being, we are using both options depending on whether the user has snowboy installed or not.

https://github.com/fossasia/susi_linux/blob/87d4495bf0041d6cab85af06c5de24153e3b1cb3/main/hotword_engine/__init__.py

so you can switch to any one of them, upon your wish.

The pocketsphinx implementation is here https://github.com/fossasia/susi_linux/blob/62b23b1147a8ef22bb08f2ad97b0772e3

[2018-10-16 01:14] tmccormi commented on #309
Adding an action to change the volume up and down seems to be relevant for this feature request as well

[2018-10-16 17:42] tmccormi opened #402 "Wakeword detection on RPI Device is too fuzzy"
Any number of sounds that are not the word SUSI pronounced by me including parts of english sentences and even random humming (which I do a lot) wake up the device.

To reproduce, just have one on in the room and have normal conversations with people.  Or just say the word Fuzzy ...

**Expected behavior**
Wakeup should only happen (mostly) with a clearly recognized word.

**Desktop (please complet

[2018-10-16 18:16] tmccormi commented on #402
Seriously, clearing my throat triggers SUSI :-)

[2018-10-17 04:12] #385 closed

[2018-10-17 06:15] stealthanthrax commented on #402
@tmccormi , a possible fix would be to reduce the sensitivity of the hotword detection to a lower scale and train the model with different accents

[2018-10-18 15:50] stealthanthrax opened #403 "To have a static ip address on SUSI Linux"
**Describe the bug**
When SUSI Linux is operating in Normal mode, connected to a wifi, it has a fluctuating IP address and connecting via SSH connection makes it a tedious task.

**To Reproduce**
Steps to reproduce the behavior:
1. Complete the SUSI installation
2. Start SUSI
3. Try to connect it via SSH
4. See error

**Expected behavior**
To have a static IP address and improve the process of con

[2018-10-19 05:40] hongquan commented on #403
If someone wants to SSH to RPI without trouble of fluctuating IP address, he/she should either:

- Use RPi's mDNS domain name `raspberrypi.local` instead of IP address. Linux laptop should be installed these packages `libnss-mdns`, `avahi-daemon`, which are already pre-included in major distros (Ubuntu, Fedora).

- Configure his/her home router to assign fix IP for RPi (based on MAC address).

**N

[2018-10-19 17:44] stealthanthrax commented on #403
Okay @hongquan , makes sense. We should then add these ways in the documentation for easy access.

[2018-10-20 03:48] hongquan commented on #403
I added a wiki here: https://github.com/fossasia/susi_linux/wiki/Connect-to-RPi-with-a-fixed-address

[2018-10-20 03:48] #403 closed

[2018-10-22 16:36] hongquan opened #406 "Integrate SUSIbian build script to CI"
This issue is to track what I'm doing to make it able for Travis to run our SUSIbian (Raspbian for SUSI) build script and generate the image.

Because the build script need to install ReSpeaker driver, and the ReSpeaker install script [explicitly check](https://github.com/respeaker/seeed-voicecard/blob/master/install.sh#L8) for the presence of Raspberry Pi, our build script need to be run on real

[2018-10-22 17:09] hongquan commented on #406
Found this Docker image: https://hub.docker.com/r/multiarch/debian-debootstrap/. Don't know if it can help something.

[2018-10-22 17:35] hongquan commented on #406
pi-gen author include a script to let run the build script inside a Docker container. This Docker container is also include QEMU, so that it can run ARM binary. I'm trying this Docker script, to see if it can generate Raspbian successfully.

[2018-10-22 18:49] hongquan commented on #406
Encounter some error related to QEMU when running the above Docker script:

[code]

[2018-10-22 18:50] hongquan commented on #406
Other error:

[code]

[2018-10-23 07:28] stealthanthrax commented on #406
@hongquan , I am already trying to integrate this script in Travis. In my latest PR and its almost near completion . Please wait.

[2018-10-23 07:51] VishalSharma0309 commented on #332
Can I work on this?

[2018-10-23 07:52] stealthanthrax commented on #332
Sure @VishalSharma0309 , go ahead 👍

[2018-10-24 04:01] hongquan commented on #406
@stealthanthrax Which PR do you mean? #405 or #392 ?

[2018-10-24 07:11] stealthanthrax commented on #406
@hongquan , in #392

[2018-10-25 13:44] hongquan commented on #406
What I found so far:

- TravisCI doesn't provide real ARM hardware.
- {QEMU + x86 machine + Docker} (Docker container is to make sure things are setup correctly) can build Raspbian Lite image (without our software).
- When {QEMU + x86 machine + Docker} run our customization part (to build SUSIbian), QEMU throws some warning messages (because some system calls are not supported in QEMU). The ReSpea

[2018-10-25 17:57] hongquan commented on #406
Trying running build script from Buildkite. First pic is what we see from Buildkite webpage. Second pic is that _buildkite-agent_ is running the script in my RPi:

![image](https://user-images.githubusercontent.com/314607/47520327-17d2ae80-d8ba-11e8-8dcd-fdb1e1068862.png)

![2018-10-26_00-53](https://user-images.githubusercontent.com/314607/47520346-228d4380-d8ba-11e8-9620-d7c2ac35963a.png)

[2018-10-26 17:11] hongquan commented on #406
Build log from the last trial:

[build-susibian_build_13_run-build-dot-sh.log.gz](https://github.com/fossasia/susi_linux/files/2520120/build-susibian_build_13_run-build-dot-sh.log.gz)

Problem: Failed to build Java SUSI Server, due to `java.security.InvalidAlgorithmParameterException: the trustAnchors parameter must be non-empty`.

[2018-10-27 07:18] hongquan commented on #406
[Fixed](https://github.com/fossasia/pi-gen/commit/3d37bd4d2db99fccfdd73f24049c04dc9ebf8c25) the Java error.
The code for Buildkite integration is in https://github.com/fossasia/pi-gen/tree/susi-buildkite

[2018-10-31 13:13] hongquan commented on #406
Due to difference of repo, we want to trigger image building on event of `susi_linux` repo, but the actual build script is on `pi-gen`, we have to setup 2 Buildkite pipelines for 2 repos. The event on `susi_linux` will trigger its pipeline, which in turn triggers the `pi-gen` pipeline.

[2018-10-31 17:24] hongquan commented on #406
Successfully to make 2 chained Pipelines works.

![image](https://user-images.githubusercontent.com/314607/47806429-565de280-dd6c-11e8-990c-5ec583513d3a.png)

But the build time is not satisfactory. It is too long (due to download speed not good at my home).

[2018-10-31 17:49] stealthanthrax commented on #406
I am not sure why more reconnaissance on this topic is needed. We already have an open PR which requires only some minor fixes. Team progress would be much faster if we collab on that PR.

[2018-10-31 18:06] hongquan commented on #406
@stealthanthrax What are minor fixes in #392?

How can I collab when I [requested](https://github.com/fossasia/susi_linux/pull/392#issuecomment-433595254) you to provide your build log, but you _never_ give?

I also [requested](https://github.com/fossasia/susi_linux/pull/392#discussion_r228732862) you to fix the file name. What is your response? Only silence. That is what you called "collab"?

Whe

[2018-10-31 18:55] stealthanthrax commented on #406
@hongquan , I updated every item in my PR description but you never read any of them.

[2018-10-31 18:59] hongquan commented on #406
@stealthanthrax Updated? Show me the links of your response of all my questions above!

I always give links as evidence. But you never!

[2018-10-31 19:15] hongquan commented on #406
@stealthanthrax:

This is your desc of that PR

It is not a valid explanation of "Why the OS is Debian Stretch but you use Jessie kernel".

If you don't find the right kernel, why don't you just stop the work?

[2018-10-31 19:18] stealthanthrax commented on #406
https://github.com/fossasia/susi_linux/pull/392#issuecomment-433650354

[2018-10-31 19:32] stealthanthrax commented on #406
I queried about the type of log you were refering to , but no reply was given grom your side.

[2018-10-31 19:37] stealthanthrax commented on #393
Update:

The QEMU scripts seem to work fine now. There is some issue with the install scripts and would be fixed within a week now

[2018-11-01 07:30] hongquan commented on #406
@stealthanthrax No reply? Then what is this?

![reply 1](https://user-images.githubusercontent.com/314607/47838667-a081ab00-dde2-11e8-92ee-f7d7b712f342.png)

[2018-11-01 08:10] hongquan commented on #393
You keeps saying that your QEMU script works fine, but until now, I still don't see any evidence to show that "it works".

The Travis log in #392 show that it even *cannot* start the virtual machine, let alone run the install script.

[2018-11-01 12:42] stealthanthrax commented on #393
@hongquan , you can check here https://api.travis-ci.org/v3/job/449021181/log.txt , you will see that after qemu has started the raspbian OS, it crashes out in an "alsa" problem coming via the installation script.

[2018-11-01 13:29] hongquan commented on #393
@stealthanthrax That log shows that the `qemu-system-arm -kernel ./kernel-qemu-4.4.34-jessie -append...` command failed, not the install script.

Because, the beginning of the install script is the "apt-get update" command. If the `qemu-system-arm` passed, and the install was run, there must be output of `apt-get update` in the log.

[2018-11-01 13:46] hongquan commented on #393
To compare, this is the build log of my PR #410:

- The line 15615 is where the _./install.sh_ script started to run.
- The line 24704 is where _cmu_us_slt.flitevox_ was downloaded.
- The line 24824 is where _susi_server_ was cloned.
- The line 27627 is where the image file was generated and being compressed.
- The line 26134 is where Gradle finished to build susi_server
- The line 26282 is the me

[2018-11-03 08:26] #384 closed, assigned to sansyrox

[2018-11-04 02:54] #399 closed

[2018-11-04 07:58] stealthanthrax commented on #402
Fixed here : [link](https://github.com/fossasia/susi_linux/issues/399)

[2018-11-04 07:58] #402 closed

[2018-11-12 18:01] hongquan commented on #406
Solved by #410

[2018-11-12 18:01] #406 closed

[2018-11-12 18:55] hongquan opened #413 "Song not played due to wrong communication"
**Describe the bug**

This bug is introduced by #391.
When speaking to susi_linux: "play cheerleader", the main module calls music_server API with "/song/ytd-jGflUbPQfW8" URL. But this URL is not recognized by music_server.

The code
https://github.com/fossasia/susi_linux/blob/06fd30002091e3422252040d526180643abc066c/youtube_player/music_server.py#L15-L17

clearly shows that, this module expects U

[2018-11-16 16:51] hongquan opened #416 "Give more detail in OS image's file name"
Currently, the OS image file is named: *[year-month-day]-SUSIbian-lite-plus.img.xz*. This will cause conflict if we build many images in one day.

I will give more detail. Maybe add the "version" (Git hash) of the source code which that image is built on.

[2018-11-16 21:16] stealthanthrax opened #417 "Stop Command doesn't stop the youtube video playing"
**Describe the bug**
The stop keyword still tries to kill the mpv music player instead of the vlc daemon

**To Reproduce**
Steps to reproduce the behaviour:
1. Play the music Video by Saying "play Hall of Fame"
2. And then Say SUSI Stop
3. It will not stop the music
4. See error

**Expected behaviour**
To make the music stop

**Additional context**
I'd like to take this up

[2018-11-19 07:11] #417 closed

[2018-11-20 03:00] hongquan opened #419 "Change destination for uploading image"
Michael sponsors a hosting server at http://download.susi.ai/susibian/, so let our Pipeline upload the image to it.

[2018-11-20 03:06] hongquan commented on #416
Resolved by 2503ded and https://github.com/fossasia/pi-gen/commit/f897439554d8d844d0cf42e37817b73000f9cc5d.

First image with that name scheme is http://download.susi.ai/susibian/SUSIbian_2018-11-20-09ee0e5.img.xz

[2018-11-20 03:07] hongquan commented on #419
Resolved by https://github.com/fossasia/pi-gen/commit/d4984890918cbe830db90d2ed9d263101668e27d

[2018-11-20 03:07] #419 closed

[2018-11-20 09:07] stealthanthrax commented on #413
Fixed here : [link](https://github.com/fossasia/susi_linux/pull/415)

[2018-11-20 09:07] #413 closed

[2018-11-27 11:15] lskillen commented on #236
@hongquan Please feel free to consider [Cloudsmith](https://cloudsmith.io) as well for packaging. :-)

It's also commercial but has very generous free plans and offerings for open-source projects (100GB of storage and 1TB of bandwidth, with more available on request). You can setup an org with several users to manage the account.

*Full disclosure*: I work for Cloudsmith, so might be biased (but o

[2018-11-27 13:58] hongquan opened #422 "Cache Python packages for OS image building"
Currently, the OS image building process takes sometimes to download and install Python packages. I think we can reduce build time by caching downloaded Python packages (in _~/.cache/pip_). Note that those cached files won't be included in the final image.

[2018-11-28 02:17] hongquan commented on #236
@lskillen Great! I will give it a try. Thank you.

[2018-12-09 04:04] hongquan commented on #422
Done. The method is to:

- Reserve a folder on RPi to store Pip cache. My convention is, if the working folder of _buildkite-agent_ is _/var/lib/buildkite-agent/builds/quan-pi-one-2/fossasia/build-susibian_, the pip cache folder will be _/var/lib/buildkite-agent/builds/quan-pi-one-2/fossasia/Pip-cache_.

- Update _pi-gen_ to accept an environment variable, `$DIR_CACHE_PIP`, which points to that fo

[2018-12-09 04:04] #422 closed

[2018-12-09 04:15] hongquan opened #423 "Add logging feature to SUSI Linux"
SUSI Linux currently lacks logging, which make difficult to debug.

My plan is:
- Add `v` option to command line, to increase "verbosity" when needed. For example, calling `python -m main -v` will make SUSI Linux throw more log messages.
- There are 3 levels of log. The level 0 (no `v` option) is to run SUSI in "production" mode, only `error`, `warning` messages are shown. The level 1 (`-v`) is to

[2018-12-09 04:32] hongquan opened #424 "It is hard to wake up SUSI with hotword"
**Describe the bug**
The hotword detection seems not working well. When I call "SUSI", it often not recognize my voice (success rate is about 1/10). When I and my friends are talking nearby, sometimes SUSI thinks that we call it and it responds.

**Additional context**
Maybe we have to train `snowboy` again. Don't know how the _susi.pmdl_ file is made yet.

[2018-12-09 07:31] stealthanthrax commented on #424
@hongquan , it is made via this website https://snowboy.kitt.ai/

[2018-12-12 11:42] stealthanthrax opened #426 "To not disable lan port while in the access point mode"
**Describe the bug**
Currently, the lan port is disabled when the speaker is in an access point mode.

**To Reproduce**
Start the script 'wap.sh' and try to ssh via the lan port

**Expected behavior**
To not disable the lan port and alter the script accordingly

**Additional context**
I can try to resolve this issue , but as far as I remember , the raspi wifi module doesn't support access point an

[2018-12-13 03:47] #309 closed

[2018-12-14 02:45] hongquan commented on #416
Image after PR #428 is merged:
http://download.susi.ai/susibian/SUSIbian_development_2018-12-14_PR428_rev26688ce.img.xz

The filename already contains the info we want (branch name and PR).

We have to deduce PR ID from commit message. It can only work with GitHub default commit message for PR merging, if our reviewer/developer modify the message, we cannot guess the PR ID.

[2018-12-14 02:45] #416 closed

[2018-12-14 21:01] stealthanthrax opened #429 "To Document a list of tests for the release Image"
**Is your feature request related to a problem? Please describe.**
To document a list of tests that a Person must keep in mind while testing a new release image.

**Describe the solution you'd like**
To document a list in the README and the PR template and create python tests for the ones possible.

**Additional context**

I'd like to work on this in three parts:

[ ] - Documentation
[ ] - PR Temp

[2018-12-15 07:46] stealthanthrax opened #431 "Figure out how to change the volume on the PiHat"
**Is your feature request related to a problem? Please describe.**
Currently, unable to modulate the volume on the ReSpeaker and we are having a constant

**Describe the solution you'd like**
Find a way to control volume from the software.

**Describe alternatives you've considered**
I tried using 'alsamixer' but wasn't working with the piHat.

**Additional context**
Add any other context or scree

[2018-12-15 14:25] sansyrox opened #432 "SSH is not enabled by default in the latest image"
**Describe the bug**
SSH is not enabled by default in the latest image (released on 13 Dec) which causes some issues in testing.

**To Reproduce**
Steps to reproduce the behavior:
1. Mount the image
2. Wait for "SUSI.AI" hotspot to appear and connect to it.
3. Try to ssh via the commands `ssh pi@raspberrypi.local or ssh pi@10.0.0.1`
4. See error

**Expected behavior**
To fix this issue

**Addition

[2018-12-15 19:24] sansyrox opened #433 "The Music Server not pausing when processing another query"
**Describe the bug**
Currently, as the music server occupies the pulseAudio server , SUSI process the second but is unable to speak as no output server is free.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the SUSI programme
2. Say "SUSI, play Hall of Fame"
3. While it's playing the music, say "SUSI, who created you?"
4. See error

**Expected behavior**
To pause the music while proc

[2018-12-16 10:05] hongquan commented on #432
Note that, "not enable SSH" is the default behavior of Raspbian, that is why there is this documentation: https://www.raspberrypi.org/documentation/remote-access/ssh/README.md

[2018-12-16 15:05] stealthanthrax commented on #432
Yes, but we decided to add it in our script to make it easier for the devs to debug.

[2018-12-16 18:34] hongquan commented on #432
I think this issue is not "bug" and it doesn't "causes some issues in testing". You only need to enable SSH after flashing the image and no more issue.

[2018-12-16 18:59] stealthanthrax commented on #432
Yeah right. Maybe a feature? Cause, it would be easier for devs don't know how to enable headless ssh, and would then have to arrange an external screen.

[2018-12-17 06:51] hongquan commented on #433
I think that yours hypothesis "no output server is free" is not correct, because a server is supposed to "serve many clients". PulseAudion in fact can serve many applications, which need to access sound card, at once (that is why PulseAudio was born).
So, the problem must be due to something else, not "no server is free".

[2018-12-17 08:30] hongquan commented on #432
Yes, this task can be seen a feature.
And the right approach, I think, is to modify https://github.com/fossasia/pi-gen to "not disable SSH". In original Debian, if you install _openssh-server_, it will be enabled by default. Raspbian project modified this behaviour by intentionally disable SSH server,

[2018-12-17 08:32] #429 closed

[2018-12-17 18:46] stealthanthrax commented on #432
@hongquan , if we enable it in the install script via `system-ctl` will it be disabled again by the pi-gen script?(if we do not modify the pi-gen script)

[2018-12-18 07:14] hongquan commented on #432
@stealthanthrax It won't be disabled again. Your approach of "enable with systemctl" is easier to implement. Let's go with it.

[2018-12-18 13:13] hongquan commented on #424
The hotword detection works on my RPi now. The reason is that I put my RPi in a box (to protect it from dust), and it also block my voice.

[2018-12-18 13:13] #424 closed

[2018-12-18 14:23] hongquan opened #434 "Delete old image files after upload"
After building and uploading SUSIbian image, keep the 3 most recent files and delete others.

[2018-12-18 14:24] #434 closed, assigned to nobody

[2018-12-20 10:33] #423 closed

[2018-12-20 23:18] #431 closed

[2018-12-22 03:53] hongquan opened #438 "To download and install SUSI server from binary release"
SUSI server has been compiled and released as binaries at: http://download.susi.ai/susi_server/
So, let's change our install script, to download and install SUSI server from those binaries, instead of building from source on RPi.
By doing this, we can:
- Reduce install time.
- Reduce image size (won't have to include Gradle and other libraries for building).

[2018-12-24 20:48] stealthanthrax commented on #433
`
[<susi_python.models.AnswerAction object at 0x73954750>]
[<susi_python.models.AnswerAction object at 0x73954750>]
<susi_python.models.AnswerAction object at 0x73954750>
ALSA lib pcm_dmix.c:1018:(snd_pcm_dmix_open) unable to create IPC semaphore
sox FAIL formats: can't open output file `default': snd_pcm_open error: Permission denied
ERROR:main.states.busy_state:Got error:
`

@hongquan , I was fa

[2018-12-26 10:29] hongquan opened #441 "To integrate prebuilt SUSI Server"
SUSI Server has been released as binaries at http://download.susi.ai/susi_server/
Let's change our install script to download and install SUSI Server from that binary release instead of cloning source and build on RPi.

[2018-12-27 07:47] #441 closed

[2018-12-27 15:53] stealthanthrax opened #443 "To access all the music files in the media Daemon"
**Describe the bug**
Currently, for the media daemon to work, it only scans for mp3 files and in only a specific folder. I would like to make it scan all directories and all possible playable extensions

**Expected behavior**
Use recursive behavior instead of looping the directory.

**Additional context**
I would like to work on this issue.

[2018-12-27 18:32] hongquan commented on #441
Image size before:

![image](https://user-images.githubusercontent.com/314607/50490552-4434b380-0a40-11e9-974d-da1f7d72d0da.png)

After:

![image](https://user-images.githubusercontent.com/314607/50490587-6c241700-0a40-11e9-9878-75b4d9c1ee08.png)

[2018-12-29 09:22] #432 closed, assigned to nobody

[2019-01-01 21:52] stealthanthrax opened #445 "Add a feature of booting offline"
#### Describe the bug
Currently, when the internet connection is turned off, SUSI shuts down saying no internet connection is available

#### To Reproduce
Steps to reproduce the behavior:
1. Start the programme
2. Disconnect the internet connection

#### Expected behavior
To make it work offline again

[2019-01-05 13:06] stealthanthrax opened #447 "Allowing the user to choose between Google STT and PocketSphinx"
#### Is your feature request related to a problem? Please describe.
Currently, SUSI checks the availability of the internet connection and automatically changes the STT to Google

#### Describe the solution you'd like
To add a field of 'stt' in the config.json file via the config generator and then add checks in the complete programme

#### Additional context
Add any other context or screenshots a

[2019-01-06 08:29] sansyrox opened #449 "Codacy pointing towards the master branch"
#### Describe the bug
As the development is taking place in the development branch, it makes sense to make codacy point at the development branch.

#### Expected behavior
To make codacy point at the development branch.

#### Additional context
Add any other context about the problem here.

[2019-01-07 06:40] hongquan commented on #438
This has been solved: http://download.susi.ai/susi_server/

[2019-01-07 06:40] #438 closed

[2019-01-07 06:40] hongquan commented on #330
Done.

[2019-01-07 06:40] #330 closed

[2019-01-07 06:41] hongquan commented on #323
Done.

[2019-01-07 06:41] #323 closed

[2019-01-07 06:42] hongquan commented on #322
We release on our server instead: http://download.susi.ai/susibian/

[2019-01-07 06:42] #322 closed

[2019-01-17 12:01] irthomasthomas opened #451 "Support for Ubuntu"
I am trying to follow your instructions to run on ubuntu 18.04 but there appears to be information missing from the guide. For example the setup script requires parameters which are not documented. Moving past that, when I try to run the demo I am missing the alsaaudio module which is not available for python3. Am I supposed to build alsaaudio from somewhere?

Thanks in advance.

[2019-01-18 05:28] #433 closed, assigned to nobody

[2019-01-18 05:46] hongquan commented on #451
@irthomasthomas Sorry for outdated doc.
Recently, we put focus to Raspberry Pi, so the install script is likely not working on Ubuntu. If you have a board, please download the firmware image here: http://download.susi.ai/susibian/ and help test.

About the _pyalsaaudio_ modules. It is compatible with Python 3 (we have tested it on Raspberry Pi), but the PyPi doesn't provide a [prebuilt binary](htt

[2019-01-18 06:00] hongquan opened #452 "Temporarily remove Travis CI"
Currently, we don't have any test case. Our Travis CI only does a trivial task: Run a part of install script, and just the easiest part: install some packages via `pip` and `apt`. It doesn't bring much value and it waste TravisCI, so I think we should suspend Travis CI until we have test case.

To test if our install script, we already have Buildkite Pipeline, which runs the whole install script,

[2019-01-19 14:21] irthomasthomas commented on #451
@hongquan
Ok thanks. I followed your instructions and I'm a little further along now but now I get the error no module 'susi_python'

[2019-01-19 20:37] #445 closed

[2019-01-19 20:43] stealthanthrax opened #453 "The SUSI Server Doesn't auto boot"
#### Describe the bug
The SUSI Server doesn't autoboot and one has to manually boot it to work on the functionality,

#### To Reproduce
Steps to reproduce the behavior:
1. Start RasPi after installation
2. Ping localhost:8000

#### Expected behavior
To make it autoboot

#### Additional context
I'd like to take this up

[2019-01-20 03:34] hongquan commented on #453
It is automatically started, but because of some unknown reason, the startup is not always successful.

[2019-01-20 19:59] stealthanthrax commented on #451
@irthomasthomas , actually the code is focused on Raspebrry Pi and includes a lot of arm specific libraries. So, the code is likely to not work on x64 or x86 pcs.
However, can you add the exact log here?

[2019-01-21 03:21] hongquan commented on #451
@irthomasthomas

The install script didn't run successfully on your machine, and hence, `susi_python` was not installed.

[2019-01-29 17:59] stealthanthrax commented on #336
Taking up this issue

[2019-01-29 17:59] stealthanthrax commented on #332
Taking up this issue

[2019-01-29 18:35] stealthanthrax commented on #324
Closing as this issue is solved.

[2019-01-29 18:35] #324 closed

[2019-01-29 19:19] stealthanthrax opened #457 "To add a uninstall script for packages"
#### Is your feature request related to a problem? Please describe.
To add an uninstall script for the packages. it would help us ease the process of implementing the soft-reset feature.

#### Describe the solution you'd like
To create an uninstall script.

#### Describe alternatives you've considered
We can either delete all packages from the package from a soft-reset daemon itself or create a se

[2019-01-29 19:19] stealthanthrax commented on #457
@mariobehling @Orbiter @hongquan @cweitat , your suggestions?

[2019-01-30 14:52] #336 closed

[2019-02-01 06:54] stealthanthrax commented on #332
Fixed Here https://github.com/fossasia/susi_linux/pull/455

[2019-02-01 06:54] #332 closed

[2019-02-03 18:07] stealthanthrax commented on #457
Okay @hongquan , I will try to look into packaging. Do you know of any good place to start reading?

[2019-02-07 15:40] hongquan commented on #457
Sorry, there is no good tutorial. I used to do it some years ago, but my knowledge may be outdated.

And before packaging, we need to redefine the app structure. Cannot let the app running inside _/home/pi_ like now. More things to concern, I already mentioned somewhere in GitHub issues.

[2019-02-22 09:42] stealthanthrax commented on #390
I would like to work on this due to inactivity.

[2019-02-23 14:24] stealthanthrax opened #459 "SUSI Linux Not booting without internet connection"
#### Describe the bug
SUSI Linux is crashing on booting up without an internet connection.

#### To Reproduce
Steps to reproduce the behavior:
1. Disconnect the internet from your raspberry pi
2. Run using cli `python3 -m main -v`
3. See error

#### Detailed behavior
The programme is crashing when booting without an internet connection.
It looks like the bug is caused when the programme is trying

[2019-02-23 14:30] stealthanthrax opened #460 "Music Player crashing and vlc giving out MRL error"
#### Describe the bug
SUSI Crashing when we are trying to fetch music from youtube as vlc is giving an MRL error.
Also music actions are not working.

#### To Reproduce
Steps to reproduce the behavior:
1. Run the programm
2. Start a music playing action
3. SUSI will crash out.
4. See error

#### Expected behavior
To fix it.

#### Additional context
I'd like to take this up.

[2019-02-23 14:31] #460 closed

[2019-02-23 14:31] stealthanthrax commented on #390
This issue has been fixed by a server update and hence closing it.

[2019-02-23 14:31] #390 closed

[2019-02-23 15:36] stealthanthrax commented on #459
@hongquan , do have any knowledge about this issue?

[2019-02-24 06:30] hongquan commented on #459
@stealthanthrax  It is because of this failed request

https://github.com/fossasia/susi_linux/blob/246c612c1c5e0a43d59d7a36ae400a1085df82a9/main/states/susi_state_machine.py#L46-L52

And we caught the exception wrongly (the `ConnectionError` is forgot to import).

[2019-02-27 09:03] #459 closed

[2019-02-28 22:07] stealthanthrax opened #463 "To create a captive page for the login screen and remove the password for the wifi"
#### Describe the bug
Currently , a new landing page has been implemented by @Orbiter and convert it into a landing page will make things a lot easier for the user and removing the password will make the Smart Speaker almost manual free.

#### Expected behavior
To implement an automatic landing page and removing the password

#### Additional context
I would like to try and work on this issue.

[2019-03-07 11:35] stealthanthrax opened #464 "Server not always loading up instantly after the systemd service is executed"
#### Describe the bug
Server not always loading up instantly after the systemd service is executed and the pi changes to the online server instead.

#### To Reproduce
Steps to reproduce the behavior:
1. Try restarting the speaker again and again.
2. it will show a line saying server is down

#### Expected behavior
To connect to the local server as soon as available.

#### Additional context
I'll b

[2019-03-07 17:53] AakashMallik opened #465 "Provide a more detailed image for the workflow of media_daemon.md"
#### Describe the bug
The image provided with the media_daemon.md file could be improved to provide more descriptive information as to when an event is occurring in the time frame.

#### To Reproduce
Steps to reproduce the behaviour:
1. Go to https://github.com/fossasia/susi_linux/blob/development/docs/media_daemon.md

#### Expected behavior
A clear and concise description of the workflow may be p

[2019-03-09 14:49] #465 closed

[2019-03-10 13:00] #464 closed

[2019-03-28 19:55] stealthanthrax opened #472 "To add GitHooks in the repo"
#### Is your feature request related to a problem? Please describe.
While reviewing, a large amount is spent on suggesting small things like whitespace removal, eof addition, etc. With GSoC approaching, we should try to eliminate these small issues and focus on larger issues.

#### Describe the solution you'd like
To integrate GitHooks in the repo to add features like pre-commit checks and indenda

[2019-04-04 13:57] norbusan commented on #426
This would be resolved by PR #475

[2019-04-04 14:01] norbusan commented on #240
Indeed, not only server.py, but also lots of install routines and other parts are filled with sudos, which is not optimal. I will slowly look through it and see if I can get rid of some.

[2019-04-05 01:48] #426 closed

[2019-04-07 16:16] alok760 opened #476 "Enable Continuous Integration and deployment of susi_linux raspberry pi builds"
#### Is your feature request related to a problem? Please describe.
Currently, the automatic builds have to run on real RPi hardware (https://buildkite.com/).
#### Describe the solution you'd like
automation of creating ready to use img files for susi_linux and implement continuous integration on TRAVIS CI.

[2019-04-07 16:24] alok760 commented on #476
i'm working on this.
progress can be checked here - https://github.com/alok760/raspbian_travis
and here - https://travis-ci.org/alok760/raspbian_travis

[2019-04-08 02:16] hongquan commented on #476
The description is not accurate. The image is already built automatically, not manually.

![image](https://user-images.githubusercontent.com/314607/55694572-f33d3f80-59de-11e9-9489-46cce7ad1d98.png)

The only issue is that, it has to be run on real RPi hardware.

[2019-04-11 20:22] stealthanthrax opened #479 "Add an Installation Script for Ubuntu"
#### Is your feature request related to a problem? Please describe.
Now, that we have a basic set of instructions(by @norbusan ) for setting up the smart speaker on an Ubuntu system. We should proceed by creating an installation script for the Ubuntu system as it will allow our development process to proceed much faster

#### Describe the solution you'd like
A bash script like install.sh

[2019-04-11 22:04] VishalSharma0309 commented on #479
I would like to work on this issue.

[2019-04-11 22:36] norbusan commented on #479
I would prefer to have
- first a package of susi-server for Debian/Ubuntu - I am working on this and have already thought out the layout/location of files
- then we can look into the `susi_linux` (python/hotword etc) packaging/installation.

[2019-04-12 10:32] norbusan commented on #479
Those interested can try the `susi_server` installation via Debian package. The following description should work also on Ubuntu (but haven't tested!):

Add the following to `/etc/apt/sources.list.d/susi-ai-preining.list`:
[code]

After that you need to import by GPG key. EIther pick it from the Debian keyring, or simpler:
[code]
(as root, or calling the final apt-key with sudo).

Then do `apt-get

[2019-04-14 15:04] stealthanthrax commented on #479
@norbusan , why do we want to create a package for the server? Won't just a binary suffice?

[2019-04-14 21:58] norbusan commented on #479
@stealthanthrax very easy - if we want to *also* go to the desktop, we need to make it easy **and** a known process to install the necessary parts. Debian/Ubuntu users are used to installing a Debian package via *apt-get`, but not in manual installation.

Furthermore, proper setup is far out of reach for a normal user if you want a system wide susi server running (and you want, you don't want to i

[2019-04-15 05:31] hongquan opened #481 "New code layout for SUSI application"
Sorry I don't have enough time to think carefully to give a proper proposal, so I just give brief of my thinking here and we will discuss about new project layout for SUSI.

### Why we need it?
- To help easier upgrade.
- Reset feature: Reset configuration and reset the whole code files (factory reset).
- To avoid hardcoding "sudo" in our code.

### My suggestion:

- Object is to transform SUSI Se

[2019-04-15 05:42] norbusan commented on #481
Thanks for the ideas, I agree with the general proposal, but want to point out a few things

- I have already packaged `susi_server ` as Debian packages, that works easily.

- I recommend calling the user `_susi` (as I did) or similar, because `susi` might be a valid user name a user might want to take. To avoid collision, the underscore is often used. My susi-server package uses `_susiserver` (se

[2019-04-15 05:48] norbusan commented on #481
Actually git grepping through susi_linux git it is not so bad ... most sudos can be categorized into the following categories:

- `sudo systemctl` enabling/disabling services, most of them related again to wlan setup
- wlan setip (`wifi_search`, `wap`, `rwap`
- `sudo python3 authentication_script` not necessary?
- `sudo python3 configuration_script`: not necessary?
- installation of packages via a